{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>Version</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for plugin in plugins %}
                <tr>
                    <td>{{ plugin.version }}</td>
                    <td>{{ plugin.name }}</td>
                    <td>{{ plugin.description }}</td>
                    <td class="has-text-right">
                        {% if plugin.deleted %}
                            <a class="button is-danger" href="{{ path('admin_plugin_remove', {id: plugin.id}) }}">Remove deleted</a>
                        {% else %}
                            {% if plugin.installed %}
                                {% if plugin.enabled %}
                                    <button class="button is-danger is-light" disabled>Uninstall</button>
                                    <a class="button is-danger is-light" href="{{ path('admin_plugin_disable', {name: plugin.name}) }}">Disable</a>
                                {% else %}
                                    <a class="button is-danger is-light" href="{{ path('admin_plugin_uninstall', {name: plugin.name}) }}">Uninstall</a>
                                    <a class="button is-success is-light" href="{{ path('admin_plugin_enable', {name: plugin.name}) }}">Enable</a>
                                {% endif %}
                            {% else %}
                                <a class="button is-success is-light" href="{{ path('admin_plugin_install', {name: plugin.name}) }}">Install</a>
                                <button class="button is-success is-light" disabled>Enable</button>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}

