{% extends 'base.html.twig' %}

{% block title %}{{ "profile.page_title"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <h1 class="title is-4">{{ 'profile.blocked_page_heading'|trans }}</h1>
                    <p class="mb-4">
                        {{ 'profile.blocked_page_intro'|trans }}
                    </p>

                    {% if blockedUsers|length == 0 %}
                        <div class="notification is-light">
                            <span class="icon"><i class="fa fa-info-circle"></i></span>
                            {{ 'profile_config.blocked_empty'|trans }}
                        </div>
                    {% else %}
                        <table class="table is-fullwidth is-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{{ 'profile.blocked_table_header_user'|trans }}</th>
                                    <th>{{ 'profile.blocked_table_header_blocked_on'|trans }}</th>
                                    <th class="has-text-right">{{ 'profile.blocked_table_header_actions'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for block in blockedUsers %}
                                <tr>
                                    <td class="col-narrow">
                                        {% include '_components/image.html.twig' with {'image': block.blocked.image, 'size': '50x50'} %}
                                    </td>
                                    <td>
                                        <strong>{{ block.blocked.name }}</strong>
                                    </td>
                                    <td>
                                        <small>{{ block.createdAt|date('Y-m-d') }}</small>
                                    </td>
                                    <td class="has-text-right">
                                        <form action="{{ path('app_profile_unblock_user', {'id': block.blocked.id}) }}" method="post" class="is-inline">
                                            <button type="submit" class="button is-warning is-small">
                                                <span class="icon"><i class="fa fa-unlock"></i></span><span>{{ 'member.button_unblock'|trans }}</span>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                    <div class="mt-4">
                        <a href="{{ path('app_profile') }}" class="button is-light">
                            <span class="icon"><i class="fa fa-arrow-left"></i></span><span>{{ 'profile.blocked_button_back'|trans }}</span>
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </section>

{% endblock %}
