{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_profile"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column">

                    <div class="box">
                        <h1 class="title is-5">Settings</h1>
                        <p>more to come soon</p>
                        <p>Startpage: activities/upcoming events/ profile/ messages</p>
                        <br>
                        <br>
                    </div>

                    <div class="box">
                        <h2 class="title is-5">Privacy</h2>
                        <p>more to come soon</p>
                        <br>
                        <br>
                    </div>

                </div>
                <div class="column">

                    <div class="box">
                        <h2 class="title is-5">Change Password</h2>
                        {{ form_start(form) }}
                        {% for flash_error in app.flashes('error') %}
                            <div class="notification is-danger">
                                <button class="delete"></button>{{ flash_error }}</div>
                        {% endfor %}
                        {% for flash_success in app.flashes('success') %}
                            <div class="notification is-success">
                                <button class="delete"></button>{{ flash_success }}</div>
                        {% endfor %}
                        {{ form_errors(form) }}

                        {{ form_row(form.oldPassword) }}
                        {{ form_row(form.newPassword) }}

                        <button class="button is-primary">{{ "button_Change_Password" | trans }}</button>
                        {{ form_end(form) }}

                        <p class="mt-4">
                            If you ever forget your password, you can reset it by using the password <a href="{{ path('app_reset') }}">reset</a> function.
                        </p>
                    </div>

                </div>
            </div>


        </div>
    </section>

{% endblock %}
