{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_profile"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column">

                    <div class="box">
                        <h1 class="title is-5">Settings</h1>
                        <div class="field is-grouped">
                            <div class="control is-expanded">
                                Enable eMail notification dfger
                            </div>
                            <div class="control">
                                {% include '_block/toggle.html.twig' with {
                                    'link': path('app_profile_config_toggle', {'type': 'notification'}),
                                    'status': user.isNotification
                                } %}
                            </div>
                        </div>
                        {% if user.isNotification %}
                            {% for notification in user.notificationSettings.list %}
                                <div class="field is-grouped">
                                    <div class="control is-expanded">{{ notification.label }}</div>
                                    <div class="control">
                                        {% include '_block/toggle.html.twig' with {
                                            'link': path('app_profile_config_toggle_notification', {'type': notification.key}),
                                            'status': notification.value,
                                        } %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="box">
                        <h2 class="title is-5">Privacy</h2>
                        <div class="field is-grouped">
                            <div class="control is-expanded">Show me on the members page for website guests</div>
                            <div class="control">
                                {% include '_block/toggle.html.twig' with {
                                    'link': path('app_profile_config_toggle', {'type': 'public'}),
                                    'status': user.isPublic
                                } %}
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control is-expanded">Can be tagged by others in photos</div>
                            <div class="control">
                                {% include '_block/toggle.html.twig' with {
                                    'link': path('app_profile_config_toggle', {'type': 'tagging'}),
                                    'status': user.isTagging
                                } %}
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control is-expanded">Enable osm maps on the event page</div>
                            <div class="control">
                                {% include '_block/toggle.html.twig' with {
                                    'link': path('app_profile_config_toggle', {'type': 'osm'}),
                                    'status': user.isOsmConsent
                                } %}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="column">

                    <div class="box">
                        <h2 class="title is-5">Change Password</h2>
                        {{ form_start(form) }}
                        {% for flash_error in app.flashes('error') %}
                            <div class="notification is-danger">
                                <button class="delete"></button>{{ flash_error }}</div>
                        {% endfor %}
                        {% for flash_success in app.flashes('success') %}
                            <div class="notification is-success">
                                <button class="delete"></button>{{ flash_success }}</div>
                        {% endfor %}
                        {{ form_errors(form) }}

                        {{ form_row(form.oldPassword) }}
                        {{ form_row(form.newPassword) }}

                        <button class="button is-link">{{ "button_change_password" | trans }}</button>
                        {{ form_end(form) }}

                        <p class="mt-4">
                            If you ever forget your password, you can reset it by using the password <a href="{{ path('app_reset') }}">reset</a> function.
                        </p>
                    </div>

                </div>
            </div>


        </div>
    </section>

{% endblock %}
