{% extends 'base.html.twig' %}

{% block title %}{{ "profile.page_title"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-2">
                    <aside class="menu">
                        <p class="menu-label">{{ 'profile_images.sidebar_general'|trans }}</p>
                        <ul class="menu-list">
                            <li><a class="{% if action == 'profile' %}is-active{% endif %}" href="{{ path('app_profile_images') }}">{{ 'profile_images.sidebar_profile_picture'|trans }}</a></li>
                        </ul>
                        <p class="menu-label">{{ 'profile_images.sidebar_events'|trans }}</p>
                        <ul class="menu-list">
                            {% for event in eventList %}
                                {% set link = path('app_profile_images', {'action': 'event', 'id': event.id}) %}
                                <li><a class="{% if event.id == id %}is-active{% endif %}" href="{{ link }}">{{ event.date }}</a></li>
                            {% endfor %}
                        </ul>
                        {#
                        <p class="menu-label">Food</p>
                        <ul class="menu-list">
                            <li><a href="#">dish A</a></li>
                            <li><a href="#">dish B</a></li>
                        </ul>
                        #}
                    </aside>
                </div>
                <div class="column is-10">
                    <h1 class="title is-6">{{ 'profile_images.page_heading'|trans }}</h1>

                    {% if action == 'profile' %}
                        <p class="notification has-text-centered">
                            {{ 'profile_images.profile_change_hint'|trans({'%profile_link%': '<a href="' ~ path('app_profile') ~ '">' ~ ('profile_images.profile_change_link_label'|trans) ~ '</a>'})|raw }}
                        </p>
                        {% include 'profile/image/image_details.html.twig' with {'image': image, 'size': '400x400'} %}
                    {% endif %}

                    {% if action == 'event' %}
                        {% if image is defined and image %}
                            {% include 'profile/image/image_details.html.twig' with {'image': image, 'size': '1024x768'} %}
                        {% else %}
                            {% include 'profile/image/image_list.html.twig' with {'imageList': imageList} %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>



{% endblock %}
