{% extends 'base.html.twig' %}

{% block title %}{{ "profile.page_title"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-6">
                    {{ form_start(form) }}

                    <div class="box">
                        <div class="columns">
                            <div class="column is-6">
                                {% include '_components/image_upload.html.twig' with {
                                'entity': 'user',
                                'id': user.id,
                                'image': user.image,
                                'rotate': true
                            } %}
                            </div>
                            <div class="column is-6">
                                {{ form_row(form.name) }}
                                {{ form_row(form.bio) }}
                                {{ form_row(form.languages) }}
                                {{ form_row(form.public) }}
                            </div>
                        </div>

                        <div class="has-text-right">
                            <button class="button">{{ 'global.button_save'|trans }}</button>
                        </div>
                    </div>

                    <div class="box">
                        <h2 class="title is-5">{{ 'profile.section_info'|trans }}</h2>
                        <p>{{ 'profile.label_joined'|trans }}: {{ user.createdAt|date('Y-m-d') }}</p>
                        <p>{{ 'profile.label_last_login'|trans }}: {{ lastLogin|date('Y-m-d') }}</p>
                        <p>{{ 'profile.label_email'|trans }}: {{ user.email }}</p>
                        <p>{{ 'profile.label_following'|trans }}: {{ socialCounts.following }}</p>
                        <p>{{ 'profile.label_followers'|trans }}: {{ socialCounts.followers }}</p>
                        <p>{{ 'profile.label_messages'|trans }}: {{ messageCount }}</p>
                        <p>{{ 'profile.label_rsvp'|trans }}: {{ socialCounts.rsvp }}</p>
                        {% if blockedCount > 0 %}
                            <p>{{ 'profile.label_blocked'|trans }}: <a href="{{ path('app_profile_blocked_users') }}">{{ blockedCount }}</a></p>
                        {% endif %}
                    </div>

                    {{ form_end(form) }}

                </div>
                <div class="column is-6">

                    <div class="box">
                        <h2 class="title is-5">{{ 'profile.section_upcoming_events'|trans }}</h2>
                        {% include 'profile/_partials/rsvp_list.html.twig' with {'user': user, 'list': upcoming, 'isPast': false} %}
                    </div>

                    <div class="card is-fullwidth">
                        <header class="card-header">
                            <p class="card-header-title">{{ 'profile.section_past_events'|trans }}</p>
                            <a class="card-header-icon card-toggle">
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </header>
                        <div class="card-content is-hidden">
                            {% include 'profile/_partials/rsvp_list.html.twig' with {'user': user, 'list': past, 'isPast': true} %}
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </section>


{% endblock %}
