{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_profile"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-6">
                    {{ form_start(form) }}

                    <div class="box">
                        <div class="columns">
                            <div class="column is-6">
                                <figure class="image">
                                    {% include '_block/image.html.twig' with {'image': user.image, 'size': '400x400'} %}
                                </figure>
                                {{ form_row(form.image) }}
                                <small>The image should be squarish, it will be cropped</small>
                            </div>
                            <div class="column is-6">
                                {{ form_row(form.name) }}
                                {{ form_row(form.bio) }}
                                {{ form_row(form.languages) }}
                                {{ form_row(form.public) }}
                            </div>
                        </div>

                        <div class="has-text-right">
                            <button class="button">{{ "button_save" | trans }}</button>
                        </div>
                    </div>

                    <div class="box">
                        <h2 class="title is-5">Infos</h2>
                        <p>Joined: {{ user.createdAt|date('Y-m-d') }}</p>
                        <p>LastLogin: {{ lastLogin|date('Y-m-d') }}</p>
                        <p>Email: {{ user.email }}</p>
                        <p>Following: {{ user.following|length }}</p>
                        <p>Followers: {{ user.followers|length }}</p>
                        <p>Messages: x</p>
                        <p>RSVP: {{ user.getRsvpEvents|length }}</p>
                    </div>

                    {{ form_end(form) }}

                </div>
                <div class="column is-6">

                    <div class="box">
                        <h2 class="title is-5">Upcoming events</h2>
                        {% include 'profile/block/rsvp_list.html.twig' with {'user': user, 'list': upcoming, 'isPast': false} %}
                    </div>

                    <div class="card is-fullwidth">
                        <header class="card-header">
                            <p class="card-header-title">My past events</p>
                            <a class="card-header-icon card-toggle">
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </header>
                        <div class="card-content is-hidden">
                            {% include 'profile/block/rsvp_list.html.twig' with {'user': user, 'list': past, 'isPast': true} %}
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </section>


{% endblock %}
