{% extends 'base.html.twig' %}

{% block title %}{{ "profile.page_title"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-7">
                    <h2 class="title is-5">{{ 'profile_social.section_heading'|trans }}</h2>
                    <p>
                        {{ 'profile_social.section_intro'|trans }}
                    </p>
                    <div class="mt-5">
                        {% set initialActivityCount = 12 %}
                        {% for activity in activities|slice(0, initialActivityCount) %}
                            {% include 'profile/_partials/activity.html.twig' with { 'activity': activity} %}
                        {% endfor %}
                        {% if activities|length > initialActivityCount %}
                            <details class="activities-load-more">
                                <summary class="button is-fullwidth mt-3">
                                    {{ 'profile_social.button_load_all'|trans }}
                                </summary>
                                {% for activity in activities|slice(initialActivityCount) %}
                                    {% include 'profile/_partials/activity.html.twig' with { 'activity': activity} %}
                                {% endfor %}
                            </details>
                        {% endif %}
                    </div>
                </div>
                <div class="column is-1">

                </div>
                <div class="column is-4">

                    {%
                        include 'profile/_partials/social_list.html.twig'
                        with {
                            'userlist': friends,
                            'title': 'profile_social.list_friends_title'|trans,
                            'buttonTitle': 'profile_social.button_unfollow'|trans,
                            'buttonColor': 'is-danger'
                        }
                    %}

                    {%
                        include 'profile/_partials/social_list.html.twig'
                        with {
                            'userlist': following,
                            'title': 'profile_social.list_following_title'|trans,
                            'buttonTitle': 'profile_social.button_unfollow'|trans,
                            'buttonColor': 'is-danger'
                        }
                    %}

                    {%
                        include 'profile/_partials/social_list.html.twig'
                        with {
                            'userlist': followers,
                            'title': 'profile_social.list_followers_title'|trans,
                            'buttonTitle': 'profile_social.button_follow_back'|trans,
                            'buttonColor': 'is-success'
                        }
                    %}

                    <p class="mt-4">
                        {{ 'profile_social.find_more_hint'|trans }}
                    </p>

                </div>
            </div>

        </div>
    </section>


{% endblock %}
