{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_profile"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-9">
                    <h2 class="title is-5">Activities</h2>
                    <p>
                        activity stream of the people you follow (and share activities) and your friends. That can be
                        posts,
                        recent RSVPs, comments, likes, etc.
                    </p>
                    <hr>
                    <ul>
                        {% for activity in activities %}
                            <li>{{ activity.createdAt|date('Y-m-d') }}: {{ activity.message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="column is-3">
                    <table class="table is-fullwidth mt-3">
                        <tbody>
                        <tr>
                            <td class="has-text-grey has-text-centered" colspan="2">We follow each other</td>
                        </tr>
                        {% for user in friends %}
                            <tr>
                                <td>{{ user.name }}</td>
                                <td class="has-text-right">
                                    <a href="{{ path('app_profile_social_toggle_follow', {'id': user.id}) }}"
                                       class="button is-danger is-small">
                                        <span class="icon"><i class="fa fa-minus"></i></span><span>Unfollow</span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td class="has-text-grey has-text-centered pt-6" colspan="2">I am following</td>
                        </tr>
                        {% for user in following %}
                            <tr>
                                <td>{{ user.name }}</td>
                                <td class="has-text-right">
                                    <a href="{{ path('app_profile_social_toggle_follow', {'id': user.id}) }}"
                                       class="button is-danger is-small">
                                        <span class="icon"><i class="fa fa-minus"></i></span><span>Unfollow</span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td class="has-text-grey has-text-centered pt-6" colspan="2">People who follow me</td>
                        </tr>
                        {% for user in followers %}
                            <tr>
                                <td>{{ user.name }}</td>
                                <td class="has-text-right">
                                    <a href="{{ path('app_profile_social_toggle_follow', {'id': user.id}) }}"
                                       class="button is-success is-small">
                                        <span class="icon"><i class="fa fa-plus"></i></span><span>Follow back</span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <p class="mt-4">
                        Find more people to follow at the members page or ask for their username at next meetup.
                    </p>

                </div>
            </div>

        </div>
    </section>

{% endblock %}
