{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_translation_edit"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <h1 class="title">{% if is_granted('ROLE_MANAGER') %}Edit{% else %}Suggest{% endif %} Translation</h1>

            <div class="columns">
                <div class="column is-half">
                    <div class="box">
                        {{ form_start(form) }}
                        <div class="field">
                            <label class="label">Placeholder</label>
                            <div class="control">
                                {{ form_widget(form.placeholder) }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Language</label>
                            <div class="control">
                                {{ form_widget(form.language) }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Translation</label>
                            <div class="control">
                                {{ form_widget(form.translation) }}
                            </div>
                            {{ form_errors(form.translation) }}
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                {% if is_granted('ROLE_MANAGER') %}
                                    <button type="submit" class="button is-link">Save</button>
                                {% else %}
                                    <button type="submit" class="button is-link">Suggest</button>
                                {% endif %}
                            </div>
                            <div class="control">
                                <a class="button" href="{{ path('app_translation') }}">Back</a>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="column is-half">
                    <div class="box">
                        <table class="table is-fullwidth">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Examples in other Languages</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for translation in translations %}
                                {% if lang != translation.language and translation.translation is not empty %}
                                    <tr>
                                        <td>
                                            <img class="is-flag-mini"
                                                 src="{{ '/images/flags/' ~ translation.language ~ '.png' }}"/>
                                        </td>
                                        <td>{{ translation.translation }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <h3 class="subtitle">Suggested Changes & history</h3>
            <div class="box">

                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th>SuggestedAt</th>
                        <th>SuggestedBy</th>
                        <th>Before</th>
                        <th>After</th>
                        <th>CheckedBy</th>
                        <th>CheckedAt</th>
                        <th>CheckResult</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for suggestion in suggestions %}
                        <tr>
                            <td>{{ suggestion.createdAt|date('Y-m-d H:i') }}</td>
                            <td>{{ suggestion.createdBy.name }}</td>
                            <td>{{ suggestion.previous }}</td>
                            <td>{{ suggestion.suggestion }}</td>
                            <td>{{ suggestion.approvedBy.name }}</td>
                            <td>{{ suggestion.approvedAt|date('Y-m-d H:i') }}</td>
                            {% if is_granted('ROLE_MANAGER') and suggestion.status.value == 0 %}
                                <td>
                                    <a class="button is-small is-danger" href="{{ path('app_translation_suggestion_deny', {id: suggestion.id}) }}">Deny</a>
                                    <a class="button is-small is-success" href="{{ path('app_translation_suggestion_approve', {id: suggestion.id}) }}">Approve</a>
                                </td>
                            {% else %}
                                <td>{{ suggestion.status.name }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </section>

{% endblock %}
