{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_translation"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <h1 class="title">Translations</h1>

            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <th>Key</th>
                    {% for enabledLocale in enabled_locales %}
                        <th>{{ enabledLocale|upper }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for key, translation in translationMatrix %}
                    <tr>
                        <td>{{ key }}</td>
                        {% for enabledLocale in enabled_locales %}
                            {% if translation[enabledLocale] is defined %}
                                {% set value = translation[enabledLocale]['value'] ?? '' %}
                                {% set id = translation[enabledLocale]['id'] %}
                                {% if value is null or value is empty %}
                                    {% set warning = 'is-warning has-background-warning-light' %}
                                {% else %}
                                    {% set warning = '' %}
                                {% endif %}
                                <td class="{{ warning }}">
                                    {% if is_granted('ROLE_USER') %}
                                        <a href="{{ path('app_translation_edit', {'id': id, 'lang': enabledLocale}) }}">
                                            <span class="icon is-small"><i class="fas fa-edit has-text-grey-light"></i></span>
                                        </a>
                                    {% endif %}
                                    {{ value }}
                                </td>
                            {% else %}
                                <td class="is-danger">Error on value not readable</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </section>

{% endblock %}
