{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href='/stylesheet/jstable.min.css'/>
{% endblock %}

{% block content %}

    <div class="container">

        <table id="filteredTable" class="table is-fullwidth">
            <thead>
            <tr>
                <th>CreatedAt</th>
                <th>Uploader</th>
                <th>Size</th>
                <th>Location</th>
                <th>Type</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for image in images %}
                <tr>
                    <td>{{ image.createdAt | date('Y-m-d') }}</td>
                    <td>{{ image.uploader.email }}</td>
                    <td>{{ image.size | format_bytes }}</td>
                    <td>{{ image.type.name }}</td>
                    <td>{{ image.mimeType }}</td>
                    <td>
                        <div class="dropdown is-hoverable">
                            <div class="dropdown-trigger">
                                <span aria-haspopup="true" aria-controls="dropdown-image">
                                    <span class="icon is-small">
                                        <i class="fas fa-image" aria-hidden="true"></i>
                                    </span>
                                </span>
                            </div>
                            <div class="dropdown-menu" id="dropdown-image" role="menu">
                                <div class="dropdown-content">
                                    <div class="dropdown-item">
                                        {% include '_block/image.html.twig' with {'image': image} %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <script src='/javascript/jstable.min.js'></script>
    <script>
        let myTable = new JSTable("#filteredTable", {
            sortable: true,
            searchable: true,
        });
        mytable.paginate(50);
    </script>

{% endblock %}

