{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/_components/admin_tabs.html.twig' with {'adminTabs': adminTabs} only %}
        {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>{{ 'admin_logs.col_time'|trans }}</th>
                    <th>{{ 'admin_logs.col_ip'|trans }}</th>
                    <th>{{ 'admin_logs.col_url'|trans }}</th>
                    <th>{{ 'admin_logs.col_incident'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in recent %}
                    <tr>
                        <td class="is-nowrap">{{ entry.createdAt|date('Y-m-d H:i:s') }}</td>
                        <td class="is-nowrap">{{ entry.ip }}</td>
                        <td>{{ entry.url|length > 60 ? entry.url|slice(0, 57) ~ '...' : entry.url }}</td>
                        <td>
                            {% if entry.incident %}
                                <a href="{{ path('app_admin_security_incidents_show', {'id': entry.incident.id}) }}">
                                    <span class="icon"><i class="fa fa-shield-halved"></i></span>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
