{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/logs/_tabs_navigation.html.twig' with {'activeSection': 'logs'} %}

        <div class="columns">
            <div class="column is-4">
                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Url</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in list %}
                        <tr>
                            <td>{{ item.number }}</td>
                            <td>{{ item.url|length > 60 ? item.url|slice(0, 57) ~ '...' : item.url }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="column is-8">
                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>IP</th>
                        <th>Url</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry in recent %}
                        <tr>
                            <td class="is-nowrap">{{ entry.createdAt|date('Y-m-d H:i:s') }}</td>
                            <td class="is-nowrap">{{ entry.ip }}</td>
                            <td>{{ entry.url|length > 60 ? entry.url|slice(0, 57) ~ '...' : entry.url }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}
