{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/_components/admin_tabs.html.twig' with {'adminTabs': adminTabs} only %}
        {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

        <div class="columns">
            <div class="column is-4">
                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th>{{ 'admin_logs.col_count'|trans }}</th>
                        <th>{{ 'admin_logs.col_url'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in list %}
                        <tr>
                            <td>{{ item.number }}</td>
                            <td>{{ item.url|length > 60 ? item.url|slice(0, 57) ~ '...' : item.url }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="column is-8">
                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th>{{ 'admin_logs.col_time'|trans }}</th>
                        <th>{{ 'admin_logs.col_ip'|trans }}</th>
                        <th>{{ 'admin_logs.col_url'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry in recent %}
                        <tr>
                            <td class="is-nowrap">{{ entry.createdAt|date('Y-m-d H:i:s') }}</td>
                            <td class="is-nowrap">{{ entry.ip }}</td>
                            <td>{{ entry.url|length > 60 ? entry.url|slice(0, 57) ~ '...' : entry.url }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}
