{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/_components/admin_tabs.html.twig' with {'adminTabs': adminTabs} only %}
        {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

        <table id="filteredTable" class="table is-fullwidth">
            <thead>
            <tr>
                <th>{{ 'admin_logs.col_created_at'|trans }}</th>
                <th>{{ 'admin_logs.col_type'|trans }}</th>
                <th>{{ 'admin_logs.col_level'|trans }}</th>
                <th>{{ 'admin_logs.col_message'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for log in logs %}
                <tr>
                    <td>{{ log.date | date('Y-m-d  H:i') }}</td>
                    <td>{{ log.type }}</td>
                    <td>{{ log.level }}</td>
                    <td title="{{ log.message }}">{{ log.message|length > 80 ? log.message|slice(0, 80) ~ '...' : log.message }}</td>
                    <td>
                        <a href="{{ path('app_admin_system_log_show', {hash: log.hash}) }}">
                            <span class="icon"><i class="fa fa-eye"></i></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
