{% extends 'base.html.twig' %}

{% block title %}{{ "Create vote"|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href='/stylesheet/flatpickr-bulma.min.css'/>
{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">{{ "Create vote for event"|trans }}</h1>

        <div class="box">
            <p class="subtitle">{{ event.title(app.request.locale) }}</p>
            <p>{{ event.start|date('d.m.Y H:i') }}</p>
        </div>

        <form method="post">
            <div class="field">
                <label class="label" for="closes_at">{{ "Voting closes at"|trans }}</label>
                <div class="field has-addons flatpickr-field">
                    <div class="control is-expanded">
                        <input class="input" type="text" name="closes_at" id="closes_at" required data-input
                               value="{{ event.start|date_modify('-1 day')|date(get_date_format()) }}">
                    </div>
                    <div class="control">
                        <a class="button" data-toggle><span class="icon"><i class="fa fa-calendar"></i></span></a>
                    </div>
                </div>
                <p class="help">{{ "Members can vote until this time"|trans }}</p>
            </div>

            <div class="field is-grouped mt-5">
                <div class="control">
                    <button type="submit" class="button is-primary">{{ "Create vote"|trans }}</button>
                </div>
                <div class="control">
                    <a href="{{ path('app_filmclub_vote') }}" class="button is-light">{{ "Cancel"|trans }}</a>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script src='/javascript/flatpickr.min.js'></script>
    {% if app.request.locale != 'en' %}
    <script src='/javascript/flatpickr-l10n/{{ app.request.locale }}.js'></script>
    {% endif %}
    <script>
        document.querySelectorAll('.flatpickr-field').forEach((el) => {
            flatpickr(el, {
                wrap: true,
                enableTime: true,
                dateFormat: "{{ get_date_format_flatpickr() }}",
                time_24hr: {{ 'A' in get_date_format() ? 'false' : 'true' }},
                locale: "{{ app.request.locale }}"
            });
        });
    </script>
{% endblock %}
