{% extends 'admin/base.html.twig' %}

{% block content %}

    <article class="message is-danger is-hidden" id="event-delete-warning">
        <div class="message-header">
            <p>Delete the Page</p>
            <button class="delete toggleTrigger" data-id="event-delete-warning" aria-label="delete"></button>
        </div>
        <div class="message-body">
            <p>
                If you delete this event, all recurring event are deleted as well, also all related data
                like rsvp's, comments, event images and so on. Please consider deactivating the event instead.
            </p>
            <div class="has-text-right">
                <a class="button is-danger" href="{{ path('app_admin_event_delete', {'id': event.id}) }}">
                    <span class="icon"><i class="fa fa-trash"></i></span>
                    <span>Yes, Delete</span>
                </a>
            </div>
        </div>
    </article>

    <div class="container">

        {{ form_start(form) }}

        <div class="columns">
            <div class="column is-3">
                {{ form_row(form.start) }}
            </div>
            <div class="column is-3">
                {{ form_row(form.stop) }}
            </div>
            <div class="column is-2">
                {{ form_row(form.recurringRule) }}
            </div>
            <div class="column is-2">
                {{ form_row(form.location) }}
            </div>
            <div class="column is-2">
                {{ form_row(form.type) }}
            </div>
        </div>

        <div class="columns">
            <div class="column is-10">

                <div class="box">

                    <div class="columns">
                        <div class="column is-6">
                            <p class="has-text-grey">Dont forget the other languages</p>
                        </div>
                        <div class="column is-6">
                            <div class="buttons has-addons is-pulled-right">
                                {% for locale in app.enabled_locales %}
                                    <a class="button translation-button {% if locale == 'en' %}is-active{% endif %}"
                                       id="translation-button-{{ locale }}"
                                       data-id="{{ locale }}">{{ locale }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% for locale in app.enabled_locales %}
                        <div class="div {% if locale != 'en' %}is-hidden{% endif %}" id="translation-div-{{ locale }}">
                            {{ form_row(form.("title-"~locale)) }}
                            {{ form_row(form.("description-"~locale)) }}
                        </div>
                    {% endfor %}
                </div>

            </div>
            <div class="column is-2">

                <div class="mt-3">
                    {{ form_row(form.image) }}
                    {% include '_block/image.html.twig' with {'image': event.previewImage, 'size': '600x400'} %}
                </div>

                <div class="mt-5">
                    {{ form_row(form.host) }}
                </div>

                <div class="mt-5">
                    <a class="button is-danger toggleTrigger" data-id="event-delete-warning"
                       href="{{ path('app_admin_event_delete', {'id': event.id}) }}">
                        <span class="icon"><i class="fa fa-trash"></i></span>
                    </a>
                    <button class="button">
                        {{ "button_save" | trans }}
                    </button>
                    <a href="{{ path('app_admin_event') }}" class="button">
                        <span class="icon"><i class="fa fa-arrow-up-right-from-square"></i></span>
                    </a>
                </div>
            </div>
        </div>

        {{ form_end(form) }}

    </div>

    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function () {
            let buttons = document.getElementsByClassName('translation-button');
            for (let i = 0; i < buttons.length; i++) {
                buttons[i].addEventListener('click', event => {
                    event.preventDefault();

                    {% for locale in app.enabled_locales %}
                    document.getElementById('translation-button-{{ locale }}').classList.remove('is-active');
                    document.getElementById('translation-div-{{ locale }}').classList.add('is-hidden');
                    {% endfor %}

                    let button = 'translation-button-' + event.currentTarget.getAttribute('data-id');
                    document.getElementById(button).classList.add('is-active');

                    let target = 'translation-div-' + event.currentTarget.getAttribute('data-id');
                    document.getElementById(target).classList.remove('is-hidden');

                });
            }
        });

    </script>





{% endblock %}
