{% extends 'admin/base.html.twig' %}

{% block content %}

    {% include '_components/warning_box.html.twig' with {
        'id': 'event-delete-warning',
        'title': 'Delete the Event',
        'content': '<p>If you delete this event, all recurring events are deleted as well, also all related data like rsvp\'s, comments, event images and so on. Please consider deactivating the event instead.</p>',
        'buttonLabel': 'Yes, Delete',
        'buttonUrl': path('app_admin_event_delete', {'id': event.id}),
        'type': 'danger'
    } %}

    {% include '_components/warning_box.html.twig' with {
        'id': 'event-cancel-warning',
        'title': 'Cancel Event',
        'content': '<p>Are you sure you want to cancel this event? All RSVPd users will be notified.</p>',
        'buttonLabel': 'Yes, Cancel Event',
        'buttonUrl': path('app_admin_event_cancel', {'id': event.id}),
        'type': 'warning'
    } %}

    {% include '_components/warning_box.html.twig' with {
        'id': 'event-uncancel-warning',
        'title': 'Uncancel Event',
        'content': '<p>Are you sure you want to uncancel this event?</p>',
        'buttonLabel': 'Yes, Uncancel Event',
        'buttonUrl': path('app_admin_event_uncancel', {'id': event.id}),
        'type': 'warning'
    } %}

    <div class="container">

        {{ form_start(form) }}

        <div class="columns">
            <div class="column is-3">
                {{ form_row(form.start) }}
            </div>
            <div class="column is-3">
                {{ form_row(form.stop) }}
            </div>
            <div class="column is-2">
                {{ form_row(form.recurringRule) }}
            </div>
            <div class="column is-2">
                {{ form_row(form.location) }}
            </div>
            <div class="column is-2">
                {{ form_row(form.type) }}
            </div>
        </div>

        <div class="columns">
            <div class="column is-9">

                <div class="box">

                    <div class="columns">
                        <div class="column is-6">
                            <p class="has-text-grey">Dont forget the other languages</p>
                        </div>
                        <div class="column is-6">
                            <div class="buttons has-addons is-pulled-right">
                                {% set defaultLocale = get_admin_language_codes()|first %}
                                {% for locale in get_admin_language_codes() %}
                                    <a class="button translation-button {% if locale == defaultLocale %}is-active{% endif %}"
                                       id="translation-button-{{ locale }}"
                                       data-id="{{ locale }}">{{ locale }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% set defaultLocale = get_admin_language_codes()|first %}
                    {% for locale in get_admin_language_codes() %}
                        <div class="div {% if locale != defaultLocale %}is-hidden{% endif %}" id="translation-div-{{ locale }}">
                            {{ form_row(form.("title-"~locale)) }}
                            {{ form_row(form.("teaser-"~locale)) }}
                            {{ form_row(form.("description-"~locale)) }}
                        </div>
                    {% endfor %}
                </div>

                <div class="field mt-5">
                    <button type="submit" class="button is-link">
                        {{ "button_save" | trans }}
                    </button>
                    <a href="{{ path('app_admin_event') }}" class="button is-light">
                        {{ "button_cancel" | trans }}
                    </a>
                </div>

            </div>
            <div class="column is-3">

                <div class="mt-3">
                    {{ form_row(form.image) }}
                    {% include '_components/image.html.twig' with {'image': event.previewImage, 'size': '600x400'} %}
                </div>

                <div class="columns">
                    <div class="column is-6">
                        <div class="mt-5">
                            {{ form_row(form.status) }}
                        </div>

                        <div class="mt-5">
                            {{ form_row(form.featured) }}
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="mt-5">
                            {{ form_row(form.host) }}
                        </div>
                    </div>
                </div>

                <fieldset class="mt-5 p-4 fieldset-warning">
                    <legend class="px-2 has-text-danger has-text-weight-semibold is-size-7">Danger Zone</legend>

                    <div class="field mb-2">
                        <label class="button is-light is-fullwidth is-justify-content-flex-start">
                            {{ form_widget(form.allFollowing, {'attr': {'style': 'margin-right: 0.5rem;'}}) }}
                            <span>Update all following</span>
                        </label>
                    </div>
                    {% if event.canceled %}
                        <a class="button is-light is-fullwidth mb-2 toggleTrigger" data-id="event-uncancel-warning"
                           href="{{ path('app_admin_event_uncancel', {'id': event.id}) }}">
                            <span class="icon"><i class="fa fa-check"></i></span>
                            <span>Uncancel Event</span>
                        </a>
                    {% else %}
                        <a class="button is-light is-fullwidth mb-2 toggleTrigger" data-id="event-cancel-warning"
                           href="{{ path('app_admin_event_cancel', {'id': event.id}) }}">
                            <span class="icon"><i class="fa fa-ban"></i></span>
                            <span>Cancel Event</span>
                        </a>
                    {% endif %}
                    <a class="button is-light is-fullwidth toggleTrigger" data-id="event-delete-warning"
                       href="{{ path('app_admin_event_delete', {'id': event.id}) }}">
                        <span class="icon"><i class="fa fa-trash"></i></span>
                        <span>Delete Event</span>
                    </a>
                </fieldset>
            </div>
        </div>

        {{ form_end(form) }}

    </div>

    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function () {
            let buttons = document.getElementsByClassName('translation-button');
            for (let i = 0; i < buttons.length; i++) {
                buttons[i].addEventListener('click', event => {
                    event.preventDefault();

                    {% for locale in get_admin_language_codes() %}
                    document.getElementById('translation-button-{{ locale }}').classList.remove('is-active');
                    document.getElementById('translation-div-{{ locale }}').classList.add('is-hidden');
                    {% endfor %}

                    let button = 'translation-button-' + event.currentTarget.getAttribute('data-id');
                    document.getElementById(button).classList.add('is-active');

                    let target = 'translation-div-' + event.currentTarget.getAttribute('data-id');
                    document.getElementById(target).classList.remove('is-hidden');

                });
            }
        });

    </script>

{% endblock %}
