{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        <table id="filteredTable" class="table is-fullwidth">
            <thead>
            <tr>
                <th>{{ 'admin_event.col_title'|trans }}</th>
                <th>{{ 'admin_event.col_created_at'|trans }}</th>
                <th>{{ 'admin_event.col_event_time'|trans }}</th>
                <th>{{ 'admin_event.col_recurring'|trans }}</th>
                <th>{{ 'admin_event.col_location'|trans }}</th>
                <th>{{ 'admin_event.col_status'|trans }}</th>
                <th>{{ 'admin_event.col_rsvp'|trans }}</th>
                <th>{{ 'admin_event.col_type'|trans }}</th>
                <th><a href="{{ path('app_admin_event_add') }}"><span class="icon"><i class="fa fa-add"></i></span></a></th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                {% set textColor = '' %}
                {% if event.canceled %}
                    {% set textColor = 'has-background-danger-light' %}
                {% elseif event.recurringOf is not null %}
                    {% set textColor = 'has-text-grey-light' %}
                {% elseif event.recurringRule is not null %}
                    {% set textColor = 'has-background-info-light' %}
                {% endif %}
                <tr class="{{ textColor }} {% if event.id == nextEvent and not event.canceled %}has-background-warning-light{% endif %}">
                    <td>{{ event.title(app.locale) }}</td>
                    <td>{{ event.createdAt|date('Y-m-d') }}</td>
                    <td>{{ event.start|date('Y-m-d') }}</td>
                    <td>
                        {% if event.recurringOf is not null %}
                            {{ 'admin_event.recurring_auto'|trans }}
                        {% else %}
                            {% if event.recurringRule is null %}{{ 'admin_event.recurring_no'|trans }}{% else %}{{ event.recurringRule.name|trans }}{% endif %}
                        {% endif %}
                    </td>
                    <td>{{ event.location ? event.location.name : '-' }}</td>
                    <td>
                        {% if event.status.value == 'locked' %}
                            <span class="icon has-text-warning" title="{{ 'events.status_locked'|trans }}"><i class="fa fa-lock"></i></span>
                        {% elseif event.status.value == 'published' %}
                            <span class="icon has-text-success" title="{{ 'events.status_published'|trans }}"><i class="fa fa-eye"></i></span>
                        {% else %}
                            <span class="icon has-text-grey-light" title="{{ 'events.status_draft'|trans }}"><i class="fa fa-eye-slash"></i></span>
                        {% endif %}
                    </td>
                    <td>{{ rsvpCounts[event.id] ?? 0 }}</td>
                    <td>{{ event.type ? event.type.name : '-' }}</td>
                    <td>
                        <a href="{{ path('app_admin_event_edit', {'id': event.id}) }}">
                            <span class="icon"><i class="fa fa-edit"></i></span>
                        </a>
                        {% if event.featured %}
                            <span class="icon has-text-warning"><i class="fa fa-star"></i></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="mt-4 has-text-centered">
            <span class="tag has-background-info-light">
                <span>{{ 'admin_event.legend_recurring_events'|trans }}</span>
            </span>
            <span class="tag is-white">
                <span class="">{{ 'admin_event.legend_one_time_events'|trans }}</span>
            </span>
            <span class="tag has-text-grey-light is-white">
                <span>{{ 'admin_event.legend_auto_generated'|trans }}</span>
            </span>
            <span class="tag has-background-warning-light">
                <span>{{ 'admin_event.legend_next_event'|trans }}</span>
            </span>
            <span class="tag has-background-danger-light">
                <span>{{ 'admin_event.legend_canceled_events'|trans }}</span>
            </span>
        </div>

    </div>

{% endblock %}
