{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

        <table id="filteredTable" class="table is-fullwidth">
            <thead>
            <tr>
                <th>{{ 'admin_event.col_title'|trans }}</th>
                <th>{{ 'admin_event.col_event_time'|trans }}</th>
                <th>{{ 'admin_event.col_recurring'|trans }}</th>
                <th>{{ 'admin_event.col_location'|trans }}</th>
                <th>{{ 'admin_event.col_status'|trans }}</th>
                <th>{{ 'admin_event.col_rsvp'|trans }}</th>
                <th>{{ 'admin_event.col_type'|trans }}</th>
                <th><a href="{{ path('app_admin_event_add') }}"><span class="icon"><i class="fa fa-add"></i></span></a></th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    {% set title = event.title(app.locale) %}
                    <td title="{{ title }}">{{ title|length > 20 ? title|slice(0, 20) ~ '...' : title }}</td>
                    <td>
                        {{ event.start|date('Y-m-d H:i') }}
                        {% if event.id == nextEvent and not event.canceled %}
                            <span class="icon has-text-link" title="{{ 'admin_event.next_event'|trans }}"><i class="fa fa-arrow-left"></i></span>
                        {% endif %}
                    </td>
                    <td title="{{ event.series ? event.series.name : '' }}">
                        {{ (event.series is null ? 'admin_event.recurring_no' : 'admin_event.recurring_yes')|trans }}
                    </td>
                    {% set locationName = event.location ? event.location.name : '-' %}
                    <td title="{{ locationName }}">{{ locationName|length > 20 ? locationName|slice(0, 20) ~ '...' : locationName }}</td>
                    <td>
                        {% if event.canceled %}
                            <span class="icon has-text-danger" title="{{ 'events.tag_canceled'|trans }}"><i class="fa fa-ban"></i></span>
                        {% elseif event.status.value == 'locked' %}
                            <span class="icon has-text-warning" title="{{ 'events.status_locked'|trans }}"><i class="fa fa-lock"></i></span>
                        {% elseif event.status.value == 'draft' %}
                            <span class="icon has-text-grey-light" title="{{ 'events.status_draft'|trans }}"><i class="fa fa-eye-slash"></i></span>
                        {% endif %}
                        {% if event.series is not null and event.initial %}
                            <span class="icon has-text-info" title="{{ 'admin_event.manually_edited'|trans }}"><i class="fa fa-user-pen"></i></span>
                        {% endif %}
                    </td>
                    <td>{{ rsvpCounts[event.id] ?? 0 }}</td>
                    <td>{{ event.type ? event.type.name : '-' }}</td>
                    <td>
                        <a href="{{ path('app_admin_event_edit', {'id': event.id}) }}">
                            <span class="icon"><i class="fa fa-edit"></i></span>
                        </a>
                        {% if event.featured %}
                            <span class="icon has-text-warning"><i class="fa fa-star"></i></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
