{% extends 'admin/base.html.twig' %}

{% block title %}Admin - Events{% endblock %}

{% block content %}

    <div class="container">

        <table class="table">
            <thead>
            <tr>
                <th>CreatedBy</th>
                <th>Start date</th>
                <th>Stop date</th>
                <th>Recurring</th>
                <th>Name</th>
                <th>Location</th>
                <th>Hosts</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{% if event.initial %}{{ event.user.name }}{% else %}auto{% endif %}</td>
                    <td>{{ event.start|date('Y-m-d') }}</td>
                    <td>{{ event.stop|date('Y-m-d') }}</td>
                    <td>{% if event.recurringRule %}{{ event.recurringRule }}{% else %}No{% endif %}</td>
                    <td>{{ event.name|slice(0, 32) }}</td>
                    <td>{{ event.location.name }}</td>
                    <td>{{ event.host|map(h => h.name)|join(', ') }}</td>
                    <td><a href="{{ path('app_admin_event_edit', {'id': event.id}) }}"><span class="icon"><i class="fa fa-edit"></i></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}

