{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="title">{{ 'admin_event.page_title_new'|trans }}</h1>

        {{ form_start(form) }}

        <div class="columns">
            <div class="column is-8">
                <div class="columns">
                    <div class="column is-6">
                        {{ form_row(form.start) }}
                    </div>
                    <div class="column is-6">
                        {{ form_row(form.stop) }}
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-4">
                        {{ form_row(form.recurringRule) }}
                    </div>
                    <div class="column is-4">
                        {{ form_row(form.type) }}
                    </div>
                    <div class="column is-4">
                        {{ form_row(form.location) }}
                    </div>
                </div>
            </div>

            <div class="column is-4">
                {{ form_row(form.host) }}
            </div>
        </div>

        {{ form_widget(form) }}

        <div class="field mt-5">
            <button type="submit" class="button is-link">
                <span class="icon"><i class="fa fa-plus"></i></span>
                <span>{{ 'global.add'|trans }}</span>
            </button>
            <a href="{{ path('app_admin_event') }}" class="button is-light">
                <span>{{ 'global.cancel'|trans }}</span>
            </a>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
