{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="container">

        {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

        {{ form_start(form) }}

        <div class="columns">
            <div class="column is-8">
                <div class="columns">
                    <div class="column is-6">
                        {{ form_row(form.start) }}
                    </div>
                    <div class="column is-6">
                        {{ form_row(form.stop) }}
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-4">
                        {{ form_row(form.seriesRule) }}
                    </div>
                    <div class="column is-4">
                        {{ form_row(form.type) }}
                    </div>
                    <div class="column is-4">
                        {{ form_row(form.location) }}
                    </div>
                </div>

                <div class="columns is-hidden" id="series-name-wrapper">
                    <div class="column is-8">
                        {{ form_row(form.seriesName) }}
                    </div>
                </div>
            </div>

            <div class="column is-4">
                {{ form_row(form.host) }}
            </div>
        </div>

        {{ form_widget(form) }}

        <div class="field mt-5">
            <button type="submit" class="button is-primary">
                <span class="icon"><i class="fa fa-plus"></i></span>
                <span>{{ 'global.button_add'|trans }}</span>
            </button>
        </div>

        {{ form_end(form) }}
    </div>

    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function () {
            let ruleSelect = document.getElementById('{{ form.seriesRule.vars.id }}');
            let wrapper = document.getElementById('series-name-wrapper');
            let toggle = function () {
                wrapper.classList.toggle('is-hidden', ruleSelect.value === '');
            };
            toggle();
            ruleSelect.addEventListener('change', toggle);
        });

    </script>
{% endblock %}
