{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_login"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-5">

                    <h1 class="title is-5">{{ "page_login_headline"|trans }}</h1>

                    <form method="post" class="box">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <input type="hidden" name="_target_path" value="{{ redirectPath }}"/>
                        {% if error %}
                            <div class="alert alert-danger mb-5">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div class="field">
                            <label class="label">{{ 'email' | trans }}</label>
                            <p class="control has-icons-left">
                                <input type="email" name="_username" id="username" class="input" autocomplete="email" placeholder="{{ 'email' | trans }}">
                                <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                            </p>
                        </div>

                        <div class="field">
                            <label class="label">{{ 'password' | trans }}</label>
                            <p class="control has-icons-left">
                                <input type="password" name="_password" id="password" class="input" placeholder="{{ 'password' | trans }}">
                                <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                            </p>
                        </div>

                        <div class="field is-grouped mt-5">
                            <div class="control">
                                <button type="submit" class="button is-link">Login</button>
                                <a href="{{ path('app_register') }}" type="button" class="button">Register</a>
                            </div>
                        </div>
                    </form>


                    <p>
                        {{ "page_login_reset"|trans }} <a href="{{ path('app_reset') }}">{{ 'link_here' | trans }}</a>
                    </p>

                </div>

            </div>

        </div>
    </section>


{% endblock %}
