{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_login"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-5">

                    <h1 class="subtitle">{{ "p: Please sign in"|trans }}</h1>

                    <form method="post" class="box">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <input type="hidden" name="_target_path" value="{{ path('app_profile') }}"/>
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <label>
                                    <input type="email" name="_username" id="username" class="input" autocomplete="email"
                                           value="{{ last_username }}">
                                </label>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <label>
                                    <input type="password" name="_password" id="password" class="input" autocomplete="email"
                                           value="{{ last_username }}" required>
                                </label>
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button type="submit" class="button is-link">Login</button>
                                <a href="{{ path('app_register') }}" type="button" class="button">Register</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </section>


{% endblock %}
