{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_register"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-5">

                    <h1 class="title is-5">{{ "page_register_headline"|trans }}</h1>

                    <div class="box">
                        {{ form_start(form) }}

                        {% for flash_error in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                        {% endfor %}

                        {{ form_errors(form) }}


                        {{ form_row(form.name) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.plainPassword, {
                            label: 'Password'
                        }) }}
                        {{ form_row(form.agreeTerms) }}


                        <button class="button is-link">{{ "button_Register" | trans }}</button>
                        <a class="button" href="/{{ app.request.locale }}/terms" target="_blank">{{ "terms" | trans }}</a>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
