{% extends 'base.html.twig' %}

{% block title %}{{ "page_reset_password_headline"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns is-centered mt-5">
                <div class="column is-6-tablet is-5-desktop">

                    <h1 class="title is-5">{{ "page_reset_password_headline"|trans }}</h1>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="button is-primary mt-4">{{ "button_save" | trans }}</button>
                    {{ form_end(form) }}

                </div>

                <div class="column is-5-tablet is-4-desktop">
                    {% include '_components/info_sidebar.html.twig' with {
                        title: 'reset_password.sidebar.title'|trans,
                        intro: 'reset_password.sidebar.intro'|trans,
                        bullets: [
                            'reset_password.sidebar.bullet1'|trans,
                            'reset_password.sidebar.bullet2'|trans,
                            'reset_password.sidebar.bullet3'|trans,
                        ],
                        link_url: path('app_login'),
                        link_text: 'reset_password.sidebar.link'|trans,
                        link_icon: 'sign-in-alt',
                    } only %}
                </div>
            </div>

        </div>
    </section>

{% endblock %}
