{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_login"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <h1 class="title is-5">{{ "page_reset_headline"|trans }}</h1>

            {{ form_start(form) }}
            <div class="columns">
                <div class="column is-5">
                    {{ form_row(form.email) }}
                </div>
            </div>
            <div class="columns">
                <div class="column is-1">
                    <strong>Captcha</strong><br>
                    <img src="data:image/png;base64, {{ captcha }}" alt="captcha">
                </div>
                <div class="column is-4">
                    {{ form_row(form.captcha) }}
                </div>
            </div>

            {{ form_widget(form) }}
            <p>
                You will receive an email with a link to reset your password, if you can't<br>
                read the captcha code, please refresh the page or just try, and you will get a new one.
            <p class="mt-4">
                You cannot get more than <strong>7</strong> new captcha per minute.
            </p>
            <p class="mb-5">
                You used <strong id="refreshCount">{{ refreshCount }}</strong> tries so far. Next free try in <strong id="refreshTime">{{ refreshTime }}</strong> seconds.
            </p>
            <button class="button">{{ "button_send_reset_link" | trans }}</button>
            {{ form_end(form) }}

        </div>
    </section>


    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function() {
            const refreshCount = document.getElementById('refreshCount');
            const refreshTime = document.getElementById('refreshTime');
            const timeID = setInterval(timeAndDate, 1000);

            function timeAndDate() {
                let xhr = new XMLHttpRequest();
                xhr.open("GET", '{{ path('app_ajax_get_captcha_count') }}', true);
                xhr.responseType = 'json'; // Set response type to JSON

                xhr.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        if (this.response && refreshCount && refreshTime) {
                            refreshCount.textContent = this.response.count ?? '';
                            refreshTime.textContent = this.response.next ?? '';
                        }
                    }
                }
                xhr.send();
            }
        });

    </script>


{% endblock %}