{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_login"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <h1 class="subtitle">{{ "page_reset_headline"|trans }}</h1>

            {{ form_start(form) }}
            <div class="columns">
                <div class="column is-5">
                    {{ form_row(form.email) }}
                </div>
            </div>
            <div class="columns">
                <div class="column is-1">
                    <strong>Captcha</strong><br>
                    <img src="data:image/png;base64, {{ captcha }}" alt="captcha">
                </div>
                <div class="column is-4">
                    {{ form_row(form.captcha) }}
                </div>
            </div>

            {{ form_widget(form) }}
            <p>
                You will recive an email with a link to reset your password
            </p>
            <button class="button">{{ "button_send_reset_link" | trans }}</button>
            {{ form_end(form) }}

        </div>
    </section>


{% endblock %}
