{% extends 'base.html.twig' %}

{% block title %}{{ "security.page_title_reset"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <div class="columns is-centered mt-6">
                <div class="column is-6-tablet is-5-desktop has-text-centered">
                    <span class="icon is-large has-text-primary">
                        <i class="fas fa-envelope fa-4x"></i>
                    </span>
                    <h1 class="title is-3 mt-5">{{ 'security.reset_email_send_heading'|trans }}</h1>
                    <p class="subtitle is-5 mt-3">{{ 'security.reset_email_send_description'|trans }}</p>
                    <div class="mt-5">
                        <a href="{{ path('app_login') }}" class="button is-primary">
                            <span class="icon"><i class="fas fa-arrow-left"></i></span>
                            <span>{{ 'security.reset_email_send_cta'|trans }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
