<div class="dropdown" data-admin-dropdown>
    <div class="dropdown-trigger">
        <button class="button is-small" aria-haspopup="true">
            {% if action.icon %}
                <span class="icon is-small"><i class="fa fa-{{ action.icon }}"></i></span>
            {% endif %}
            <span>{{ action.label }}</span>
            <span class="icon is-small"><i class="fa fa-angle-down"></i></span>
        </button>
    </div>
    <div class="dropdown-menu" role="menu">
        <div class="dropdown-content">
            {% for option in action.options %}
                <a href="{{ option.target }}"
                   class="dropdown-item is-flex is-justify-content-space-between{% if option.isActive %} is-active{% endif %}">
                    <span>{{ option.label }}</span>
                    {% if option.count is not null %}
                        <span class="has-text-grey is-size-7 ml-3">({{ option.count }})</span>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
