<a href="{{ action.target }}"
   class="button is-small{% if action.variant %} {{ action.variant }}{% endif %}{% if action.toggleId %} toggleTrigger{% endif %}"
   {%- if action.toggleId %} data-id="{{ action.toggleId }}"{% endif %}
   {%- if action.newTab %} target="_blank" rel="noopener"{% endif %}
   {%- if action.post %} data-post{% endif %}
   {%- if action.csrfTokenId %} data-csrf-token="{{ csrf_token(action.csrfTokenId) }}"{% endif %}
   {%- if action.confirm %} onclick="return confirm({{ action.confirm|json_encode|e('html_attr') }});"{% endif %}>
    {% if action.icon %}
        <span class="icon is-small"><i class="fa fa-{{ action.icon }}"></i></span>
    {% endif %}
    <span>{{ action.label }}</span>
</a>
