{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/_components/admin_tabs.html.twig' with {'adminTabs': adminTabs} only %}
        {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>{{ 'admin_support.col_date'|trans }}</th>
                <th>{{ 'admin_support.col_type'|trans }}</th>
                <th>{{ 'admin_support.col_name'|trans }}</th>
                <th>{{ 'admin_support.col_email'|trans }}</th>
                <th>{{ 'admin_support.col_status'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for request in requests %}
                <tr>
                    <td class="is-nowrap">{{ request.createdAt|date('Y-m-d H:i:s') }}</td>
                    <td><span class="tag is-light">{{ request.contactType.label() }}</span></td>
                    <td>
                        {% if request.isNew() %}<strong>{% endif %}
                        {{ request.name }}
                        {% if request.isNew() %}</strong>{% endif %}
                    </td>
                    <td>{{ request.email }}</td>
                    <td>
                        {% if request.isNew() %}
                            <span class="tag is-warning">{{ 'admin_support.status_new'|trans }}</span>
                        {% else %}
                            <span class="tag is-light">{{ 'admin_support.status_read'|trans }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_admin_support_request_show', {id: request.id}) }}">
                            <span class="icon"><i class="fa fa-eye"></i></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="has-text-centered has-text-grey">
                        {{ 'admin_support.empty_requests'|trans }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
