{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/support/_tabs_navigation.html.twig' with {'activeSection': 'requests'} %}

        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>{{ 'admin_support.col_date'|trans }}</th>
                <th>{{ 'admin_support.col_type'|trans }}</th>
                <th>{{ 'admin_support.col_name'|trans }}</th>
                <th>{{ 'admin_support.col_email'|trans }}</th>
                <th>{{ 'admin_support.col_message'|trans }}</th>
                <th>{{ 'admin_support.col_status'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for request in requests %}
                <tr{% if request.isNew() %} class="has-background-warning-light"{% endif %}>
                    <td>
                        {{ request.createdAt|date('Y-m-d') }}<br>
                        <small class="has-text-grey">{{ request.createdAt|date('H:i:s') }}</small>
                    </td>
                    <td><span class="tag is-light">{{ request.contactType.label() }}</span></td>
                    <td>
                        {% if request.isNew() %}<strong>{% endif %}
                        {{ request.name }}
                        {% if request.isNew() %}</strong>{% endif %}
                    </td>
                    <td>{{ request.email }}</td>
                    <td>{{ request.message|u.truncate(100) }}</td>
                    <td>
                        {% if request.isNew() %}
                            <span class="tag is-warning">{{ 'admin_support.status_new'|trans }}</span>
                        {% else %}
                            <span class="tag is-light">{{ 'admin_support.status_read'|trans }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if request.isNew() %}
                            <form method="post" action="{{ path('app_admin_support_mark_read', {id: request.id}) }}">
                                <input type="hidden" name="_token" value="{{ csrf_token('mark_read_' ~ request.id) }}">
                                <button type="submit" class="button is-small is-light">{{ 'admin_support.button_mark_read'|trans }}</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="has-text-centered has-text-grey">
                        {{ 'admin_support.empty_requests'|trans }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
