{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/support/_tabs_navigation.html.twig' with {'activeSection': 'reports'} %}

        <div class="mb-4 is-flex is-gap-3">
            <a href="{{ path('app_admin_support_reports') }}" class="button is-small">
                <span class="icon"><i class="fa fa-arrow-left"></i></span>
                <span>{{ 'admin_support.button_back'|trans }}</span>
            </a>
            {% if report.image %}
                <a href="{{ path('app_admin_system_images_show', {'id': report.image.id}) }}" class="button is-small">
                    <span class="icon"><i class="fa fa-eye"></i></span>
                    <span>{{ 'admin_support.button_image_details'|trans }}</span>
                </a>
            {% endif %}
        </div>

        <div class="columns">
            <div class="column is-narrow">
                {% if report.image %}
                    {% include '_components/image.html.twig' with {'image': report.image, 'size': '100x100'} %}
                {% else %}
                    <span class="has-text-grey">{{ 'admin_support.image_deleted'|trans }}</span>
                {% endif %}
            </div>
            <div class="column">
                <table class="table is-fullwidth">
                    <tbody>
                        <tr>
                            <th>{{ 'admin_support.label_id'|trans }}</th>
                            <td><code>{{ report.id }}</code></td>
                        </tr>
                        <tr>
                            <th>{{ 'admin_support.col_date'|trans }}</th>
                            <td>{{ report.createdAt|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'admin_support.col_reporter'|trans }}</th>
                            <td>
                                {% if report.reporter %}
                                    <a href="{{ path('app_admin_member_edit', {'id': report.reporter.id}) }}">
                                        {{ report.reporter.name }} ({{ report.reporter.email }})
                                    </a>
                                {% else %}
                                    <span class="has-text-grey">{{ 'admin_support.label_deleted'|trans }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ 'admin_support.col_reason'|trans }}</th>
                            <td><span class="tag is-warning">{{ report.reason.name }}</span></td>
                        </tr>
                        <tr>
                            <th>{{ 'admin_support.col_remarks'|trans }}</th>
                            <td>{{ report.remarks|default('-') }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'admin_support.col_location'|trans }}</th>
                            <td>
                                {% if location %}
                                    {% if location.route %}
                                        <a href="{{ path(location.route, location.params) }}" class="button is-small">
                                            <span class="icon"><i class="fa fa-external-link"></i></span>
                                            <span>{{ location.label }}</span>
                                        </a>
                                    {% else %}
                                        {{ location.label }}
                                    {% endif %}
                                {% else %}
                                    <span class="has-text-grey">{{ 'admin_support.location_unknown'|trans }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ 'admin_support.col_status'|trans }}</th>
                            <td>
                                {% if report.isOpen() %}
                                    <span class="tag is-warning">{{ 'admin_support.status_open'|trans }}</span>
                                {% else %}
                                    <span class="tag is-light">{{ 'admin_support.status_resolved'|trans }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% if report.isOpen() %}
                        <tr>
                            <th></th>
                            <td>
                                <form method="post" action="{{ path('app_admin_support_report_resolve', {id: report.id}) }}">
                                    <input type="hidden" name="_token" value="{{ csrf_token('resolve_report_' ~ report.id) }}">
                                    <button type="submit" class="button is-light">{{ 'admin_support.button_mark_resolved'|trans }}</button>
                                </form>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}
