{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_member"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-4">
                    <div>
                        {% include '_block/image.html.twig' with {'image': userDetails.image, 'size': '400x400'} %}
                    </div>
                </div>

                <div class="column is-6">
                    <div class="mb-4">
                        <h1 class="title is-3 is-inline">{{ userDetails.name }}</h1>
                        {% if userDetails.id != currentUser.id %}
                            {% if not isBlocked %}
                                {% set followLink = path('app_member_toggle_follow', {'id': userDetails.id}) %}
                                {% if isFollow %}
                                    <a href="{{ followLink }}" class="button is-danger is-small ml-4 mt-1">
                                        <span class="icon"><i class="fa fa-minus"></i></span><span>Unfollow</span>
                                    </a>
                                {% else %}
                                    <a href="{{ followLink }}" class="button is-success is-small ml-4 mt-1">
                                        <span class="icon"><i class="fa fa-plus"></i></span><span>Follow</span>
                                    </a>
                                {% endif %}
                            {% endif %}

                            {# Block/Unblock button #}
                            {% if isBlocked %}
                                <form action="{{ path('app_profile_unblock_user', {'id': userDetails.id}) }}" method="post" class="is-inline">
                                    <button type="submit" class="button is-warning is-small ml-2 mt-1">
                                        <span class="icon"><i class="fa fa-unlock"></i></span><span>Unblock</span>
                                    </button>
                                </form>
                            {% else %}
                                <form action="{{ path('app_profile_block_user', {'id': userDetails.id}) }}" method="post" class="is-inline"
                                      onsubmit="return confirm('Block this user? They will not be able to see your profile or message you.')">
                                    <button type="submit" class="button is-dark is-small ml-2 mt-1">
                                        <span class="icon"><i class="fa fa-ban"></i></span><span>Block</span>
                                    </button>
                                </form>
                            {% endif %}
                        {% else %}
                            <div class="button is-warning is-small ml-4 mt-1">
                                <span class="icon"><i class="fa fa-circle-exclamation"></i></span><span>follow</span>
                            </div>
                        {% endif %}
                    </div>

                    <p>{{ userDetails.bio }}</p>

                    {% if userDetails.id != currentUser.id and not isBlocked %}
                        <a href="{{ path('app_profile_messages', {'id': userDetails.id}) }}" class="button is-small mt-4">
                            <span class="icon"><i class="fa fa-envelope"></i></span><span>Message</span>
                        </a>
                    {% endif %}
                </div>



                {% if is_granted('ROLE_MANAGER') %}
                    <div class="column is-2">

                        <nav class="panel">
                            <p class="panel-heading p-2">Admin</p>
                            <a class="panel-block" href="{{ path('app_member_rotate_avatar', {'id': userDetails.id}) }}">
                                <span class="panel-icon">
                                    <i class="fas fa-rotate-right"></i>
                                </span>
                                Rotate image
                            </a>
                            <a class="panel-block" href="{{ path('app_member_remove_avatar', {'id': userDetails.id}) }}">
                                <span class="panel-icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                                Remove image
                            </a>
                            <a class="panel-block" href="{{ path('app_member_restrict', {'id': userDetails.id}) }}">
                                <span class="panel-icon">
                                    <i class="fas fa-ban {% if userDetails.restricted %}has-text-danger{% endif %}"></i>
                                </span>
                                Restrict user
                                {% if userDetails.restricted %}
                                    <span class="panel-icon is-pulled-right"><i class="fas fa-check"></i></span>
                                {% endif %}
                            </a>
                            <a class="panel-block" href="{{ path('app_member_verify', {'id': userDetails.id}) }}">
                                <span class="panel-icon">
                                    <i class="fa-regular fa-user-check {% if userDetails.verified %}has-text-success{% endif %}"></i>
                                </span>
                                Verify user
                                {% if userDetails.verified %}
                                    <span class="panel-icon is-pulled-right"><i class="fas fa-check"></i></span>
                                {% endif %}
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a class="panel-block" href="{{ path('app_member_takeover', {'id': userDetails.id}) }}">
                                <span class="panel-icon">
                                    <i class="fas fa-person-walking-dashed-line-arrow-right"></i>
                                </span>
                                Takeover user
                            </a>
                            {% endif %}
                        </nav>
                    </div>

                {% endif %}

            </div>

        </div>
    </section>

{% endblock %}
