{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_member"|trans }}{% endblock %}

{% block body %}

    {% set followLink = path('app_member_toggle_follow', {'id': userDetails.id}) %}

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-4">
                    {% include '_block/image.html.twig' with {'image': userDetails.image, 'size': '400x400'} %}
                </div>

                <div class="column is-7">
                    <div class="mb-4">
                        <h1 class="title is-3 is-inline">{{ userDetails.name }}</h1>
                        {% if userDetails.id != currentUser.id %}
                            {% if isFollow %}
                                <a href="{{ followLink }}" class="button is-danger is-small ml-4 mt-1">
                                    <span class="icon"><i class="fa fa-minus"></i></span><span>Unfollow</span>
                                </a>
                            {% else %}
                                <a href="{{ followLink }}" class="button is-success is-small ml-4 mt-1">
                                    <span class="icon"><i class="fa fa-plus"></i></span><span>Follow</span>
                                </a>
                            {% endif %}
                        {% else %}
                            <div class="button is-warning is-small ml-4 mt-1">
                                <span class="icon"><i class="fa fa-circle-exclamation"></i></span><span>follow</span>
                            </div>
                        {% endif %}
                        {% if is_granted('ROLE_MANAGER') %}
                        <a href="{{ path('app_member_rotate_avatar', {'id': userDetails.id}) }}">
                            <i class="fa fa-rotate-right fa-lg"></i>
                        </a>
                        {% endif %}
                    </div>

                    <p>{{ userDetails.bio }}</p>

                    <a href="{{ path('app_profile_messages', {'id': userDetails.id}) }}" class="button is-small mt-4">
                        <span class="icon"><i class="fa fa-envelope"></i></span><span>Message</span>
                    </a>
                </div>

            </div>

        </div>
    </section>

{% endblock %}
