{# not defined: new block  #}
{% if block is not defined or editBlock == blockId %}

    <div class="field">
        <label class="label">Headline</label>
        <div class="control">
            <input class="input" name="headline" type="text" value="{% if block is defined %}{{ block.headline }}{% endif %}">
        </div>
    </div>

    <div class="field">
        <label class="label">Text</label>
        <div class="control">
            <textarea class="textarea" name="text" placeholder="Textarea">{% if block is defined %}{{ block.text }}{% endif %}</textarea>
        </div>
    </div>

{% else %}

    <div class="columns is-vcentered">
        <div class="column is-4">
            <img class="homepage-dragon" src="{{ '/images/meetup_432.jpg' }}" width="432" height="324" alt="Meetup members sitting together at a regular bi weekly gathering">
        </div>
        <div class="column is-7">
            <h1 class="title is-4">{{ block.headline }}</h1>
            <p>{{ block.text|nl2br }}</p>
        </div>
        <div class="column is-1">
            <p>Events</p>
        </div>
    </div>

{% endif %}
