{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/_components/admin_tabs.html.twig' with {'adminTabs': adminTabs} only %}
        {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

        <table id="filteredTable" class="table is-fullwidth">
            <thead>
            <tr>
                <th>{{ 'admin_email_blocklist.col_email'|trans }}</th>
                <th>{{ 'admin_email_blocklist.col_reason'|trans }}</th>
                <th>{{ 'admin_email_blocklist.col_added_by'|trans }}</th>
                <th>{{ 'admin_email_blocklist.col_added_at'|trans }}</th>
                <th>
                    <a href="{{ path('app_admin_email_blocklist_add') }}">
                        <span class="icon"><i class="fa fa-plus"></i></span>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for entry in entries %}
                <tr>
                    <td>{{ entry.email }}</td>
                    <td>{{ entry.reason }}</td>
                    <td>
                        {% if entry.addedBy %}
                            {{ entry.addedBy.name }}
                        {% else %}
                            <span class="has-text-grey">-</span>
                        {% endif %}
                    </td>
                    <td>{{ entry.addedAt|date('Y-m-d H:i:s') }}</td>
                    <td>
                        <a href="{{ path('app_admin_email_blocklist_delete', {'id': entry.id}) }}">
                            <span class="icon"><i class="fa fa-trash"></i></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="has-text-centered has-text-grey">
                        {{ 'admin_email_blocklist.empty'|trans }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
