{% extends 'base.html.twig' %}

{% block title %}{{ 'bookclub_manage.page_title_pending'|trans }} - {{ 'bookclub.page_title'|trans }}{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <nav class="breadcrumb">
            <ul>
                <li><a href="{{ path('app_plugin_bookclub') }}">{{ 'bookclub.page_title'|trans }}</a></li>
                <li class="is-active"><a>{{ 'bookclub_manage.breadcrumb_pending'|trans }}</a></li>
            </ul>
        </nav>

        <h1 class="title">{{ 'bookclub_manage.heading_pending'|trans }}</h1>

        {% if books|length > 0 %}
            <table class="table is-fullwidth is-striped">
                <thead>
                    <tr>
                        <th>{{ 'bookclub_manage.col_title'|trans }}</th>
                        <th>{{ 'bookclub_manage.col_author'|trans }}</th>
                        <th>{{ 'bookclub_manage.col_isbn'|trans }}</th>
                        <th>{{ 'bookclub_manage.col_added_by'|trans }}</th>
                        <th>{{ 'bookclub_manage.col_added_at'|trans }}</th>
                        <th>{{ 'bookclub_manage.col_actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                        <tr>
                            <td>
                                <a href="{{ path('app_plugin_bookclub_book_show', {id: book.id}) }}">
                                    {{ book.title }}
                                </a>
                            </td>
                            <td>{{ book.author ?? 'bookclub_manage.label_unknown'|trans }}</td>
                            <td>{{ book.isbn }}</td>
                            <td>{{ get_user_name(book.createdBy) }}</td>
                            <td>{{ book.createdAt|date('Y-m-d H:i') }}</td>
                            <td>
                                <a href="{{ path('app_profile_review') }}" class="button is-small is-info is-outlined">
                                    <span class="icon"><i class="fas fa-check-double"></i></span>
                                    <span>{{ 'bookclub_manage.button_review'|trans }}</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="notification is-light">
                <p>{{ 'bookclub_manage.empty_no_pending'|trans }}</p>
            </div>
        {% endif %}

    </div>
</section>
{% endblock %}
