{% set csrfToken = csrf_token('review_action') %}
<div class="box">
    <div class="columns is-vcentered">
        <div class="column">
            <div class="media">
                {% if item.icon %}
                <div class="media-left">
                    <span class="icon is-medium has-text-grey">
                        <i class="fas fa-{{ item.icon }}"></i>
                    </span>
                </div>
                {% endif %}
                <div class="media-content">
                    <p>{{ item.description }}</p>
                    {% if item.longDescription is not null %}
                        <p class="has-text-grey-dark mt-2">{{ item.longDescription|nl2br }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="column is-narrow">
            <div class="buttons are-small">
                {% if item.detailUrl is not null %}
                <a href="{{ item.detailUrl }}" class="button is-link is-outlined">
                    {{ 'profile_review.link_details'|trans }}
                </a>
                {% endif %}
                <a href="{{ path('app_profile_review_approve', {providerIdentifier: providerIdentifier, itemId: item.id}) }}"
                   class="button is-success"
                   data-post
                   data-csrf-token="{{ csrfToken }}">
                    {{ 'profile_review.button_approve'|trans }}
                </a>
                {% if item.canDeny %}
                <a href="{{ path('app_profile_review_deny', {providerIdentifier: providerIdentifier, itemId: item.id}) }}"
                   class="button is-danger is-outlined"
                   data-post
                   data-csrf-token="{{ csrfToken }}">
                    {{ 'profile_review.button_deny'|trans }}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
