{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/_components/admin_tabs.html.twig' with {'adminTabs': adminTabs} only %}
        {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

        {{ form_start(form) }}
        <div class="columns">
            <div class="column is-8">
                <div class="box">
                    <div class="columns">
                        <div class="column is-6">
                            <p class="has-text-grey">{{ 'admin_email_templates.edit_for_locale'|trans }}</p>
                        </div>
                        <div class="column is-6">
                            <div class="buttons has-addons is-pulled-right">
                                {% set defaultLocale = languages|first %}
                                {% for locale in languages %}
                                    <a class="button translation-button {% if locale == defaultLocale %}is-active{% endif %}"
                                       id="translation-button-{{ locale }}"
                                       data-id="{{ locale }}">{{ locale }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    {% set defaultLocale = languages|first %}
                    {% for locale in languages %}
                        <div class="translation-div {% if locale != defaultLocale %}is-hidden{% endif %}" id="translation-div-{{ locale }}">
                            <div class="field">
                                <label class="label">Subject ({{ locale }})</label>
                                <div class="control">
                                    {{ form_widget(form.("subject-"~locale), {'attr': {'class': 'input'}}) }}
                                </div>
                                {{ form_errors(form.("subject-"~locale)) }}
                            </div>

                            <div class="field">
                                <label class="label">Body ({{ locale }})</label>
                                <div class="control">
                                    {{ form_widget(form.("body-"~locale), {'attr': {'class': 'textarea', 'rows': 15}}) }}
                                </div>
                                {{ form_errors(form.("body-"~locale)) }}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="buttons">
                    <button class="button is-link" type="submit">{{ 'global.button_save'|trans }}</button>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <h3 class="subtitle">{{ 'admin_email_templates.available_variables'|trans }}</h3>
                    {% for variable in template.availableVariables %}
                        <div class="mb-1">
                            <span class="tag is-info">{{ '{{' }}{{ variable }}{{ '}}' }}</span>
                        </div>
                    {% endfor %}
                    <p class="help mt-3">{{ 'admin_email_templates.available_variables_help'|trans }}</p>
                </div>
            </div>
        </div>
        {{ form_end(form) }}

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin/email-template-edit.js') }}" defer></script>
{% endblock %}
