{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/_components/admin_tabs.html.twig' with {'adminTabs': adminTabs} only %}
        {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

        {% for name,email in emails %}
            {% embed 'admin/_components/admin_section.html.twig' with {'section': email.section} %}
                {% block body %}
                    <div class="columns m-0">
                        <div class="column is-7">
                            <p>{{ 'admin_email_templates.col_subject'|trans }}: <b>{{ email.subject }}</b></p>
                            <br>
                            <div>
                                {{ email.renderedBody|raw }}
                            </div>
                        </div>
                        <div class="column">
                            <table class="table is-narrow is-fullwidth">
                                {% for key,value in email.context %}
                                    <tr>
                                        <th>{{ key }}</th>
                                        <td>{% if value is iterable %}{{ value|json_encode }}{% else %}{{ value }}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}
        {% endfor %}

    </div>

{% endblock %}
