{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/_components/admin_tabs.html.twig' with {'adminTabs': adminTabs} only %}
        {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

        <div class="columns">
            <div class="column is-8">
                <div class="box">
                    <p class="mb-4"><strong>{{ 'admin_email_templates.col_subject'|trans }}:</strong> {{ renderedSubject }}</p>
                    <hr>
                    <div class="content">
                        {{ renderedBody|raw }}
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="buttons has-addons mb-4">
                    {% for locale in languages %}
                        <a href="{{ path('app_admin_email_templates_preview', {id: template.id, lang: locale}) }}"
                           class="button {% if locale == currentLanguage %}is-info is-selected{% endif %}">
                            {{ locale }}
                        </a>
                    {% endfor %}
                </div>
                <div class="box">
                    <h3 class="subtitle">{{ 'admin_email_templates.context_variables'|trans }}</h3>
                    <table class="table is-narrow is-fullwidth">
                        {% for key, value in context %}
                            <tr>
                                <th>{{ key }}</th>
                                <td>{% if value is iterable %}{{ value|json_encode }}{% else %}{{ value }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
