{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/_components/admin_tabs.html.twig' with {'adminTabs': adminTabs} only %}
        {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

        {% for row in sections %}
            {% embed 'admin/_components/admin_section.html.twig' with {'section': row.section} %}
                {% block body %}
                    <table class="table is-fullwidth is-hoverable is-narrow is-bordered">
                        <thead>
                            <tr>
                                <th class="is-size-7">Route</th>
                                <th class="is-size-7">Methods</th>
                                <th class="is-size-7">Controller</th>
                                <th class="is-size-7">Action</th>
                                <th class="is-size-7">{{ 'admin_system.tab_permissions'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in row.entries %}
                                <tr>
                                    <td class="is-size-7 is-family-monospace">{{ entry.routeName }}</td>
                                    <td>
                                        {% if entry.httpMethods is empty %}
                                            <span class="tag is-light is-size-7">{{ 'admin_system_permissions.perm_any'|trans }}</span>
                                        {% else %}
                                            {% for method in entry.httpMethods %}
                                                <span class="tag is-light is-size-7">{{ method }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td class="is-size-7">{{ entry.controllerClass }}</td>
                                    <td class="is-size-7">{{ entry.methodName }}</td>
                                    <td>
                                        {% for perm in entry.classPermissions %}
                                            <span class="tag is-light is-size-7" title="{{ 'admin_system_permissions.perm_class_level'|trans }}">{{ perm }}</span>
                                        {% endfor %}
                                        {% for perm in entry.methodPermissions %}
                                            <span class="tag is-light is-size-7" title="{{ 'admin_system_permissions.perm_method_level'|trans }}">{{ perm }}</span>
                                        {% endfor %}
                                        {% if entry.classPermissions is empty and entry.methodPermissions is empty %}
                                            <span class="tag is-light is-size-7">{{ 'admin_system_permissions.perm_public'|trans }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endblock %}
            {% endembed %}
        {% endfor %}

    </div>

{% endblock %}
