<h3 class="title is-5">
    <span class="icon"><i class="fa fa-film"></i></span>
    {{ "Film Night"|trans }}
</h3>

{% if vote.votingOpen %}
    <p>{{ "Voting is open!"|trans }}</p>
    <p class="has-text-grey is-size-7">{{ "Closes"|trans }}: {{ vote.closesAt|date('d.m.Y H:i') }}</p>
    <a href="{{ path('app_filmclub_vote_show', {id: vote.id}) }}" class="button is-small is-primary mt-2">
        {{ "Vote now"|trans }}
    </a>
{% else %}
    {% if vote.winningFilm %}
        <p class="has-text-weight-bold">{{ vote.winningFilm.title }}</p>
        <p class="has-text-grey is-size-7">{{ vote.winningFilm.year }} - {{ vote.winningFilm.runtime }} min</p>
    {% else %}
        <p class="has-text-grey">{{ "No film selected"|trans }}</p>
    {% endif %}
{% endif %}
