{% if selection %}
<div class="mt-2">
    <p class="is-size-7 has-text-weight-semibold">{{ 'filmclub_tile.heading'|trans }}</p>
    {% if selection.film.posterImage %}
    <figure class="image mb-1">
        {% include '_components/image.html.twig' with {'image': selection.film.posterImage, 'size': '100x150', 'alt': selection.film.title} %}
    </figure>
    {% endif %}
    <p class="is-size-7">
        <a href="{{ path('app_plugin_filmclub_film_show', {id: selection.film.id}) }}">{{ selection.film.title }}</a>
    </p>
    {% if is_granted('ROLE_USER') and not isWishlisted %}
    <form method="POST" action="{{ path('app_plugin_filmclub_wishlist_add', {filmId: selection.film.id}) }}" style="display: inline">
        <button type="submit" class="button is-small is-text is-size-7">{{ 'filmclub_tile.button_add_wishlist'|trans }}</button>
    </form>
    {% endif %}
</div>
{% elseif activePoll %}
<div class="mt-2">
    <p class="is-size-7 has-text-weight-semibold">{{ 'filmclub_tile.heading'|trans }}</p>
    <p class="is-size-7">{{ 'filmclub_tile.poll_closes_in'|trans({'%date%': activePoll.endDate|date('Y-m-d')}) }}</p>
    <a href="{{ path('app_plugin_filmclub_poll_vote', {id: activePoll.id}) }}" class="button is-small is-link mt-1">
        {{ 'filmclub_tile.button_vote_now'|trans }}
    </a>
</div>
{% else %}
<div class="mt-2">
    <p class="is-size-7 has-text-weight-semibold">{{ 'filmclub_tile.heading'|trans }}</p>
    {% if canCreatePoll %}
        {% if wishlistPoolCount > 0 %}
        <a href="{{ path('app_plugin_filmclub_wishlist_group') }}?event_id={{ eventId }}" class="is-size-7 mr-2">{{ 'filmclub_tile.button_create_poll'|trans }}</a>
        &middot;
        {% endif %}
        <a href="{{ path('app_plugin_filmclub_choose_directly', {eventId: eventId}) }}" class="is-size-7">{{ 'filmclub_tile.button_choose_directly'|trans }}</a>
    {% else %}
        <a href="{{ path('app_plugin_filmclub_poll_create', {eventId: eventId}) }}" class="is-size-7">{{ 'filmclub_tile.link_create_poll'|trans }}</a>
        &middot;
        <a href="{{ path('app_plugin_filmclub_manage_select', {eventId: eventId}) }}" class="is-size-7">{{ 'filmclub_tile.link_pick_film'|trans }}</a>
    {% endif %}
</div>
{% endif %}
