<div class="box">
    <h2 class="title is-5">{{ 'town_hall.tile_stats_heading'|trans }}</h2>
    <div class="level is-mobile">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">{{ 'town_hall.tile_stats_members'|trans }}</p>
                <p class="title is-5">{{ stats.memberCount }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">{{ 'town_hall.tile_stats_events'|trans }}</p>
                <p class="title is-5">{{ stats.eventCount }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">{{ 'town_hall.tile_stats_wall_posts'|trans }}</p>
                <p class="title is-5">{{ stats.wallPostCount }}</p>
            </div>
        </div>
    </div>
</div>
