{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/email/_tabs_navigation.html.twig' with {'activeSection': 'planned'} %}

        {% if items is empty %}
            <p class="has-text-grey">{{ 'admin_email_planned.empty'|trans }}</p>
        {% else %}
            <table class="table is-fullwidth" id="filteredTable">
                <thead>
                    <tr>
                        <th>{{ 'admin_email_planned.col_expected_time'|trans }}</th>
                        <th>{{ 'admin_email_planned.col_mail_type'|trans }}</th>
                        <th>{{ 'admin_email_planned.col_description'|trans }}</th>
                        <th>{{ 'admin_email_planned.col_expected_recipients'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.expectedTime|date('Y-m-d H:i') }}</td>
                            <td>{{ item.mailType }}</td>
                            <td>{{ item.label }}</td>
                            <td>{{ item.expectedRecipients }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>

{% endblock %}
