{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/_components/admin_tabs.html.twig' with {'adminTabs': adminTabs} only %}
        {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

        {% if items is empty %}
            <p class="has-text-grey">{{ 'admin_email_planned.empty'|trans }}</p>
        {% else %}
            <table class="table is-fullwidth" id="filteredTable">
                <thead>
                    <tr>
                        <th>{{ 'admin_email_planned.col_expected_time'|trans }}</th>
                        <th>{{ 'admin_email_planned.col_mail_type'|trans }}</th>
                        <th>{{ 'admin_email_planned.col_description'|trans }}</th>
                        <th>{{ 'admin_email_planned.col_expected_recipients'|trans }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.expectedTime|date('Y-m-d H:i') }}</td>
                            <td>{{ item.mailType }}</td>
                            <td>{{ item.label }}</td>
                            <td>{{ item.expectedRecipients }}</td>
                            <td>
                                <a href="{{ path('app_admin_email_planned_detail', {'key': item.key}) }}"
                                   title="{{ 'admin_email_planned.detail_link_title'|trans }}">
                                    <span class="icon"><i class="fa fa-search"></i></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>

{% endblock %}
