{% extends '@Wishlist/base_wishlist.html.twig' %}

{% block title %}{{ 'wishlist_entry.page_title_group'|trans }}{% endblock %}

{% block wishlist_body %}
<div class="level mb-4">
    <div class="level-left"><h1 class="title mb-0">{{ 'wishlist_entry.page_title_group'|trans }}</h1></div>
    <div class="level-right">
        <a href="{{ path('app_wishlist_mine') }}" class="button is-small">{{ 'wishlist_entry.button_mine'|trans }}</a>
    </div>
</div>

{% if byMember is empty %}
<p class="has-text-grey">{{ 'wishlist_entry.empty_group'|trans }}</p>
{% else %}
{% for userId, entries in byMember %}
<div class="box mb-4">
    <p class="is-size-6 has-text-weight-semibold mb-2">
        <a href="{{ path('app_member_view', {id: userId}) }}">{{ get_user_name(userId) }}</a>
    </p>
    <div class="columns is-multiline">
        {% for entry in entries %}
        <div class="column is-one-quarter">
            {{ item_list_cell(entry.itemType, entry.itemId) }}
            {% if entry.priorityCounter > 0 %}
            <p class="is-size-7 has-text-grey-dark">{{ 'wishlist_entry.priority_label'|trans({'%count%': entry.priorityCounter}) }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
