{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="title">{{ host.id ? 'Edit Host' : 'Create Host' }}</h1>

        {% if host.id %}
            {% set warningContent %}
                {% if events_using_host|length > 0 %}
                    <p>
                        <span class="icon"><i class="fa fa-exclamation-triangle"></i></span>
                        Cannot delete this host! It is currently used in {{ events_using_host|length }} event(s).
                    </p>
                {% else %}
                    <p>
                        Are you sure you want to delete this host? This action cannot be undone.
                    </p>
                {% endif %}
            {% endset %}

            {% include '_components/warning_box.html.twig' with {
                'id': 'host-delete-warning',
                'title': 'Delete Host',
                'content': warningContent,
                'buttonLabel': 'Yes, Delete',
                'buttonUrl': path('app_admin_host_delete', {'id': host.id}),
                'showButton': events_using_host|length == 0,
                'type': 'danger'
            } %}
        {% endif %}

        {{ form_start(form) }}

        <div class="columns">
            <div class="column is-8">
                {{ form_row(form.name) }}
                {{ form_row(form.user) }}
            </div>

            <div class="column is-4">
                {% if host.id %}
                    <fieldset class="mt-5 p-4" style="border: 2px solid #f14668; border-radius: 4px;">
                        <legend class="px-2 has-text-danger has-text-weight-semibold is-size-7">Danger Zone</legend>

                        <a class="button is-light is-fullwidth toggleTrigger" data-id="host-delete-warning"
                           href="{{ path('app_admin_host_delete', {'id': host.id}) }}">
                            <span class="icon"><i class="fa fa-trash"></i></span>
                            <span>Delete Host</span>
                        </a>
                    </fieldset>
                {% endif %}
            </div>
        </div>

        <div class="field mt-5">
            <button type="submit" class="button is-link">
                <span>{{ "button_save" | trans }}</span>
            </button>
            <a href="{{ path('app_admin_host') }}" class="button is-light">
                <span>{{ "button_cancel" | trans }}</span>
            </a>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
