{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="container">

        {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

        {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.user) }}

        <div class="field mt-5">
            <button type="submit" class="button is-primary">
                <span>{{ 'global.button_save'|trans }}</span>
            </button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
