{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/_components/admin_tabs.html.twig' with {'adminTabs': adminTabs} only %}
        {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

        {% if error %}
            <div class="notification is-danger is-light">
                <strong>{{ 'admin_system_import.failed'|trans }}</strong> {{ error }}
            </div>
        {% endif %}

        {% if summary %}
            <div class="notification is-success is-light">
                <h2 class="title is-5">{{ 'admin_system_import.success_title'|trans }}</h2>
                <table class="table is-narrow">
                    <tbody>
                        <tr>
                            <td>{{ 'admin_system_import.users_created'|trans }}</td>
                            <td>{{ summary.usersCreated }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'admin_system_import.users_skipped'|trans }}</td>
                            <td>{{ summary.usersSkipped }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'admin_system_import.locations_created'|trans }}</td>
                            <td>{{ summary.locationsCreated }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'admin_system_import.events_created'|trans }}</td>
                            <td>{{ summary.eventsCreated }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'admin_system_import.cms_created'|trans }}</td>
                            <td>{{ summary.cmsPagesCreated }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'admin_system_import.cms_skipped'|trans }}</td>
                            <td>{{ summary.cmsPagesSkipped }}</td>
                        </tr>
                    </tbody>
                </table>
                <p class="mt-3">{{ 'admin_system_import.note'|trans }}</p>
            </div>
        {% endif %}

        <form method="post" action="{{ path('app_admin_system_import') }}" enctype="multipart/form-data">
            <div class="field">
                <label class="label">{{ 'admin_system_import.label_zip_file'|trans }}</label>
                <div class="control">
                    <input class="input" type="file" name="import_file" accept=".zip" required>
                </div>
            </div>
            <button type="submit" class="button is-primary">
                <span class="icon"><i class="fas fa-file-import"></i></span>
                <span>{{ 'admin_system_import.button'|trans }}</span>
            </button>
        </form>

    </div>

{% endblock %}
