{% extends 'admin/base.html.twig' %}

{% block content %}
<div class="container">

    {% include 'admin/_components/admin_tabs.html.twig' with {'adminTabs': adminTabs} only %}
    {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

    <table id="filteredTable" class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>{{ 'admin_system_sitemap.col_section'|trans }}</th>
                <th>{{ 'admin_system_sitemap.col_locale'|trans }}</th>
                <th>{{ 'admin_system_sitemap.col_label'|trans }}</th>
                <th>{{ 'admin_system_sitemap.col_url'|trans }}</th>
                <th>{{ 'admin_system_sitemap.col_last_mod'|trans }}</th>
                <th>{{ 'admin_system_sitemap.col_warnings'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in urls %}
            <tr>
                <td><span class="tag is-light">{{ entry.section }}</span></td>
                <td><span class="tag is-light">{{ entry.locale|upper }}</span></td>
                <td>{{ entry.label }}</td>
                <td>
                    <a href="{{ entry.url }}" target="_blank" rel="noopener" class="is-size-7 has-text-grey">
                        {{ entry.url }}
                    </a>
                </td>
                <td>{{ entry.lastmod }}</td>
                <td>
                    {% for warning in entry.warnings %}
                        <span class="tag is-warning is-light">{{ warning }}</span>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p class="is-size-7 has-text-grey mt-3">
        <a href="https://search.google.com/search-console/sitemaps" target="_blank" rel="noopener">
            {{ 'admin_system_sitemap.button_search_console'|trans }}
            <span class="icon is-small"><i class="fa fa-arrow-up-right-from-square"></i></span>
        </a>
    </p>
</div>
{% endblock %}
