{% extends 'admin/base.html.twig' %}

{% block content %}

    {% set deleteLink = path('app_admin_user_delete', {'id': user.id}) %}

    <div class="container">

        <article class="message is-danger is-hidden" id="user-delete-warning">
            <div class="message-header">
                <p>Delete the user</p>
                <button class="delete toggleTrigger" data-id="user-delete-warning" aria-label="delete"></button>
            </div>
            <div class="message-body">
                <p>
                    If a user is deleted the user will be marked and can be reactivated later, until the de-spawning
                    tool is developed, to cleanly remove all related data. (after 30 days or so)
                </p>
                <div class="has-text-right">
                    <a class="button is-danger" href="{{ deleteLink }}">
                        <span class="icon"><i class="fa fa-trash"></i></span>
                        <span>Yes, Delete</span>
                    </a>
                </div>
            </div>
        </article>

        {{ form_start(form) }}


        <div class="columns">
            <div class="column is-9">
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.bio) }}

                <div class="columns">
                    <div class="column">
                        {{ form_row(form.verified) }}
                    </div>
                    <div class="column">
                        {{ form_row(form.restricted) }}
                    </div>
                    <div class="column">
                        {{ form_row(form.public) }}
                    </div>
                    <div class="column">
                        {{ form_row(form.tagging) }}
                    </div>
                    <div class="column">
                        {{ form_row(form.osmConsent) }}
                    </div>
                </div>
            </div>
            <div class="column is-3">
                {{ form_row(form.locale) }}
                {{ form_row(form.status) }}
                {{ form_row(form.roles) }}
                <br>
                <br>
                <a class="button is-danger toggleTrigger" data-id="user-delete-warning" href="{{ deleteLink }}">
                    <span class="icon"><i class="fa fa-trash"></i></span>
                </a>
                <button class="button">{{ "button_save" | trans }}</button>
            </div>
        </div>


        {{ form_widget(form) }}

        {{ form_end(form) }}


    </div>

{% endblock %}
