{% extends 'base.html.twig' %}

{% block title %}{{ 'bookclub_poll.page_title_list'|trans }} - {{ 'bookclub.page_title'|trans }}{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <nav class="breadcrumb">
            <ul>
                <li><a href="{{ path('app_plugin_bookclub') }}">{{ 'bookclub.page_title'|trans }}</a></li>
                <li class="is-active"><a>{{ 'bookclub_poll.breadcrumb_all_polls'|trans }}</a></li>
            </ul>
        </nav>

        <h1 class="title">{{ 'bookclub_poll.heading_all_polls'|trans }}</h1>

        {% if polls is empty %}
            <p class="has-text-grey">{{ 'bookclub_poll.empty_polls'|trans }}</p>
        {% else %}
            <table class="table is-fullwidth is-striped is-hoverable">
                <thead>
                    <tr>
                        <th>{{ 'bookclub_poll.col_status'|trans }}</th>
                        <th>{{ 'bookclub_poll.col_winner'|trans }}</th>
                        <th>{{ 'bookclub_poll.col_event'|trans }}</th>
                        <th>{{ 'bookclub_poll.col_options'|trans }}</th>
                        <th>{{ 'bookclub_poll.col_created'|trans }}</th>
                        <th>
                            {% if is_granted('ROLE_ORGANIZER') %}
                                <a href="{{ path('app_plugin_bookclub_poll_create') }}">
                                    <span class="icon"><i class="fa fa-plus"></i></span>
                                </a>
                            {% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for poll in polls %}
                        {% set winner = winners[poll.id] ?? null %}
                        {% set event = events[poll.id] ?? null %}
                        <tr>
                            <td>
                                {% if poll.status.value == 1 %}
                                    <span class="tag is-info">{{ 'bookclub_poll.status_open'|trans }}</span>
                                {% else %}
                                    <span class="tag is-success">{{ 'bookclub_poll.status_closed'|trans }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if winner %}
                                    <a href="{{ path('app_plugin_bookclub_book_show', {id: winner.book.id}) }}">
                                        {{ winner.book.title }}
                                    </a>
                                {% else %}
                                    <span class="has-text-grey">-</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if event %}
                                    <a href="{{ path('app_event_details', {id: event.id}) }}">{{ event.getTitle('en') }}</a>
                                    <span class="has-text-grey is-size-7">{{ event.start|date('Y-m-d') }}</span>
                                {% else %}
                                    <span class="has-text-grey">-</span>
                                {% endif %}
                            </td>
                            <td>{{ poll.suggestions|length }}</td>
                            <td>{{ poll.createdAt|date('Y-m-d') }}</td>
                            <td>
                                {% if poll.status.value == 1 %}
                                    <a href="{{ path('app_plugin_bookclub_poll') }}">
                                        <span class="icon"><i class="fa fa-vote-yea"></i></span>
                                    </a>
                                {% elseif poll.status.value == 2 %}
                                    <a href="{{ path('app_plugin_bookclub_poll_results', {id: poll.id}) }}">
                                        <span class="icon"><i class="fa fa-chart-bar"></i></span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</section>
{% endblock %}
