{% extends 'base.html.twig' %}

{% block title %}{{ 'bookclub_poll.page_title_results'|trans }} - {{ 'bookclub.page_title'|trans }}{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <nav class="breadcrumb">
            <ul>
                <li><a href="{{ path('app_plugin_bookclub') }}">{{ 'bookclub.page_title'|trans }}</a></li>
                <li class="is-active"><a>{{ 'bookclub_poll.breadcrumb_results'|trans }}</a></li>
            </ul>
        </nav>

        <h1 class="title">{{ 'bookclub_poll.heading_results'|trans({'%title%': event.getTitle('en')}) }}</h1>
        <p class="subtitle">
            {{ 'bookclub_poll.label_total_votes'|trans }}: {{ results.totalVotes }} | {{ event.start|date('Y-m-d') }}
        </p>

        {% if results.winner %}
            <div class="notification is-success is-light">
                <h2 class="title is-4">
                    <span class="icon"><i class="fas fa-trophy"></i></span>
                    {{ 'bookclub_poll.result_winner'|trans }} {{ results.winner.book.title }}
                </h2>
                <p>{{ 'bookclub_poll.result_by_author'|trans({'%author%': results.winner.book.author ?? 'bookclub_poll.label_unknown'|trans}) }}</p>
            </div>
        {% endif %}

        <h3 class="subtitle">{{ 'bookclub_poll.heading_full_results'|trans }}</h3>
        <table class="table is-fullwidth is-striped">
            <thead>
                <tr>
                    <th>{{ 'bookclub_poll.col_book'|trans }}</th>
                    <th>{{ 'bookclub_poll.col_author'|trans }}</th>
                    <th>{{ 'bookclub_poll.col_votes'|trans }}</th>
                    <th>{{ 'bookclub_poll.col_result'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for suggestion in poll.suggestions %}
                    {% set voteCount = results.votes[suggestion.id] ?? 0 %}
                    <tr class="{% if results.winner and suggestion.id == results.winner.id %}has-background-success-light{% endif %}">
                        <td>
                            <a href="{{ path('app_plugin_bookclub_book_show', {id: suggestion.book.id}) }}">
                                {{ suggestion.book.title }}
                            </a>
                        </td>
                        <td>{{ suggestion.book.author ?? 'bookclub_poll.label_unknown'|trans }}</td>
                        <td>
                            <span class="tag is-info is-medium">{{ voteCount }}</span>
                        </td>
                        <td>
                            {% if results.winner and suggestion.id == results.winner.id %}
                                <span class="tag is-success">{{ 'bookclub_poll.tag_winner'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</section>
{% endblock %}
