{% extends 'base.html.twig' %}

{% block title %}{{ 'bookclub_poll.page_title_vote'|trans }} - {{ 'bookclub.page_title'|trans }}{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <nav class="breadcrumb">
            <ul>
                <li><a href="{{ path('app_plugin_bookclub') }}">{{ 'bookclub.page_title'|trans }}</a></li>
                <li class="is-active"><a>{{ 'bookclub_poll.breadcrumb_current_poll'|trans }}</a></li>
            </ul>
        </nav>

        <div class="is-flex is-justify-content-space-between is-align-items-flex-start mb-4">
            <div>
                <h1 class="title">{{ event.getTitle('en') }}</h1>
                <p class="subtitle mt-0">{{ 'bookclub_poll.vote_subtitle'|trans }} &mdash; {{ event.start|date('Y-m-d') }}</p>
            </div>
            <div class="buttons has-addons">
                <a class="button{% if viewType == 'tiles' %} has-background-link has-text-light{% endif %}" href="{{ path('app_plugin_bookclub_poll_set_view', {type: 'tiles'}) }}">
                    <span class="icon"><i class="fa-solid fa-grip"></i></span>
                </a>
                <a class="button{% if viewType == 'list' %} has-background-link has-text-light{% endif %}" href="{{ path('app_plugin_bookclub_poll_set_view', {type: 'list'}) }}">
                    <span class="icon"><i class="fa-solid fa-list"></i></span>
                </a>
            </div>
        </div>

        {% if userVote %}
            <div class="notification">
                {{ 'bookclub_poll.vote_you_voted'|trans }} <strong>{{ userVote.suggestion.book.title }}</strong>
                <br><small>{{ 'bookclub_poll.vote_change_hint'|trans }}</small>
            </div>
        {% endif %}

        {% include '@Bookclub/poll/views/' ~ viewType ~ '.html.twig' %}

        {% if is_granted('ROLE_ORGANIZER') %}
            <div class="box mt-5">
                <h3 class="title is-5">{{ 'bookclub_poll.heading_manager_actions'|trans }}</h3>
                <form action="{{ path('app_plugin_bookclub_poll_close', {id: poll.id}) }}" method="post">
                    <button type="submit" class="button is-danger" onclick="return confirm('{{ 'bookclub_poll.button_close_confirm'|trans|escape('js') }}')">
                        <span class="icon"><i class="fas fa-stop"></i></span>
                        <span>{{ 'bookclub_poll.button_close_poll'|trans }}</span>
                    </button>
                </form>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
