{% extends 'base.html.twig' %}

{% block title %}Vote - Book Club{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <nav class="breadcrumb">
            <ul>
                <li><a href="{{ path('app_plugin_bookclub') }}">Book Club</a></li>
                <li class="is-active"><a>Current Poll</a></li>
            </ul>
        </nav>

        <div class="is-flex is-justify-content-space-between is-align-items-flex-start mb-4">
            <div>
                <h1 class="title">{{ event.getTitle('en') }}</h1>
                <p class="subtitle mt-0">Vote for the next book to read! &mdash; {{ event.start|date('Y-m-d') }}</p>
            </div>
            <div class="buttons has-addons">
                <a class="button{% if viewType == 'tiles' %} has-background-link has-text-light{% endif %}" href="{{ path('app_plugin_bookclub_poll_set_view', {type: 'tiles'}) }}">
                    <span class="icon"><i class="fa-solid fa-grip"></i></span>
                </a>
                <a class="button{% if viewType == 'list' %} has-background-link has-text-light{% endif %}" href="{{ path('app_plugin_bookclub_poll_set_view', {type: 'list'}) }}">
                    <span class="icon"><i class="fa-solid fa-list"></i></span>
                </a>
            </div>
        </div>

        {% if userVote %}
            <div class="notification">
                You voted for: <strong>{{ userVote.suggestion.book.title }}</strong>
                <br><small>You can change your vote until the poll closes.</small>
            </div>
        {% endif %}

        {% include '@Bookclub/poll/views/' ~ viewType ~ '.html.twig' %}

        {% if is_granted('ROLE_ORGANIZER') %}
            <div class="box mt-5">
                <h3 class="title is-5">Manager Actions</h3>
                <form action="{{ path('app_plugin_bookclub_poll_close', {id: poll.id}) }}" method="post">
                    <button type="submit" class="button is-danger" onclick="return confirm('Close the poll and announce the winner?')">
                        <span class="icon"><i class="fas fa-stop"></i></span>
                        <span>Close Poll</span>
                    </button>
                </form>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
