{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        <article class="message is-danger is-hidden" id="user-delete-warning">
            <div class="message-header">
                <p>Delete the member</p>
                <button class="delete toggleTrigger" data-id="user-delete-warning" aria-label="delete"></button>
            </div>
            <div class="message-body has-text-black has-background-white">
                <p>
                    If a member is deleted they will be marked as deleted and can be reactivated later.
                    This is a soft-delete that preserves all related data until permanent cleanup runs.
                </p>
                <div class="has-text-right">
                    <form method="post" action="{{ path('app_admin_member_delete', {'id': user.id}) }}" class="is-inline">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                        <button type="submit" class="button">
                            <span class="icon"><i class="fa fa-trash"></i></span>
                            <span>Yes, Delete</span>
                        </button>
                    </form>
                </div>
            </div>
        </article>

        {{ form_start(form) }}

        <div class="columns">
            <div class="column is-9">
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.bio) }}

                <div class="columns">
                    <div class="column">
                        {{ form_row(form.verified) }}
                    </div>
                    <div class="column">
                        {{ form_row(form.restricted) }}
                    </div>
                    <div class="column">
                        {{ form_row(form.public) }}
                    </div>
                    <div class="column">
                        {{ form_row(form.tagging) }}
                    </div>
                    <div class="column">
                        {{ form_row(form.osmConsent) }}
                    </div>
                </div>
            </div>
            <div class="column is-3">
                {{ form_row(form.locale) }}
                {{ form_row(form.status) }}
                {{ form_row(form.role) }}
                <br>
                <br>
                <button type="button" class="button is-danger toggleTrigger" data-id="user-delete-warning">
                    <span class="icon"><i class="fa fa-trash"></i></span>
                </button>
                <button type="submit" class="button">{{ "button_save" | trans }}</button>
            </div>
        </div>

        {{ form_widget(form) }}

        {{ form_end(form) }}

    </div>

{% endblock %}
