{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        <table id="filteredTable" class="table is-fullwidth">
            <thead>
            <tr>
                <th>{{ 'admin_member.col_name'|trans }}</th>
                <th>{{ 'admin_member.col_email'|trans }}</th>
                <th>{{ 'admin_member.col_lang'|trans }}</th>
                <th>{{ 'admin_member.col_role'|trans }}</th>
                <th>{{ 'admin_member.col_status'|trans }}</th>
                <th>{{ 'admin_member.col_created'|trans }}</th>
                <th>{{ 'admin_member.col_last_login'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% set rowClass = '' %}
                {% if user.status.value == 1 %}
                    {% set rowClass = 'has-background-warning-light' %}
                {% elseif user.status.value in [3, 4, 5] %}
                    {% set rowClass = 'has-background-danger-light' %}
                {% elseif user.status.value == 0 %}
                    {% set rowClass = 'has-background-info-light' %}
                {% endif %}
                <tr class="{{ rowClass }}">
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.locale }}</td>
                    <td>
                        <div class="hidden">{{ user.roles|join }}</div>
                        {% set color = 'ROLE_ADMIN' in user.roles ? 'has-text-success' : 'has-text-grey' %}
                        <span class="icon {{ color }}"><i class="fa fa-user"></i></span>
                    </td>
                    <td>{{ user.status.label()|trans }}</td>
                    <td>{{ user.createdAt|date('Y-m-d') }}</td>
                    <td>
                        {% if user.lastLogin %}
                            {{ user.lastLogin|date('Y-m-d') }}
                        {% else %}
                            <span class="has-text-grey-light">{{ 'admin_member.legend_never'|trans }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_admin_member_edit', {'id': user.id}) }}">
                            <span class="icon"><i class="fa fa-edit"></i></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="mt-4 has-text-centered">
            <span class="icon-text" title="{{ 'admin_member.legend_member_title'|trans }}">
                <span class="icon has-text-grey"><i class="fas fa-user"></i></span>
                <span class="has-text-grey">{{ 'admin_member.legend_member'|trans }}</span>
            </span>
            <span class="icon-text" title="{{ 'admin_member.legend_admin_title'|trans }}">
                <span class="icon has-text-success"><i class="fas fa-user"></i></span>
                <span class="has-text-success">{{ 'admin_member.legend_admin'|trans }}</span>
            </span>
        </div>

    </div>

{% endblock %}
