{% extends 'base.html.twig' %}

{% block title %}{{ 'dinnerclub.page_title_add'|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ path('app_plugin_dinnerclub') }}">{{ 'dinnerclub.breadcrumb_dishes'|trans }}</a></li>
                    <li class="is-active"><a href="#" aria-current="page">{{ 'dinnerclub.breadcrumb_add_new'|trans }}</a></li>
                </ul>
            </nav>

            <div class="columns">
                <div class="column is-8">
                    <div class="box">
                        <h2 class="title is-4">
                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                            <span>{{ 'dinnerclub.heading_add'|trans }}</span>
                        </h2>

                        <p class="mb-4 has-text-grey">
                            {{ 'dinnerclub.add_subtitle'|trans }}
                        </p>

                        {{ form_start(form, {'attr': {'class': 'dish-add-form'}}) }}

                        <div class="field">
                            <label class="label">
                                <span class="icon-text">
                                    <span class="icon"><i class="fa-solid fa-language"></i></span>
                                    <span>{{ form.language.vars.label|trans }}</span>
                                </span>
                            </label>
                            <div class="control">
                                <div class="select">
                                    {{ form_widget(form.language) }}
                                </div>
                            </div>
                            {{ form_errors(form.language) }}
                        </div>

                        <div class="field">
                            <label class="label">
                                <span class="icon-text">
                                    <span class="icon"><i class="fa-solid fa-utensils"></i></span>
                                    <span>{{ form.name.vars.label|trans }}</span>
                                </span>
                            </label>
                            <div class="control">
                                {{ form_widget(form.name, {'attr': {'class': 'input'}}) }}
                            </div>
                            {{ form_errors(form.name) }}
                        </div>

                        <div class="field">
                            <label class="label">
                                <span class="icon-text">
                                    <span class="icon"><i class="fa-solid fa-volume-high"></i></span>
                                    <span>{{ form.phonetic.vars.label|trans }}</span>
                                </span>
                            </label>
                            <div class="control">
                                {{ form_widget(form.phonetic, {'attr': {'class': 'input'}}) }}
                            </div>
                            {{ form_errors(form.phonetic) }}
                        </div>

                        <div class="field">
                            <label class="label">
                                <span class="icon-text">
                                    <span class="icon"><i class="fa-solid fa-align-left"></i></span>
                                    <span>{{ form.description.vars.label|trans }}</span>
                                </span>
                            </label>
                            <div class="control">
                                {{ form_widget(form.description, {'attr': {'class': 'textarea'}}) }}
                            </div>
                            {{ form_errors(form.description) }}
                        </div>

                        <div class="field">
                            <label class="label">
                                <span class="icon-text">
                                    <span class="icon"><i class="fa-solid fa-book-open"></i></span>
                                    <span>{{ form.recipe.vars.label|trans }}</span>
                                </span>
                            </label>
                            <div class="control">
                                {{ form_widget(form.recipe, {'attr': {'class': 'textarea'}}) }}
                            </div>
                            {{ form_errors(form.recipe) }}
                        </div>

                        <div class="field">
                            <label class="label">
                                <span class="icon-text">
                                    <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
                                    <span>{{ form.origin.vars.label|trans }}</span>
                                </span>
                            </label>
                            <div class="control">
                                {{ form_widget(form.origin, {'attr': {'class': 'input'}}) }}
                            </div>
                            {{ form_errors(form.origin) }}
                        </div>

                        <div class="field is-grouped mt-5">
                            <div class="control">
                                <button type="submit" class="button is-link">
                                    <span class="icon"><i class="fa-solid fa-check"></i></span>
                                    <span>{{ 'dinnerclub.button_add_dish'|trans }}</span>
                                </button>
                            </div>
                            <div class="control">
                                <a href="{{ path('app_plugin_dinnerclub') }}" class="button">{{ 'global.button_cancel'|trans }}</a>
                            </div>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>

                <div class="column is-4">
                    <div class="box">
                        <h3 class="title is-5">
                            <span class="icon"><i class="fa-solid fa-circle-info"></i></span>
                            <span>{{ 'dinnerclub.how_it_works_heading'|trans }}</span>
                        </h3>
                        <div class="content">
                            <ol>
                                <li>{{ 'dinnerclub.how_it_works_step1'|trans }}</li>
                                <li>{% if is_granted('ROLE_ORGANIZER') %}{{ 'dinnerclub.how_it_works_step2_manager'|trans }}{% else %}{{ 'dinnerclub.how_it_works_step2_user'|trans }}{% endif %}</li>
                                <li>{{ 'dinnerclub.how_it_works_step3'|trans }}</li>
                                <li>{{ 'dinnerclub.how_it_works_step4'|trans }}</li>
                            </ol>
                        </div>
                    </div>

                    <div class="box">
                        <h3 class="title is-5">
                            <span class="icon"><i class="fa-solid fa-lightbulb"></i></span>
                            <span>{{ 'dinnerclub.tips_heading'|trans }}</span>
                        </h3>
                        <div class="content is-small">
                            <ul>
                                <li>{{ 'dinnerclub.tips_name_required'|trans }}</li>
                                <li>{{ 'dinnerclub.tips_phonetic'|trans }}</li>
                                <li>{{ 'dinnerclub.tips_origin'|trans }}</li>
                                <li>{{ 'dinnerclub.tips_image'|trans }}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="box">
                        <h3 class="title is-5">
                            <span class="icon"><i class="fa-solid fa-volume-high"></i></span>
                            <span>{{ 'dinnerclub.phonetic_systems_heading'|trans }}</span>
                        </h3>
                        <div class="content is-small">
                            <table class="table is-narrow is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>{{ 'dinnerclub.phonetic_col_language'|trans }}</th>
                                        <th>{{ 'dinnerclub.phonetic_col_system'|trans }}</th>
                                        <th>{{ 'dinnerclub.phonetic_col_example'|trans }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>{{ 'dinnerclub.phonetic_lang_chinese'|trans }}</td><td>Pinyin</td><td>má po dòu fu</td></tr>
                                    <tr><td>{{ 'dinnerclub.phonetic_lang_japanese'|trans }}</td><td>Rōmaji</td><td>ra-men</td></tr>
                                    <tr><td>{{ 'dinnerclub.phonetic_lang_arabic'|trans }}</td><td>Romanisation</td><td>kus-kus</td></tr>
                                    <tr><td>{{ 'dinnerclub.phonetic_lang_korean'|trans }}</td><td>Revised Romanisation</td><td>bi-bim-bap</td></tr>
                                    <tr><td>{{ 'dinnerclub.phonetic_lang_thai'|trans }}</td><td>RTGS</td><td>phàt thai</td></tr>
                                    <tr><td>{{ 'dinnerclub.phonetic_lang_hindi'|trans }}</td><td>IAST</td><td>bi-ryā-nī</td></tr>
                                    <tr><td>{{ 'dinnerclub.phonetic_lang_greek'|trans }}</td><td>Greeklish</td><td>mu-sa-kás</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}
