{% extends 'base.html.twig' %}

{% block title %}{{ "Translate Dish"|trans }} - {{ dish.getTranslatedName(app.locale) ?: dish.getAnyTranslatedName() }}{% endblock %}

{% block javascripts %}
    {% if dish.previewImage or galleryImages|length > 0 %}
        <script src="{{ asset('js/vendor/fancybox.umd.js') }}"></script>
    {% endif %}
{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ path('app_plugin_dinnerclub') }}">Dishes</a></li>
                    <li><a href="{{ path('plugin_dinnerclub_item_show', {'id': dish.id}) }}">{{ dish.getTranslatedName(app.locale) ?: dish.getAnyTranslatedName() }}</a></li>
                    <li class="is-active"><a href="#" aria-current="page">Translate ({{ targetLanguage|upper }})</a></li>
                </ul>
            </nav>

            <div class="columns">
                <div class="column is-8">
                    <div class="box">
                        <div class="columns mb-0">
                            <div class="column is-6">
                                <p class="has-text-grey">Select a language to translate</p>
                            </div>
                            <div class="column is-6">
                                <div class="buttons has-addons is-pulled-right" id="lang-switcher">
                                    {% for lang in availableLanguages %}
                                        <a href="{{ path('plugin_dinnerclub_edit', {'id': dish.id, 'lang': lang}) }}"
                                           class="button {% if lang == targetLanguage %}is-active{% endif %}">
                                            {{ lang|upper }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <h2 class="title is-4">
                            <span class="icon"><i class="fa-solid fa-language"></i></span>
                            <span>{% if existingTranslation %}Edit{% else %}Add{% endif %} Translation</span>
                            <span class="tag is-info is-medium ml-2">{{ targetLanguage|upper }}</span>
                        </h2>

                        {% if existingTranslation %}
                            <p class="mb-4 has-text-grey">
                                {% if is_granted('ROLE_ORGANIZER') %}
                                    Update the {{ targetLanguage|upper }} translation for this dish.
                                {% else %}
                                    Suggest changes to the {{ targetLanguage|upper }} translation. A manager will review your suggestions.
                                {% endif %}
                            </p>
                        {% else %}
                            <p class="mb-4 has-text-grey">
                                {% if is_granted('ROLE_ORGANIZER') %}
                                    Add a new {{ targetLanguage|upper }} translation for this dish.
                                {% else %}
                                    Suggest a {{ targetLanguage|upper }} translation for this dish. A manager will review your suggestion.
                                {% endif %}
                            </p>
                        {% endif %}

                        {{ form_start(form, {'attr': {'id': 'translate-form'}}) }}

                        <div class="field">
                            <label class="label">{{ form.name.vars.label }}</label>
                            <div class="control">
                                {{ form_widget(form.name, {'attr': {'class': 'input'}}) }}
                            </div>
                            {{ form_errors(form.name) }}
                        </div>

                        <div class="field">
                            <label class="label">{{ form.description.vars.label }}</label>
                            <div class="control">
                                {{ form_widget(form.description, {'attr': {'class': 'textarea'}}) }}
                            </div>
                            {{ form_errors(form.description) }}
                        </div>

                        <div class="field">
                            <label class="label">{{ form.recipe.vars.label }}</label>
                            <div class="control">
                                {{ form_widget(form.recipe, {'attr': {'class': 'textarea'}}) }}
                            </div>
                            {{ form_errors(form.recipe) }}
                        </div>

                        <div class="field is-grouped mt-5">
                            <div class="control">
                                <button type="submit" id="save-btn" class="button is-link" disabled>
                                    <span class="icon"><i class="fa-solid fa-check"></i></span>
                                    <span>{% if is_granted('ROLE_ORGANIZER') %}Save{% else %}Submit Suggestion{% endif %}</span>
                                </button>
                            </div>
                            <div class="control">
                                <a id="reset-btn" href="{{ path('plugin_dinnerclub_edit', {'id': dish.id, 'lang': targetLanguage}) }}" class="button" style="pointer-events: none; opacity: 0.5;">Reset</a>
                            </div>
                        </div>

                        {{ form_end(form) }}
                    </div>

                    {% if is_granted('ROLE_ORGANIZER') %}
                    <div class="box">
                        <h2 class="title is-4">
                            <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
                            <span>Origin</span>
                        </h2>

                        {{ form_start(originForm) }}

                        <div class="columns">
                            <div class="column is-6">
                                <div class="field">
                                    <label class="label">{{ originForm.pronunciationSystem.vars.label }}</label>
                                    <div class="control">
                                        <div class="select is-fullwidth">
                                            {{ form_widget(originForm.pronunciationSystem, {'attr': {'id': 'pronunciation-system-select'}}) }}
                                        </div>
                                    </div>
                                    {{ form_errors(originForm.pronunciationSystem) }}
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field">
                                    <label class="label" id="phonetic-label">Transcription</label>
                                    <div class="control">
                                        {{ form_widget(originForm.phonetic, {'attr': {'class': 'input', 'id': 'phonetic-input'}}) }}
                                    </div>
                                    {{ form_errors(originForm.phonetic) }}
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">
                                <span class="icon-text">
                                    <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
                                    <span>{{ originForm.origin.vars.label }}</span>
                                </span>
                            </label>
                            <div class="control">
                                {{ form_widget(originForm.origin, {'attr': {'class': 'input'}}) }}
                            </div>
                            {{ form_errors(originForm.origin) }}
                        </div>

                        <div class="field mt-4">
                            <div class="control">
                                <button type="submit" class="button is-link">
                                    <span class="icon"><i class="fa-solid fa-check"></i></span>
                                    <span>Save Origin</span>
                                </button>
                            </div>
                        </div>

                        {{ form_end(originForm) }}
                    </div>
                    {% endif %}
                </div>

                <div class="column is-4">
                    {% set returnUrl = path('plugin_dinnerclub_edit', {'id': dish.id, 'lang': targetLanguage}) %}

                    {% if dish.previewImage %}
                    <div class="box">
                        <h3 class="title is-6 mb-2">Preview Image</h3>
                        {% set reportCaption = 'You can <a href=' ~ path('app_report_image', {'id': dish.previewImage.id}) ~ '>report</a> an image if there is something wrong.' %}
                        <figure class="image">
                            <a data-fancybox="dish-gallery" data-caption="{{ reportCaption }}" href="/images/thumbnails/{{ dish.previewImage.hash }}_1024x768.webp">
                                {% include '_components/image.html.twig' with {'image': dish.previewImage, 'size': '600x400'} %}
                            </a>
                        </figure>
                    </div>
                    {% endif %}

                    {% if galleryImages|length > 0 %}
                    <div class="box">
                        <h3 class="title is-6 mb-2">Gallery</h3>
                        <div class="columns is-multiline is-mobile">
                            {% for dishImage in galleryImages %}
                                {% set img = dishImage.image %}
                                {% if not dish.previewImage or img.id != dish.previewImage.id %}
                                {% set thumbCaption = 'You can <a href=' ~ path('app_report_image', {'id': img.id}) ~ '>report</a> an image if there is something wrong.' %}
                                <div class="column is-4">
                                    <a data-fancybox="dish-gallery" data-caption="{{ thumbCaption }}" href="/images/thumbnails/{{ img.hash }}_1024x768.webp">
                                        {% include '_components/image.html.twig' with {'image': img, 'size': '400x400'} %}
                                    </a>
                                    {% if is_granted('ROLE_USER') %}
                                    <div class="has-text-centered mt-1">
                                        <a href="{{ path('plugin_dinnerclub_suggest_preview', {'dishId': dish.id, 'dishImageId': dishImage.id}) }}?returnUrl={{ returnUrl|url_encode }}"
                                           class="is-size-7 has-text-grey"
                                           title="{{ isOrganizer ? 'Set as preview' : 'Suggest as preview' }}">
                                            <span class="icon is-small"><i class="fa-solid fa-star"></i></span>
                                        </a>
                                        {% if isOrganizer %}
                                        <a href="{{ path('plugin_dinnerclub_image_delete', {'dishImageId': dishImage.id}) }}?returnUrl={{ returnUrl|url_encode }}"
                                           class="is-size-7 has-text-danger"
                                           title="Remove from gallery"
                                           onclick="return confirm('Remove this image from the gallery?')">
                                            <span class="icon is-small"><i class="fa-solid fa-trash"></i></span>
                                        </a>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    {% if is_granted('ROLE_USER') %}
                    <div class="box">
                        <h3 class="title is-5">
                            <span class="icon"><i class="fa-solid fa-camera"></i></span>
                            <span>{{ isOrganizer ? 'Add Photo' : 'Suggest Photo' }}</span>
                        </h3>
                        <p class="mb-3 is-size-7 has-text-grey">
                            {{ isOrganizer ? 'Add a photo to the gallery' : 'Suggest a photo for this dish' }}
                        </p>
                        <form action="{{ path('plugin_dinnerclub_image_upload', {'id': dish.id}) }}"
                              method="post" enctype="multipart/form-data">
                            <input type="hidden" name="returnUrl" value="{{ returnUrl }}">
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="file" name="image" accept="image/*" required>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button type="submit" class="button is-link is-fullwidth">
                                        <span class="icon"><i class="fa-solid fa-upload"></i></span>
                                        <span>Upload</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endif %}
            </div>

        </div>
    </section>

    {% if dish.previewImage or galleryImages|length > 0 %}
    <script>
        Fancybox.bind("[data-fancybox='dish-gallery']", {compact: true});
    </script>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var saveBtn  = document.getElementById('save-btn');
            var resetBtn = document.getElementById('reset-btn');
            var switcher = document.getElementById('lang-switcher');
            var form     = document.getElementById('translate-form');
            if (!form) return;

            function onDirty() {
                saveBtn.disabled       = false;
                resetBtn.style.pointerEvents = '';
                resetBtn.style.opacity = '';
                switcher.querySelectorAll('.button').forEach(function (btn) {
                    btn.classList.add('is-static');
                    btn.style.pointerEvents = 'none';
                });
                form.removeEventListener('input', onDirty);
                form.removeEventListener('change', onDirty);
            }

            form.addEventListener('input', onDirty);
            form.addEventListener('change', onDirty);
        });
    </script>

    {% if is_granted('ROLE_ORGANIZER') %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var select = document.getElementById('pronunciation-system-select');
            var phonetic = document.getElementById('phonetic-input');
            if (!select || !phonetic) return;

            var label = document.getElementById('phonetic-label');

            function updatePhonetic() {
                var hasSystem = select.value !== '';
                phonetic.disabled = !hasSystem;
                if (!hasSystem) {
                    phonetic.value = '';
                    label.textContent = 'Transcription';
                } else {
                    var systemName = select.options[select.selectedIndex].text.split(' (')[0] || 'Transcription';
                    label.textContent = systemName;
                }
            }

            select.addEventListener('change', updatePhonetic);
            updatePhonetic();
        });
    </script>
    {% endif %}

{% endblock %}
