
<div class="buttons has-addons is-centered">
    {% for id, name in viewTypeList %}
    <a class="button {% if viewType == id %} has-background-link has-text-light{% endif %}" href="{{ path('plugin_dinnerclub_set_view_type', {'type': id}) }}">
        <i class="fa-solid fa-{{ name }}"></i>
    </a>
    {% endfor %}
</div>

{% if is_granted('ROLE_ORGANIZER') %}
<hr>
<p class="has-text-grey is-size-7 has-text-centered mb-2">Manager</p>

{% if pendingCount is defined and pendingCount > 0 %}
<a href="{{ path('plugin_dinnerclub_approval_pending') }}" class="button is-warning is-fullwidth mb-2">
    <span class="icon"><i class="fa-solid fa-clock"></i></span>
    <span>Pending ({{ pendingCount }})</span>
</a>
{% endif %}

{% if suggestionCount is defined and suggestionCount > 0 %}
<a href="{{ path('plugin_dinnerclub_suggestions_list') }}" class="button is-info is-fullwidth mb-2">
    <span class="icon"><i class="fa-solid fa-lightbulb"></i></span>
    <span>Suggestions ({{ suggestionCount }})</span>
</a>
{% endif %}
{% endif %}

{% if is_granted('ROLE_USER') %}
<hr>
<div class="buttons" id="list-filter-buttons">
    <a href="{{ path('plugin_dinnerclub_lists') }}" class="button is-light is-small is-fullwidth mt-1">
        <span class="icon"><i class="fa-solid fa-list"></i></span>
        <span>My Lists</span>
    </a>
    {% if favoriteDishIds|default([])|length > 0 %}
        <button class="button is-small is-fullwidth list-filter-btn"
                data-list-id="favorites"
                data-dish-ids="{{ favoriteDishIds|join(',') }}">
            <span class="icon is-small"><i class="fa-solid fa-heart"></i></span>
            <span>Favorites</span>
        </button>
    {% endif %}
    {% for userList in userLists|default([])|filter(l => l.dishCount >= 1) %}
        <button class="button is-small is-fullwidth list-filter-btn"
                data-list-id="{{ userList.id }}"
                data-dish-ids="{{ userList.dishIds|join(',') }}">
            {{ userList.name }}
        </button>
    {% endfor %}
</div>
{% endif %}
