{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="title">{{ location.id ? 'Edit Location' : 'Create Location' }}</h1>

        {% if location.id %}
            {% set warningContent %}
                {% if events_using_location|length > 0 %}
                    <p>
                        <span class="icon"><i class="fa fa-exclamation-triangle"></i></span>
                        Cannot delete this location! It is currently used in {{ events_using_location|length }} event(s).
                    </p>
                {% else %}
                    <p>
                        Are you sure you want to delete this location? This action cannot be undone.
                    </p>
                {% endif %}
            {% endset %}

            {% include '_components/warning_box.html.twig' with {
                'id': 'location-delete-warning',
                'title': 'Delete Location',
                'content': warningContent,
                'buttonLabel': 'Yes, Delete',
                'buttonUrl': path('app_admin_location_delete', {'id': location.id}),
                'showButton': events_using_location|length == 0,
                'type': 'danger'
            } %}
        {% endif %}

        {{ form_start(form) }}

        <div class="columns">
            <div class="column is-8">
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}

                <div class="columns">
                    <div class="column is-8">
                        {{ form_row(form.street) }}
                    </div>
                    <div class="column is-4">
                        {{ form_row(form.postcode) }}
                    </div>
                </div>

                {{ form_row(form.city) }}
            </div>

            <div class="column is-4">
                <div class="columns">
                    <div class="column is-6">
                        {{ form_row(form.longitude) }}
                    </div>
                    <div class="column is-6">
                        {{ form_row(form.latitude) }}
                    </div>
                </div>

                {% if form.createdAt is defined %}
                    {{ form_row(form.createdAt) }}
                {% endif %}

                {% if form.user is defined %}
                    {{ form_row(form.user) }}
                {% endif %}

                {% if location.id %}
                    <fieldset class="mt-5 p-4 fieldset-warning">
                        <legend class="px-2 has-text-danger has-text-weight-semibold is-size-7">Danger Zone</legend>

                        <a class="button is-light is-fullwidth toggleTrigger" data-id="location-delete-warning"
                           href="{{ path('app_admin_location_delete', {'id': location.id}) }}">
                            <span class="icon"><i class="fa fa-trash"></i></span>
                            <span>Delete Location</span>
                        </a>
                    </fieldset>
                {% endif %}
            </div>
        </div>

        <div class="field mt-5">
            <button type="submit" class="button is-link">
                <span>{{ "button_save" | trans }}</span>
            </button>
            <a href="{{ path('app_admin_location') }}" class="button is-light">
                <span>{{ "button_cancel" | trans }}</span>
            </a>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
