{% extends 'admin/base.html.twig' %}

{% set has_map = location.latitude is not null and location.longitude is not null and show_osm() %}

{% block javascripts %}
    {{ parent() }}
    {% if has_map %}
        <script src="{{ asset('js/vendor/leaflet.js') }}"></script>
        <script src="{{ asset('js/osm-map.js') }}" defer></script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">

        {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

        {% if location.id %}
            {% set warningContent %}
                {% if events_using_location|length > 0 %}
                    <p>
                        <span class="icon"><i class="fa fa-exclamation-triangle"></i></span>
                        {{ 'admin_location.warning_delete_used'|trans({'%count%': events_using_location|length}) }}
                    </p>
                {% else %}
                    <p>
                        {{ 'admin_location.warning_delete_confirm'|trans }}
                    </p>
                {% endif %}
            {% endset %}

            {% set warningBoxContent %}
                {{ warningContent }}
                {% if events_using_location|length == 0 %}
                    <div class="has-text-right mt-3">
                        <a href="{{ path('app_admin_location_delete', {'id': location.id}) }}"
                           class="button"
                           data-post
                           data-csrf-token="{{ csrf_token('admin_location_delete' ~ location.id) }}">
                            <span class="icon"><i class="fa fa-trash"></i></span>
                            <span>{{ 'admin_location.warning_delete_button'|trans }}</span>
                        </a>
                    </div>
                {% endif %}
            {% endset %}
            {% include '_components/warning_box.html.twig' with {
                'id': 'location-delete-warning',
                'title': 'admin_location.warning_delete_title'|trans,
                'content': warningBoxContent,
                'type': 'danger'
            } %}
        {% endif %}

        {{ form_start(form) }}

        <div class="columns">
            <div class="column is-8">
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}

                <div class="columns">
                    <div class="column is-8">
                        {{ form_row(form.street) }}
                    </div>
                    <div class="column is-4">
                        {{ form_row(form.postcode) }}
                    </div>
                </div>

                {{ form_row(form.city) }}
            </div>

            <div class="column is-4">
                <div class="columns is-vcentered is-mobile">
                    <div class="column is-5">
                        {{ form_row(form.longitude) }}
                    </div>
                    <div class="column is-2 has-text-centered">
                        <button type="button"
                                id="swap-lat-lng"
                                class="button is-small is-light"
                                title="{{ 'admin_location.swap_lat_lng'|trans }}"
                                aria-label="{{ 'admin_location.swap_lat_lng'|trans }}">
                            <span class="icon"><i class="fa fa-exchange"></i></span>
                        </button>
                    </div>
                    <div class="column is-5">
                        {{ form_row(form.latitude) }}
                    </div>
                </div>

                {% if form.createdAt is defined %}
                    {{ form_row(form.createdAt) }}
                {% endif %}

                {% if form.user is defined %}
                    {{ form_row(form.user) }}
                {% endif %}

                {% if has_map %}
                    <div class="mt-3" id="osm-map"
                         data-lat="{{ location.latitude }}"
                         data-lng="{{ location.longitude }}"
                         data-marker-icon="{{ asset('images/leaflet/marker-icon.png') }}"
                         data-marker-shadow="{{ asset('images/leaflet/marker-shadow.png') }}"></div>
                {% endif %}

                {% if location.id %}
                    <fieldset class="mt-5 p-4 fieldset-warning">
                        <legend class="px-2 has-text-danger has-text-weight-semibold is-size-7">{{ 'admin_location.danger_zone'|trans }}</legend>

                        <button type="button" class="button is-light is-fullwidth toggleTrigger" data-id="location-delete-warning">
                            <span class="icon"><i class="fa fa-trash"></i></span>
                            <span>{{ 'admin_location.danger_delete_location'|trans }}</span>
                        </button>
                    </fieldset>
                {% endif %}
            </div>
        </div>

        <div class="field mt-5">
            <button type="submit" class="button is-primary">
                <span>{{ 'global.button_save'|trans }}</span>
            </button>
        </div>

        {{ form_end(form) }}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const swapBtn = document.getElementById('swap-lat-lng');
            const lngInput = document.getElementById('{{ form.longitude.vars.id }}');
            const latInput = document.getElementById('{{ form.latitude.vars.id }}');
            if (!swapBtn || !lngInput || !latInput) {
                return;
            }
            swapBtn.addEventListener('click', function () {
                const tmp = lngInput.value;
                lngInput.value = latInput.value;
                latInput.value = tmp;
            });
        });
    </script>
{% endblock %}
