{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        <table id="filteredTable" class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Created By</th>
                    <th>
                        <a href="{{ path('app_admin_location_add') }}">
                            <span class="icon"><i class="fa fa-plus"></i></span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                    <tr>
                        <td>{{ location.name }}</td>
                        <td>{{ location.street }}, {{ location.postcode }} {{ location.city }}</td>
                        <td>{{ location.user.name }}</td>
                        <td>
                            <a href="{{ path('app_admin_location_edit', {'id': location.id}) }}">
                                <span class="icon"><i class="fa fa-edit"></i></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
