{% extends 'admin/base.html.twig' %}

{% block title %}Admin - Locations{% endblock %}

{% block content %}

    <div class="container">

        <table class="table">
            <thead>
            <tr>
                <th>CreateBy</th>
                <th>Name</th>
                <th>Description</th>
                <th>Street</th>
                <th>Postcode</th>
                <th>City</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for location in locations %}
                <tr>
                    <td>{{ location.user.name }}</td>
                    <td>{{ location.name }}</td>
                    <td>{{ location.description|slice(0, 20) }}</td>
                    <td>{{ location.street }}</td>
                    <td>{{ location.postcode }}</td>
                    <td>{{ location.city }}</td>
                    <td><a href="{{ path('app_admin_locations_edit', {'id': location.id}) }}"><span class="icon"><i class="fa fa-edit"></i></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}

