{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_default"|trans }}{% endblock %}

{% block body %}
    <section class="hero has-background-danger">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-6 has-text-white">
                        <h1 class="title has-text-white">Chinese/German Culture Exchange</h1>
                        <p class="subtitle has-text-white">Berlin meetup since 2015</p>
                        <p>
                            The nice & friendly group to speak chinese and engage in culture exchange. We do meet
                            twice a month on thursday 19:00 and once in a while in summer do outsite meetups and
                            the classic dinner events like hotpot in winter.
                        </p>
                        <p class="mt-4">
                            Sign up to be notified for the next meetup, engage with fellow members of the community
                            and stay in contact, or even suggest your own events.
                        </p>
                        <p class="pt-5">
                            <a class="button" href="{{ path('app_register') }}">Sign up</a>
                        </p>
                    </div>
                    <div class="column is-2"></div>
                    <div class="column is-4">
                        <img class="homepage-dragon" src="{{ asset('/images/dragon_432.jpg') }}" width="432" height="432" alt="Dragon image">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section mt-6">
        <div class="container">
            <div class="columns">
                <div class="column is-4">
                    <img class="homepage-dragon" src="{{ asset('/images/meetup_432.jpg') }}" width="432" height="324" alt="Meetup image">
                </div>
                <div class="column is-4">
                    <h2 class="title is-4">Regular meetups since 2015</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                        sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                        justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                        ipsum dolor sit amet.
                    </p>
                </div>
                <div class="column is-4">
                    <div class="box mb-6">
                        <div class="has-text-centered mb-4">
                            <h2 class="title is-6">upcoming Events</h2>
                        </div>
                        {% for event in events %}
                        <div>
                            <div class="columns has-text-grey mb-0">
                                <div class="column"><i class="fas fa-calendar"></i> {{ event.start|date('Y-m-d') }}</div>
                                <div class="column"><i class="fas fa-clock"></i> {{ event.start|date('H:i') }}</div>
                                <div class="column"><i class="fas fa-location-pin"></i> {{ event.location.name }}</div>
                            </div>
                            <a class="title is-6" href="{{ path('app_event_details', { 'id': event.id }) }}">{{ event.name|slice(0, 32) }}</a>
                            {% if not loop.last %}<hr />{% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h2>Welcome</h2>
        </div>
    </section>
{% endblock %}
