{# @var films             Plugin\Filmclub\Entity\Film[] #}
{# @var columns           string[]                       columns in display order; supported: title, year, runtime, genres, shownAt, actions #}
{# @var shownAtByFilmId   array<int, DateTimeInterface>  required when 'shownAt' column is included #}
{% set columns = columns|default(['title', 'year', 'runtime', 'genres', 'actions']) %}
{% set shownAtByFilmId = shownAtByFilmId|default({}) %}
{% set columnLabels = {
    title:   'filmclub_film.col_title',
    year:    'filmclub_film.col_year',
    runtime: 'filmclub_film.col_runtime',
    genres:  'filmclub_film.col_genres',
    shownAt: 'filmclub_film.col_shown_at',
    actions: 'filmclub_film.col_actions',
} %}

<table class="table is-fullwidth">
    <thead>
    <tr>
        {% for column in columns %}
            <th class="{{ column == 'actions' ? 'has-text-right' : '' }}">{{ columnLabels[column]|trans }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for film in films %}
        <tr>
            {% for column in columns %}
                {% if column == 'title' %}
                    <td><a href="{{ path('app_plugin_filmclub_film_show', {id: film.id}) }}">{{ film.title }}</a></td>
                {% elseif column == 'year' %}
                    <td>{{ film.year }}</td>
                {% elseif column == 'runtime' %}
                    <td>{% if film.runtime %}{{ film.runtime }} min{% endif %}</td>
                {% elseif column == 'genres' %}
                    <td>
                        {% for genre in film.genres %}
                            <span class="tag">{{ genre }}</span>
                        {% endfor %}
                    </td>
                {% elseif column == 'shownAt' %}
                    <td>
                        {% if shownAtByFilmId[film.id] is defined %}
                            {{ shownAtByFilmId[film.id]|date('Y-m-d') }}
                        {% endif %}
                    </td>
                {% elseif column == 'actions' %}
                    <td class="has-text-right">
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('app_plugin_filmclub_film_edit', {id: film.id}) }}" title="{{ 'filmclub_film.button_edit'|trans }}">
                                <span class="icon"><i class="fa fa-edit"></i></span>
                            </a>
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    {% else %}
        <tr>
            <td colspan="{{ columns|length }}">{{ 'filmclub_film.empty_state'|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
