<aside class="menu">
    <p class="menu-label">Config</p>
    <ul class="menu-list">
        <li><a href="{{ path('app_admin_config') }}">{{ "menu_admin_config" | trans }}</a></li>
    </ul>
    <p class="menu-label">Tables</p>
    <ul class="menu-list">
        <li><a href="{{ path('app_admin_event') }}">{{ "menu_admin_event" | trans }}</a></li>
        <li><a href="{{ path('app_admin_location') }}">{{ "menu_admin_location" | trans }}</a></li>
        <li><a href="{{ path('app_admin_host') }}">{{ "menu_admin_host" | trans }}</a></li>
        <li><a href="{{ path('app_admin_user') }}">{{ "menu_admin_user" | trans }}</a></li>
    </ul>
    <p class="menu-label">CMS</p>
    <ul class="menu-list">
        <li><a href="{{ path('app_admin_cms') }}">{{ "menu_admin_cms" | trans }}</a></li>
    </ul>
</aside>