{% extends 'admin/base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/vendor/chart.js') }}"></script>
    <script src="{{ asset('js/admin/dashboard.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="container">
    {# Week navigation #}
    <div class="buttons has-addons is-centered mb-4">
        <a class="button" href="{{ path('app_admin', {'week': time.weekPrevious, 'year': time.year}) }}">
            <span class="icon"><i class="fa fa-arrow-left"></i></span>
        </a>
        <div class="button">
            <span class="mr-2">{{ 'admin_shell.dashboard_week_label'|trans }} <b>{{ time.week }}</b></span>
            <span class="has-text-grey is-size-7">({{ time.weekDetails }})</span>
        </div>
        <a class="button" href="{{ path('app_admin', {'week': time.weekNext, 'year': time.year}) }}">
            <span class="icon"><i class="fa fa-arrow-right"></i></span>
        </a>
    </div>

    <div class="columns">
        {# Center column (8-wide) - Time-series data #}
        <div class="column is-8">
            {# Login Activity Chart (Priority 80) - ROLE_ADMIN only #}
            {% if is_granted('ROLE_ADMIN') %}
            <div class="box">
                <h2 class="title is-6">{{ 'admin_shell.dashboard_login_title'|trans }}</h2>
                {% set loginData = [] %}
                {% for day, count in loginTrend %}
                    {% set loginData = loginData|merge([{'x': day, 'y': count}]) %}
                {% endfor %}
                <canvas id="loginChart" class="chart-container" data-chart="{{ loginData|json_encode }}" data-color="rgba(54, 162, 235, 0.5)"></canvas>
            </div>
            {% endif %}

            {# RSVP Trend Table (Priority 70) - ROLE_ORGANIZER #}
            {% if is_granted('ROLE_ORGANIZER') %}
            <div class="box">
                <h2 class="title is-6">{{ 'admin_shell.dashboard_rsvp_title'|trans }}</h2>
                <table class="table is-narrow is-fullwidth">
                    <tbody>
                        <tr>
                            <td>{{ 'admin_shell.dashboard_rsvp_yes'|trans }}</td>
                            <td class="has-text-right">{{ rsvpStats.yes }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'admin_shell.dashboard_rsvp_no'|trans }}</td>
                            <td class="has-text-right">{{ rsvpStats.no }}</td>
                        </tr>
                        <tr class="has-background-light">
                            <td><strong>{{ 'admin_shell.dashboard_rsvp_total'|trans }}</strong></td>
                            <td class="has-text-right"><strong>{{ rsvpStats.total }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endif %}

            {# Pages Not Found Chart (Priority 60) - ROLE_ADMIN only #}
            {% if is_granted('ROLE_ADMIN') %}
            <div class="box">
                <h2 class="title is-6">{{ 'admin_shell.dashboard_not_found_title'|trans }}</h2>
                {% set notFoundData = [] %}
                {% for day, count in pagesNotFound.list %}
                    {% set notFoundData = notFoundData|merge([{'x': day, 'y': count}]) %}
                {% endfor %}
                <canvas id="notFoundChart" class="chart-container" data-chart="{{ notFoundData|json_encode }}" data-color="rgba(255, 99, 132, 0.5)"></canvas>
            </div>
            {% endif %}
        </div>

        {# Side column (4-wide) - Fixed info #}
        <div class="column is-4">
            {# Upcoming Events (Priority 90) - ROLE_ORGANIZER #}
            {% if is_granted('ROLE_ORGANIZER') %}
            <div class="box">
                <h2 class="title is-6">{{ 'admin_shell.dashboard_upcoming_title'|trans }}</h2>
                {% if upcomingEvents|length == 0 %}
                    <p class="has-text-grey">{{ 'admin_shell.dashboard_upcoming_empty'|trans }}</p>
                {% else %}
                    <table class="table is-fullwidth is-narrow">
                        <tbody>
                        {% for event in upcomingEvents %}
                            <tr>
                                <td>{{ event.start|date('Y-m-d') }}</td>
                                <td>
                                    <a href="{{ path('app_event_details', {'id': event.id}) }}">
                                        {{ event.getTitle('en')|u.truncate(25) }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            {% endif %}

            {# Quick Statistics (Priority 80) - ROLE_ADMIN only #}
            {% if is_granted('ROLE_ADMIN') %}
            <div class="box">
                <h2 class="title is-6">{{ 'admin_shell.dashboard_stats_title'|trans }}</h2>
                <table class="table is-narrow is-fullwidth">
                    <thead>
                        <tr>
                            <th>{{ 'admin_shell.dashboard_stats_metric'|trans }}</th>
                            <th class="has-text-right">{{ 'admin_shell.dashboard_stats_all'|trans }}</th>
                            <th class="has-text-right">{{ 'admin_shell.dashboard_stats_week'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for title, data in details %}
                        <tr>
                            <td>{{ title }}</td>
                            <td class="has-text-right">{{ data.count }}</td>
                            <td class="has-text-right">{{ data.week }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="has-background-light">
                        <td><strong>{{ 'admin_shell.dashboard_stats_active'|trans }}</strong></td>
                        <td class="has-text-right" colspan="2"><strong>{{ activeUsers }}</strong></td>
                    </tr>
                    <tr>
                        <td>{{ 'admin_shell.dashboard_stats_recurring'|trans }}</td>
                        <td class="has-text-right" colspan="2">{{ recurringEvents }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% endif %}

            {# Recent Activity (Priority 70) - ROLE_ORGANIZER #}
            {% if is_granted('ROLE_ORGANIZER') %}
            <div class="box">
                <h2 class="title is-6">{{ 'admin_shell.dashboard_activity_title'|trans }}</h2>
                <table class="table is-narrow is-fullwidth">
                    <tbody>
                        <tr>
                            <td><span class="icon"><i class="fa fa-calendar-check"></i></span> {{ 'admin_shell.dashboard_activity_rsvp_yes'|trans }}</td>
                            <td class="has-text-right">{{ rsvpStats.yes }}</td>
                        </tr>
                        <tr>
                            <td><span class="icon"><i class="fa fa-calendar-times"></i></span> {{ 'admin_shell.dashboard_activity_rsvp_no'|trans }}</td>
                            <td class="has-text-right">{{ rsvpStats.no }}</td>
                        </tr>
                        <tr>
                            <td><span class="icon"><i class="fa fa-users"></i></span> {{ 'admin_shell.dashboard_activity_connections'|trans }}</td>
                            <td class="has-text-right">{{ socialStats.total ?? 0 }}</td>
                        </tr>
                        <tr>
                            <td><span class="icon"><i class="fa fa-comments"></i></span> {{ 'admin_shell.dashboard_activity_messages'|trans }}</td>
                            <td class="has-text-right">{{ messageStats.total }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endif %}

            {# Health Checks (Priority 40) - ROLE_ADMIN only #}
            {% if is_granted('ROLE_ADMIN') %}
            <div class="box">
                <h2 class="title is-6">{{ 'admin_shell.dashboard_health_title'|trans }}</h2>
                <table class="table is-narrow is-fullwidth">
                    <tbody>
                        <tr>
                            <td>{{ 'admin_shell.dashboard_health_cache'|trans }}</td>
                            <td class="has-text-right">
                                {% if tests.cache.ok %}
                                    <span class="icon has-text-success"><i class="fa fa-check-circle"></i></span>
                                {% else %}
                                    <span class="icon has-text-danger"><i class="fa fa-times-circle"></i></span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ 'admin_shell.dashboard_health_log_size'|trans }}
                                <span class="is-size-7 has-text-grey">({{ (tests.logSize.size / 1024 / 1024)|number_format(1) }}MB)</span>
                            </td>
                            <td class="has-text-right">
                                {% if tests.logSize.ok %}
                                    <span class="icon has-text-success"><i class="fa fa-check-circle"></i></span>
                                {% else %}
                                    <span class="icon has-text-danger"><i class="fa fa-times-circle"></i></span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ 'admin_shell.dashboard_health_disk_space'|trans }}
                                <span class="is-size-7 has-text-grey">({{ tests.diskSpace.percentFree }}% free)</span>
                            </td>
                            <td class="has-text-right">
                                {% if tests.diskSpace.ok %}
                                    <span class="icon has-text-success"><i class="fa fa-check-circle"></i></span>
                                {% else %}
                                    <span class="icon has-text-danger"><i class="fa fa-times-circle"></i></span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ 'admin_shell.dashboard_health_php_version'|trans }}
                                <span class="is-size-7 has-text-grey">({{ tests.phpVersion.version }})</span>
                            </td>
                            <td class="has-text-right">
                                <span class="icon has-text-success"><i class="fa fa-check-circle"></i></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
