{% extends 'admin/base.html.twig' %}

{% block javascripts %}
    <script src="{{ '/javascript/chart.js' }}"></script>
{% endblock %}

{% block content %}
<div class="container">
    {# Week navigation (only show if center tiles exist) #}
    {% if centerTiles|length > 0 %}
    <div class="buttons has-addons is-centered mb-4">
        <a class="button" href="{{ path('app_admin', {'week': time.weekPrevious, 'year': time.year}) }}">
            <span class="icon"><i class="fa fa-arrow-left"></i></span>
        </a>
        <div class="button">
            <span class="mr-2">Dashboard for the week: <b>{{ time.week }}</b></span>
            <span class="has-text-grey is-size-7">({{ time.weekDetails }})</span>
        </div>
        <a class="button" href="{{ path('app_admin', {'week': time.weekNext, 'year': time.year}) }}">
            <span class="icon"><i class="fa fa-arrow-right"></i></span>
        </a>
    </div>
    {% endif %}

    <div class="columns">
        {# Center column (8-wide) - Time-series tiles #}
        <div class="column is-8">
            {% for tileData in centerTiles %}
                {% include tileData.template with tileData.data %}
            {% endfor %}
        </div>

        {# Side column (4-wide) - Fixed info tiles #}
        <div class="column is-4">
            {% for tileData in sideTiles %}
                {% include tileData.template with tileData.data %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
