{% extends 'admin/base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/vendor/chart.js') }}"></script>
    <script src="{{ asset('js/admin/dashboard.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="buttons has-addons is-centered mb-4">
        <a class="button" href="{{ path('app_admin', {'week': time.weekPrevious, 'year': time.year}) }}">
            <span class="icon"><i class="fa fa-arrow-left"></i></span>
        </a>
        <div class="button">
            <span class="mr-2 is-hidden-mobile">{{ 'admin_shell.dashboard_week_label'|trans }} <b>{{ time.week }}</b></span>
            <span class="has-text-grey is-size-7">{{ time.weekDetails }}</span>
        </div>
        <a class="button" href="{{ path('app_admin', {'week': time.weekNext, 'year': time.year}) }}">
            <span class="icon"><i class="fa fa-arrow-right"></i></span>
        </a>
    </div>

    <div class="columns is-multiline">
        <div class="column is-8-desktop is-12-tablet">
            {% for tile in centerTiles %}
                {% include 'admin/_components/dashboard/' ~ tile.partial with {'tile': tile} only %}
            {% endfor %}
        </div>
        <div class="column is-4-desktop is-12-tablet">
            {% for tile in sideTiles %}
                {% include 'admin/_components/dashboard/' ~ tile.partial with {'tile': tile} only %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
