{% extends 'admin/base.html.twig' %}

{% block javascripts %}
    <script src="{{ '/javascript/chart.js' }}"></script>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="columns">
            <div class="column is-8">
                <div class="buttons has-addons is-centered">
                    <a class="button" href="{{ path('app_admin', {'week': time.weekPrevious, 'year': time.year}) }}">
                        <span class="icon"><i class="fa fa-arrow-left"></i></span>
                    </a>
                    <div class="button">
                        <span class="mr-2">Dashboard for the week: <b>{{ time.week }}</b></span>
                        <span class="has-text-grey is-size-7">({{ time.weekDetails }})</span>
                    </div>
                    <a class="button" href="{{ path('app_admin', {'week': time.weekNext, 'year': time.year}) }}">
                        <span class="icon"><i class="fa fa-arrow-right"></i></span>
                    </a>
                </div>
                <div class="box">
                    <h2 class="title is-6">Members to approve</h2>
                    {% if needForApproval|length == 0 %}
                        <p>No members to approve</p>
                    {% else %}
                        <table class="table">
                            <tbody>
                            {% for user in needForApproval %}
                                {% if user.status.value == 1 %}
                                    <tr>
                                        <td>{{ user.createdAt|date('Y-m-d') }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.name }}</td>
                                        <td>
                                            <a href="{{ path('app_admin_user_approve', {'id': user.id}) }}">
                                                <span class="icon has-text-success"><i class="fa fa-check-square"></i></span>
                                            </a>
                                            <a href="{{ path('app_admin_user_deny', {'id': user.id}) }}">
                                                <span class="icon has-text-danger"><i class="fa fa-minus-square"></i></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                <div class="box">
                    <h2 class="title is-6">Pages not found</h2>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="column is-4">
                <div class="box">
                    <h2 class="title is-6">General</h2>
                    <table class="table is-narrow">
                        <tr>
                            <td>Members:</td>
                            <td>{{ details.memberCount }}</td>
                        </tr>
                        <tr>
                            <td>Events:</td>
                            <td>{{ details.eventCount }}</td>
                        </tr>
                    </table>
                </div>
                <div class="box">
                    <h2 class="title is-6">This week</h2>
                    <table class="table is-narrow">
                        <tr>
                            <td>Pages not found:</td>
                            <td>{{ details.weekNotFoundCount }}</td>
                        </tr>
                        <tr>
                            <td>Activities:</td>
                            <td>{{ details.weekActivityCount }}</td>
                        </tr>
                        <tr>
                            <td>Events:</td>
                            <td>{{ details.weekEventCount }}</td>
                        </tr>
                    </table>
                </div>
                <div class="box">
                    <h2 class="title is-6">Health tests</h2>
                    <table class="table is-narrow">
                        <tr>
                            <td>Cache:</td>
                            <td>
                                {% if tests.cache %}
                                    <span class="icon-text">
                                        <span class="icon has-text-success"><i class="fa fa-check"></i></span>
                                        <span class="has-text-success">Success</span>
                                    </span>
                                {% else %}
                                    <span class="icon-text">
                                        <span class="icon has-text-danger"><i class="fas fa-circle-exclamation"></i></span>
                                        <span class="has-text-danger">Failed</span>
                                    </span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                datasets: [{
                    data: [{% for day, number in pagesNotFound.list %}{x: '{{ day }}', y: {{ number }}},{% endfor %}]
                }]
            },
        });
    </script>

{% endblock %}

