{% extends 'admin/base.html.twig' %}

{% block title %}Admin - Locations{% endblock %}

{% block content %}

    <div class="container">

        <table class="table">
            <thead>
            <tr>
                <th>CreateBy</th>
                <th>Name</th>
                <th>Description</th>
                <th>Street</th>
                <th>Postcode</th>
                <th>City</th>
            </tr>
            </thead>
            <tbody>
            {% for location in locations %}
                <tr>
                    <th>{{ location.user.name }}</th>
                    <th>{{ location.name }}</th>
                    <th>{{ location.description|slice(0, 20) }}</th>
                    <th>{{ location.street }}</th>
                    <th>{{ location.postcode }}</th>
                    <th>{{ location.city }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}

