<div class="field">
    <label class="label">Headline</label>
    <div class="control">
        <input class="input" name="headline" type="text" value="{{ block is defined ? block.headline : '' }}">
    </div>
</div>

<div class="field">
    <label class="label">SubHeadline</label>
    <div class="control">
        <input class="input" name="subHeadline" type="text" value="{{ block is defined ? block.subHeadline : '' }}">
    </div>
</div>

<div class="field">
    <label class="label">Text</label>
    <div class="control">
        <textarea class="textarea" name="text" rows="5" placeholder="Textarea">{{ block is defined ? block.text : '' }}</textarea>
    </div>
</div>

<div class="field">
    <label class="label">Button Link</label>
    <div class="control">
        <input class="input" name="buttonLink" type="text" value="{{ block is defined ? block.buttonLink : '' }}">
    </div>
</div>

<div class="field">
    <label class="label">Button Text</label>
    <div class="control">
        <input class="input" name="buttonText" type="text" value="{{ block is defined ? block.buttonText : '' }}">
    </div>
</div>

<div class="field">
    <label class="label">Background Color</label>
    <div class="control">
        <input class="input" name="color" type="text" value="{{ block is defined ? block.color : '#f14668' }}">
    </div>
</div>

<input type="hidden" name="imageRight" value="{{ block is defined and block.imageRight ? '1' : '0' }}">
