
{% include '_components/image.html.twig' with {'image': event.previewImage, 'size': '600x400'} %}
{% for tile in pluginTiles %}
    <div class="box mt-5">
        {{ tile|raw }}
    </div>
{% endfor %}
<div class="box mt-5">
    <strong>{{ event.start|date('d. F Y') }}</strong>
    <p>
        {{ event.start|date('H:i') }} to {{ event.stop|date('H:i') }}<br>
        {% if event.recurringRule is defined and event.recurringRule.name is defined %}
            {{ 'events.label_recurring'|trans }} {{ event.recurringRule.name }}
        {% endif %}
    </p>
</div>
<div class="box mt-5">
    <h2 class="title is-4">{{ 'events.label_hosts'|trans }}</h2>
    <div class="columns is-multiline">
        {% for host in event.host %}
            <div class="tag is-large m-1">{{ host.user ? host.user.name : host.name }}</div>
        {% endfor %}
    </div>
</div>
<div class="box mt-5">
    <h2 class="title is-4">{{ 'events.label_location'|trans }}</h2>
    <strong>{{ event.location.name }}</strong>
    <p>
        {{ event.location.street }}<br>
        {{ event.location.postcode }} {{ event.location.city }}
    </p>
    {% if event.location.description != '' %}
        <p class="mt-5">
            {{ event.location.description }}
        </p>
    {% endif %}
    {% if event.hasMap and show_osm() %}
        <div class="mt-3" id="osm-map"
             data-lat="{{ event.location.latitude }}"
             data-lng="{{ event.location.longitude }}"
             data-marker-icon="{{ asset('images/leaflet/marker-icon.png') }}"
             data-marker-shadow="{{ asset('images/leaflet/marker-shadow.png') }}"></div>
    {% endif %}
</div>
{% for tile in pluginBottomSidebarTiles %}
    {{ tile|raw }}
{% endfor %}
