{% extends 'base.html.twig' %}

{% block title %}{{ "error.page_title"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns is-centered mt-5">
                <div class="column is-6-tablet is-5-desktop">

                    <h1 class="title is-5">
                        <span class="icon-text">
                            <span class="icon has-text-warning"><i class="fas fa-lock"></i></span>
                            <span>{{ 'error.403_heading'|trans }}</span>
                        </span>
                    </h1>

                    <p class="mb-5">{{ 'error.403_intro'|trans }}</p>

                    <div class="field is-grouped mt-5">
                        <div class="control">
                            <a href="{{ path('app_default') }}" class="button is-light">
                                <span class="icon"><i class="fas fa-house"></i></span>
                                <span>{{ 'error.403_back_home'|trans }}</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

{% endblock %}
