<h1 class="title is-5">Messages</h1>
<div class="tabs is-boxed is-fullwidth is-small">
    <ul>
        {% for conversation in conversations %}
            <li class="{% if conversationsId == conversation.user.id %}is-active{% endif %}">
                <a href="{{ path('app_profile_messages', {'id': conversation.user.id}) }}">
                            <span class="ml-2">
                                {{ conversation.user.name }}<br>
                                <small>{{ conversation.lastMessage | time_diff }}</small>
                            </span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

{% if messages is null %}
    <h1 class="title is-6">Hello,</h1>
    <p class="mb-2">
        this is your message overview. On the left are the people you exchanged messages with.
    </p>
    <p class="mb-2">
        You can only message to people you are friends with, or people who allow to be messages from
        everyone
    </p>
    <p class="mb-2">
        have a look at the members page, on the detail view of each member you have a message buttun
        until xuedi implements a kind addressbook here
    </p>
{% else %}
    <div style="display: flex; flex-direction: column; height: 60vh;">
        <div id="mobile-message-container" style="flex: 1; overflow-y: auto; margin-bottom: 1rem;">
            {% for message in messages %}
                <div class="box {% if user.id == message.sender.id %}has-background-link-light{% endif %}">
                    <strong>{{ message.sender.name }}</strong><small class="ml-2">{{ message.createdAt | time_diff }}</small><br>
                    <span class="breakText">{{ message.content }}</span>
                </div>
            {% endfor %}
        </div>
        <div>
            <hr>
            {{ form_start(form) }}
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input class="input" type="text" name="{{ field_name(form.comment) }}" placeholder="Message" />
                </div>
                <div class="control">
                    <button class="button is-link ml-2">{{ "button_send" | trans }}</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endif %}