<h1 class="title is-5">{{ 'profile_messages.section_heading'|trans }}</h1>
<div class="tabs is-boxed is-fullwidth is-small">
    <ul>
        {% for conversation in conversations %}
            <li class="{% if conversationsId == conversation.user.id %}is-active{% endif %}">
                <a href="{{ path('app_profile_messages', {'id': conversation.user.id}) }}">
                            <span class="ml-2">
                                {{ conversation.user.name }}<br>
                                <small>{{ conversation.lastMessage | time_diff }}</small>
                            </span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

{% if messages is null %}
    <h1 class="title is-6">{{ 'profile_messages.welcome_heading'|trans }}</h1>
    <p class="mb-2">
        {{ 'profile_messages.welcome_intro'|trans }}
    </p>
    <p class="mb-2">
        {{ 'profile_messages.welcome_rule'|trans }}
    </p>
    <p class="mb-2">
        {{ 'profile_messages.welcome_addressbook_hint'|trans }}
    </p>
{% else %}
    <div class="chat-layout-mobile">
        {# Block button in header #}
        {% if conversationsId %}
            <div class="level mb-2">
                <div class="level-left"></div>
                <div class="level-right">
                    {% if hasBlockedPartner %}
                        <form action="{{ path('app_profile_unblock_user', {'id': conversationsId}) }}" method="post" class="is-inline ajax-block-form">
                            <button type="submit" class="button is-warning is-small">
                                <span class="icon"><i class="fa fa-unlock"></i></span><span>{{ 'member.button_unblock'|trans }}</span>
                            </button>
                        </form>
                    {% else %}
                        <form action="{{ path('app_profile_block_user', {'id': conversationsId}) }}" method="post" class="is-inline ajax-block-form">
                            <button type="submit" class="button is-dark is-small">
                                <span class="icon"><i class="fa fa-ban"></i></span><span>{{ 'member.button_block'|trans }}</span>
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <div id="mobile-message-container" class="messages-scroll">
            {% for message in messages %}
                <div class="box {% if user.id == message.sender.id %}has-background-link-light{% endif %}">
                    <strong>{{ message.sender.name }}</strong><small class="ml-2">{{ message.createdAt | time_diff }}</small><br>
                    <span class="breakText">{{ message.content }}</span>
                </div>
            {% endfor %}
        </div>
        <div>
            <hr>
            {% if isBlocked %}
                <div class="notification is-warning">
                    <span class="icon"><i class="fa fa-ban"></i></span>
                    {{ 'profile_messages.cannot_message'|trans }}
                </div>
            {% elseif form %}
                {{ form_start(form) }}
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input" type="text" name="{{ field_name(form.comment) }}" placeholder="{{ 'profile_messages.input_placeholder'|trans }}" />
                    </div>
                    <div class="control">
                        <button class="button is-link ml-2">{{ "button_send" | trans }}</button>
                    </div>
                </div>
                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
{% endif %}