{% extends 'base.html.twig' %}

{% block title %}{{ 'profile_notifications.page_title'|trans }}{% endblock %}

{% block body %}
<div class="container mt-5">
    {% if notifications.totalCount == 0 %}
        <p class="has-text-grey">{{ 'profile_notifications.empty_state'|trans }}</p>
    {% else %}
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ 'profile_notifications.table_header_notification'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in notifications.items %}
                    <tr>
                        <td class="col-narrow">
                            <span class="icon">
                                <i class="fa {{ item.icon }}"></i>
                            </span>
                        </td>
                        <td>{{ item.label|raw }}</td>
                        <td class="col-narrow">
                            {% if item.route %}
                                <a href="{{ path(item.route, item.routeParams) }}">
                                    <span class="icon"><i class="fa fa-arrow-right"></i></span>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}
