{% extends 'base.html.twig' %}

{% block title %}{{ 'filmclub_film.browser_title_list'|trans }}{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">{{ 'filmclub_film.page_title_list'|trans }}</h1>

        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>{{ 'filmclub_film.col_title'|trans }}</th>
                <th>{{ 'filmclub_film.col_year'|trans }}</th>
                <th>{{ 'filmclub_film.col_runtime'|trans }}</th>
                <th>{{ 'filmclub_film.col_genres'|trans }}</th>
                <th>{{ 'filmclub_film.col_event'|trans }}</th>
                <th><a href="{{ path('app_filmclub_film_new') }}"><span class="icon"><i class="fa fa-plus"></i></span></a></th>
            </tr>
            </thead>
            <tbody>
            {% for film in films %}
                <tr>
                    <td>{{ film.title }}</td>
                    <td>{{ film.year }}</td>
                    <td>{{ film.runtime }} min</td>
                    <td>
                        {% for genre in film.genres %}
                            <span class="tag is-info">{{ genre.label()|trans }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {% if filmEvents[film.id] is defined %}
                            <a href="{{ path('app_event_details', {'id': filmEvents[film.id].id}) }}">
                                {{ filmEvents[film.id].title(app.locale) }}
                            </a>
                        {% endif %}
                    </td>
                    <td></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">{{ 'filmclub_film.empty_state'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
