{% extends '@Books/base_books.html.twig' %}

{% block title %}{{ 'books_book.page_title_edit'|trans({'%title%': book.title}) }}{% endblock %}

{% block books_body %}
<h1 class="title">{{ 'books_book.page_title_edit'|trans({'%title%': book.title}) }}</h1>

{{ form_start(form) }}
{{ form_errors(form) }}
{% for field in [form.title, form.author, form.description, form.pageCount, form.publishedYear] %}
<div class="field">
    {{ form_label(field) }}
    <div class="control">{{ form_widget(field) }}</div>
    {{ form_errors(field) }}
</div>
{% endfor %}

{% if book.coverImage %}
<div class="field">
    <label class="label">{{ 'books_book.current_cover_label'|trans }}</label>
    <figure class="image" style="max-width: 150px">
        {% include '_components/image.html.twig' with {'image': book.coverImage, 'size': '200x250', 'alt': book.title} %}
    </figure>
</div>
{% endif %}

<div class="field">
    {{ form_label(form.coverFile) }}
    <div class="control">{{ form_widget(form.coverFile) }}</div>
    <p class="help">{{ 'books_book.help_cover'|trans }}</p>
    {{ form_errors(form.coverFile) }}
</div>

<div class="field mt-4">
    {{ form_widget(form.submit) }}
    <a href="{{ path('app_plugin_books_book_show', {id: book.id}) }}" class="button ml-2">{{ 'books_book.button_cancel'|trans }}</a>
</div>
{{ form_end(form) }}
{% endblock %}
