{% extends '@Books/base_books.html.twig' %}

{% block title %}{{ 'books_book.browser_title_list'|trans }}{% endblock %}

{% block books_body %}
<div class="level mb-4">
    <div class="level-left">
        <h1 class="title mb-0">{{ 'books_book.page_title_list'|trans }}</h1>
    </div>
    {% if is_granted('ROLE_STEWARD') %}
        <div class="level-right">
            <div class="buttons">
                <a href="{{ path('app_plugin_books_book_add') }}" class="button is-link">
                    <span class="icon"><i class="fa fa-magnifying-glass"></i></span>
                    <span>{{ 'books_book.button_lookup'|trans }}</span>
                </a>
                <a href="{{ path('app_plugin_books_book_manual') }}" class="button">
                    <span class="icon"><i class="fa fa-plus"></i></span>
                    <span>{{ 'books_book.button_manual'|trans }}</span>
                </a>
            </div>
        </div>
    {% endif %}
</div>

{% include '_components/item/list.html.twig' with {'itemType': 'book', 'itemIds': itemIds, 'emptyMessage': 'books_book.list_empty', 'addUrl': path('app_plugin_books_book_manual'), 'addLabel': 'books_book.button_manual', 'gridRatio': 'portrait', 'listHeader': ['books_book.label_cover', 'books_book.label_title', 'books_book.label_author', '']} %}
{% endblock %}
