<table class="table is-fullwidth is-striped is-hoverable">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Author</th>
            <th>Suggested by</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for suggestion in poll.suggestions %}
            <tr class="{% if userVote and userVote.suggestion.id == suggestion.id %}has-background-success-light{% endif %}">
                <td style="width: 50px;">
                    {% if suggestion.book.coverImage %}
                        {% include '_components/image.html.twig' with {'image': suggestion.book.coverImage, 'size': '200x250'} %}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_plugin_bookclub_book_show', {id: suggestion.book.id}) }}">{{ suggestion.book.title }}</a>
                </td>
                <td>{{ suggestion.book.author ?? 'Unknown' }}</td>
                <td>{{ get_user_name(suggestion.suggestedBy) }}</td>
                <td>
                    <form action="{{ path('app_plugin_bookclub_poll_vote', {suggestionId: suggestion.id}) }}" method="post">
                        <button type="submit" class="button is-primary is-small">
                            {% if userVote and userVote.suggestion.id == suggestion.id %}
                                <span class="icon"><i class="fas fa-check"></i></span>
                                <span>Voted</span>
                            {% else %}
                                <span class="icon"><i class="fas fa-vote-yea"></i></span>
                                <span>Vote</span>
                            {% endif %}
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
