{% extends '@Filmclub/base_filmclub.html.twig' %}

{% block title %}{{ 'filmclub_poll.page_title_results'|trans }}{% endblock %}

{% block filmclub_body %}
<h1 class="title">{{ 'filmclub_poll.page_title_results'|trans }}</h1>

<p class="mb-4 has-text-grey">
    {% if poll.status.value == 1 %}
    {{ 'filmclub_poll.poll_closes_on'|trans({'%date%': poll.endDate|date('Y-m-d')}) }}
    {% else %}
    {{ 'filmclub_poll.poll_closed_on'|trans({'%date%': poll.closedAt|date('Y-m-d')}) }}
    {% endif %}
</p>

{% if poll.winningSuggestion %}
<div class="notification">
    {{ 'filmclub_poll.winner_label'|trans }}: <strong>{{ poll.winningSuggestion.film.title }}</strong>
</div>
{% elseif poll.status.value != 1 and poll.tiedSuggestions is not empty %}
<div class="notification is-warning">
    {{ 'filmclub_poll.awaiting_disambiguation'|trans }}
    {% if is_granted('ROLE_ORGANIZER') %}
    <a href="{{ path('app_plugin_filmclub_poll_close', {id: poll.id}) }}" class="button is-small is-warning ml-2">
        {{ 'filmclub_poll.button_disambiguate'|trans }}
    </a>
    {% endif %}
</div>
{% endif %}

{% set maxVotes = voteCounts is not empty ? max(voteCounts) : 0 %}

<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>{{ 'filmclub_poll.col_film'|trans }}</th>
            <th>{{ 'filmclub_poll.col_votes'|trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for suggestion in poll.suggestions %}
        {% if suggestion.film %}
        {% set voteCount = voteCounts[suggestion.id] ?? 0 %}
        <tr{% if poll.winningSuggestion and poll.winningSuggestion.id == suggestion.id %} style="font-weight: bold"{% endif %}>
            <td>
                <a href="{{ path('app_plugin_filmclub_film_show', {id: suggestion.film.id}) }}">{{ suggestion.film.title }}</a>
                {% if suggestion.id in userVotedSuggestionIds %}
                <span class="tag is-light ml-1">{{ 'filmclub_poll.your_vote'|trans }}</span>
                {% endif %}
            </td>
            <td>{{ voteCount }}</td>
            <td>
                {% if maxVotes > 0 %}
                <progress class="progress" value="{{ voteCount }}" max="{{ maxVotes }}" style="background: #e8e8e8; color: #555"></progress>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

{% if poll.status.value == 1 %}
<a href="{{ path('app_plugin_filmclub_poll_vote', {id: poll.id}) }}" class="button">{{ 'filmclub_poll.button_vote'|trans }}</a>
{% endif %}
{% endblock %}
