{#
    Gallery: Admin list -- Standard list table with icon-only row actions

    Mirrors `templates/admin/host/list.html.twig` as the canonical reference.
    `architecture/ux-admin.md` Row-action conventions:
      - icon-only `<a>`, never `<button>` or `.button`;
      - standard icons: `fa-eye` (view), `fa-edit` (edit), `fa-trash` (delete),
        `fa-plus` in the last `<th>` for the create link;
      - no background-tinted rows; aggregate "needs attention" signal lives in the topbar tag.
    Status uses plain coloured text in the cell; type-like categorical labels use
    `tag is-light`.

    Used in:    admin/system/theme/gallery/index.html.twig
    Parameters: none
#}
<p class="is-size-7 has-text-grey">
    {{ 'admin_system_gallery.source_of_truth'|trans }}
    <code>templates/admin/host/list.html.twig</code>,
    architecture/ux-admin.md ("Row-action conventions")
</p>

<h3 class="title is-6 mt-4">{{ 'admin_system_gallery.variation_label'|trans }} (a) minimal</h3>
<table id="filteredTable" class="table is-fullwidth">
    <thead>
        <tr>
            <th>{{ 'admin_system_gallery.col_name'|trans }}</th>
            <th>{{ 'admin_system_gallery.col_user'|trans }}</th>
            <th>
                <a href="#" title="{{ 'admin_system_gallery.empty_card_cta'|trans }}">
                    <span class="icon"><i class="fa fa-plus"></i></span>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sample Host A</td>
            <td>{{ 'admin_system_gallery.sample_name'|trans }}</td>
            <td>
                <a href="#" title="Edit">
                    <span class="icon"><i class="fa fa-edit"></i></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Sample Host B</td>
            <td>-</td>
            <td>
                <a href="#" title="Edit">
                    <span class="icon"><i class="fa fa-edit"></i></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<h3 class="title is-6 mt-5">{{ 'admin_system_gallery.variation_label'|trans }} (b) richer with status text + type tag</h3>
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>slug</th>
            <th>{{ 'admin_system_gallery.col_status'|trans }}</th>
            <th>{{ 'admin_system_gallery.tags_cell_type_col'|trans }}</th>
            <th>
                <a href="#" title="{{ 'admin_system_gallery.empty_card_cta'|trans }}">
                    <span class="icon"><i class="fa fa-plus"></i></span>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>about</td>
            <td><span class="has-text-success">{{ 'admin_system_gallery.plain_status_published'|trans }}</span></td>
            <td><span class="tag is-light">{{ 'admin_system_gallery.tags_cell_type_transactional'|trans }}</span></td>
            <td>
                <a href="#" title="View"><span class="icon"><i class="fa fa-eye"></i></span></a>
                <a href="#" title="Edit"><span class="icon"><i class="fa fa-edit"></i></span></a>
                <a href="#" title="Delete"><span class="icon"><i class="fa fa-trash"></i></span></a>
            </td>
        </tr>
        <tr>
            <td>contact</td>
            <td><span class="has-text-grey-light">{{ 'admin_system_gallery.plain_status_draft'|trans }}</span></td>
            <td><span class="tag is-light">{{ 'admin_system_gallery.tags_cell_type_recurring'|trans }}</span></td>
            <td>
                <a href="#" title="View"><span class="icon"><i class="fa fa-eye"></i></span></a>
                <a href="#" title="Edit"><span class="icon"><i class="fa fa-edit"></i></span></a>
                <a href="#" title="Delete"><span class="icon"><i class="fa fa-trash"></i></span></a>
            </td>
        </tr>
    </tbody>
</table>
