{#
    Gallery: Danger zone -- Save inside the form; Delete and Back live in the topbar

    `architecture/ux-admin.md` Form pages: the Save button stays inside `form_start ...
    form_end` as the form submit; Cancel links are gone (the Back button in the topbar
    replaces them). Other actions (Delete, Reset, Preview) move to the topbar as
    `AdminTopActionButton` entries with their own variants.

    Used in:    admin/system/theme/gallery/index.html.twig
    Parameters: none
    Depends on: _components/warning_box.html.twig, assets/js/toggles.js (.toggleTrigger)
#}
<p class="is-size-7 has-text-grey">
    {{ 'admin_system_gallery.source_of_truth'|trans }}
    architecture/ux-admin.md ("Form pages"),
    <code>templates/admin/host/edit.html.twig</code>,
    <code>templates/_components/warning_box.html.twig</code>
</p>

<h3 class="title is-6 mt-4">{{ 'admin_system_gallery.danger_zone_form_title'|trans }}</h3>
<p class="has-text-grey is-size-7">{{ 'admin_system_gallery.danger_zone_form_caption'|trans }}</p>
<form class="mt-3" onsubmit="return false">
    <div class="field">
        <label class="label">{{ 'admin_system_gallery.field_demo_name'|trans }}</label>
        <div class="control">
            <input class="input" type="text" value="{{ 'admin_system_gallery.sample_name'|trans }}">
        </div>
    </div>
    <div class="field mt-4">
        <button type="submit" class="button is-primary">
            <span>{{ 'admin_system_gallery.button_demo_save'|trans }}</span>
        </button>
    </div>
</form>

<h3 class="title is-6 mt-5">{{ 'admin_system_gallery.danger_zone_warning_title'|trans }}</h3>
<p class="has-text-grey is-size-7">{{ 'admin_system_gallery.danger_zone_warning_caption'|trans }}</p>
<article class="message is-danger mt-3">
    <div class="message-header">
        <p>{{ 'admin_system_gallery.confirm_destructive_title'|trans }}</p>
        <button class="delete" aria-label="close" type="button"></button>
    </div>
    <div class="message-body has-text-black has-background-white">
        <p>{{ 'admin_system_gallery.sample_warning_content'|trans }}</p>
        <div class="has-text-right mt-3">
            <a class="button" href="#">
                <span class="icon"><i class="fa fa-trash"></i></span>
                <span>{{ 'admin_system_gallery.sample_warning_button'|trans }}</span>
            </a>
        </div>
    </div>
</article>
