<div class="tabs is-boxed">
    <ul>
        <li class="{% if activeSection == 'templates' %}is-active{% endif %}">
            <a href="{{ path('app_admin_email_templates') }}">
                <span class="icon is-small"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <span>{{ 'email_tab_templates'|trans }}</span>
            </a>
        </li>
        <li class="{% if activeSection == 'sendlog' %}is-active{% endif %}">
            <a href="{{ path('app_admin_email_sendlog') }}">
                <span class="icon is-small"><i class="fa fa-list" aria-hidden="true"></i></span>
                <span>{{ 'email_tab_sendlog'|trans }}</span>
            </a>
        </li>
        <li class="{% if activeSection == 'announcements' %}is-active{% endif %}">
            <a href="{{ path('app_admin_email_announcements') }}">
                <span class="icon is-small"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
                <span>{{ 'email_tab_announcements'|trans }}</span>
            </a>
        </li>
        <li class="{% if activeSection == 'planned' %}is-active{% endif %}">
            <a href="{{ path('app_admin_email_planned') }}">
                <span class="icon is-small"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                <span>Planned</span>
            </a>
        </li>
        <li class="{% if activeSection == 'debugging' %}is-active{% endif %}">
            <a href="{{ path('app_admin_email_debugging') }}">
                <span class="icon is-small"><i class="fa fa-bug" aria-hidden="true"></i></span>
                <span>{{ 'email_tab_debugging'|trans }}</span>
            </a>
        </li>
        <li class="{% if activeSection == 'blocklist' %}is-active{% endif %}">
            <a href="{{ path('app_admin_email_blocklist') }}">
                <span class="icon is-small"><i class="fa fa-ban" aria-hidden="true"></i></span>
                <span>{{ 'email_tab_blocklist'|trans }}</span>
            </a>
        </li>
    </ul>
</div>
