
    <div class="container mt-4 mb-4">
        <div class="columns">
            {% if block.image and not block.imageRight %}
                <div class="column is-4">
                    {% include '_components/image.html.twig' with {'image': block.image} %}
                </div>
            {% endif %}
            <div class="column">
                <h2 class="title is-4">{{ block.headline }}</h2>
                <p>
                    {{ block.text|nl2br }}
                </p>
            </div>
            {% if block.image and block.imageRight %}
                <div class="column is-4">
                    {% include '_components/image.html.twig' with {'image': block.image} %}
                </div>
            {% endif %}
            <div class="column is-4">
                <div class="box upcoming-events mb-6">
                    <h3 class="title is-5 mb-4">
                        <span class="icon-text">
                            <span>{{ 'cms.event_teaser_headline'|trans }}</span>
                        </span>
                    </h3>
                    {% set upcomingEvents = cms_upcoming_events(4) %}
                    {% if upcomingEvents is empty %}
                        <p class="has-text-grey has-text-centered py-3">
                            {{ 'cms.event_teaser_empty'|trans }}
                        </p>
                    {% else %}
                        <ul class="upcoming-events__list">
                            {% for event in upcomingEvents %}
                                <li class="upcoming-event">
                                    <a class="upcoming-event__link" href="{{ path('app_event_details', { 'id': event.id }) }}">
                                        <div class="upcoming-event__date" aria-hidden="true">
                                            <span class="upcoming-event__month">{{ event.start|date('M')|upper }}</span>
                                            <span class="upcoming-event__day">{{ event.start|date('j') }}</span>
                                        </div>
                                        <div class="upcoming-event__body">
                                            <span class="upcoming-event__title">{{ event.title(app.locale) }}</span>
                                            <span class="upcoming-event__meta">
                                                <span class="icon-text">
                                                    <span class="icon is-small"><i class="far fa-clock"></i></span>
                                                    <span>{{ event.start|date('H:i') }}</span>
                                                </span>
                                                <span class="icon-text">
                                                    <span class="icon is-small"><i class="fas fa-location-dot"></i></span>
                                                    <span>{{ event.location.name }}</span>
                                                </span>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
