{% if block.headline %}
    <h2 class="title has-text-centered mt-6 mb-4">{{ block.headline }}</h2>
{% endif %}
<div class="columns">
    {% for card in block.cards %}
        <div class="column is-4 is-flex">
            <div class="card is-flex is-flex-direction-column is-fullwidth">
                {% if card.image %}
                    <div class="card-image">
                        <figure class="image">
                            <img src="/images/thumbnails/{{ card.image.hash }}_300x200.webp"
                                 alt="" loading="lazy">
                        </figure>
                    </div>
                {% endif %}
                <div class="card-content is-flex-grow-1">
                    {% if card.subHeadline %}
                        <p class="title is-5">{{ card.subHeadline }}</p>
                    {% endif %}
                    {% if card.text %}
                        <div class="content">{{ card.text|nl2br }}</div>
                    {% endif %}
                </div>
                {% if card.buttonText %}
                    <footer class="card-footer">
                        <a href="/{{ app.request.locale }}{{ card.buttonLink }}"
                           class="card-footer-item">
                            {{ card.buttonText }}
                        </a>
                    </footer>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
