{# Book cell rendered by the shared item-list component (core wraps it in the chosen layout). #}
{% set mode = item_view_mode('book').value %}
{% set showUrl = path('app_plugin_books_book_show', {id: book.id}) %}

{% if mode == 'list' %}
    <td style="vertical-align: middle;">
        <a href="{{ showUrl }}"><figure class="image" style="width: 48px;">{% include '_components/image.html.twig' with {'image': book.coverImage, 'size': '200x250', 'alt': book.title} %}</figure></a>
    </td>
    <td style="vertical-align: middle;">
        <a href="{{ showUrl }}" class="has-text-weight-medium">{{ book.title }}</a>
        {% include '_components/item/taxonomy_badges.html.twig' with {'itemType': 'book', 'itemId': book.id} only %}
    </td>
    <td style="vertical-align: middle;" class="has-text-grey">{{ book.author }}</td>
    <td style="vertical-align: middle;" class="has-text-right">
        {% if is_granted('ROLE_STEWARD') %}
            <a href="{{ path('app_plugin_books_book_edit', {'id': book.id}) }}" title="{{ 'books_book.button_edit'|trans }}">
                <span class="icon"><i class="fa fa-pen-to-square"></i></span>
            </a>
        {% endif %}
    </td>
{% elseif mode == 'grid' %}
    {% include '_components/item/styles/thumb.html.twig' with {
        href: showUrl,
        image: book.coverImage,
        imageSize: '200x250',
        alt: book.title,
        ratio: 'portrait'
    } %}
{% else %}
    {% include '_components/item/styles/portrait.html.twig' with {
        href: showUrl,
        image: book.coverImage,
        imageSize: '200x250',
        title: book.title,
        subtitle: book.author
    } %}
    {% include '_components/item/taxonomy_badges.html.twig' with {'itemType': 'book', 'itemId': book.id} only %}
{% endif %}
