{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        <div class="columns">
            <div class="column is-6">

                <h1 class="title is-5">Website settings</h1>
                {{ form_start(form) }}
                {{ form_row(form.url) }}
                <div class="columns">
                    <div class="column">
                        {{ form_row(form.senderName) }}
                    </div>
                    <div class="column">
                        {{ form_row(form.senderEmail) }}
                    </div>
                </div>

                <button class="button is-link">{{ "button_save" | trans }}</button>
                {{ form_end(form) }}

            </div>
            <div class="column is-1"></div>
            <div class="column is-5 content">

                <h1 class="title is-5">On/Off settings</h1>
                <table class="table is-fullwidth">
                    <tbody>
                    {% for item in config %}
                        <tr>
                            <td>{{ ("config_option_" ~ item.name)|trans }}</td>
                            <td>
                                {% if item.isBoolean %}

                                    {% include '_block/toggle.html.twig' with {
                                        'link': path('app_admin_system_boolean', {'name': item.name}),
                                        'status': item.getBoolean
                                    } %}

                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>

{% endblock %}

