{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="notification is-{{ type }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>{{ 'admin_system_plugins.col_version'|trans }}</th>
                <th>{{ 'admin_system_plugins.col_plugin_name'|trans }}</th>
                <th>{{ 'admin_system_plugins.col_description'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for plugin in plugins %}
                <tr>
                    <td>{{ plugin.version }}</td>
                    <td>{{ plugin.name }}</td>
                    <td>{{ plugin.description }}</td>
                    <td class="has-text-right">
                        {% if plugin.installed %}
                            {% if plugin.enabled %}
                                <button class="button is-danger is-light" disabled>{{ 'admin_system_plugins.button_uninstall'|trans }}</button>
                                <form method="post" action="{{ path('admin_plugin_disable', {key: plugin.key}) }}" class="is-inline">
                                    <button type="submit" class="button is-danger is-light">{{ 'admin_system_plugins.button_disable'|trans }}</button>
                                </form>
                            {% else %}
                                <form method="post" action="{{ path('admin_plugin_uninstall', {key: plugin.key}) }}" class="is-inline">
                                    <button type="submit" class="button is-danger is-light">{{ 'admin_system_plugins.button_uninstall'|trans }}</button>
                                </form>
                                <form method="post" action="{{ path('admin_plugin_enable', {key: plugin.key}) }}" class="is-inline">
                                    <button type="submit" class="button is-success is-light">{{ 'admin_system_plugins.button_enable'|trans }}</button>
                                </form>
                            {% endif %}
                        {% else %}
                            <form method="post" action="{{ path('admin_plugin_install', {key: plugin.key}) }}" class="is-inline">
                                <button type="submit" class="button is-success is-light">{{ 'admin_system_plugins.button_install'|trans }}</button>
                            </form>
                            <button class="button is-success is-light" disabled>{{ 'admin_system_plugins.button_enable'|trans }}</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
