{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="notification is-{{ type }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>Version</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for plugin in plugins %}
                <tr>
                    <td>{{ plugin.version }}</td>
                    <td>{{ plugin.name }}</td>
                    <td>{{ plugin.description }}</td>
                    <td class="has-text-right">
                        {% if plugin.installed %}
                            {% if plugin.enabled %}
                                <button class="button is-danger is-light" disabled>Uninstall</button>
                                <form method="post" action="{{ path('admin_plugin_disable', {key: plugin.key}) }}" style="display:inline">
                                    <button type="submit" class="button is-danger is-light">Disable</button>
                                </form>
                            {% else %}
                                <form method="post" action="{{ path('admin_plugin_uninstall', {key: plugin.key}) }}" style="display:inline">
                                    <button type="submit" class="button is-danger is-light">Uninstall</button>
                                </form>
                                <form method="post" action="{{ path('admin_plugin_enable', {key: plugin.key}) }}" style="display:inline">
                                    <button type="submit" class="button is-success is-light">Enable</button>
                                </form>
                            {% endif %}
                        {% else %}
                            <form method="post" action="{{ path('admin_plugin_install', {key: plugin.key}) }}" style="display:inline">
                                <button type="submit" class="button is-success is-light">Install</button>
                            </form>
                            <button class="button is-success is-light" disabled>Enable</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
