<h3 class="title is-5">
    <span class="icon"><i class="fas fa-book"></i></span>
    {{ 'bookclub_tile.plugin_heading'|trans }}
</h3>

{% if selection %}
    <p class="is-size-7 has-text-grey mb-2">{{ 'bookclub_tile.discussing_label'|trans }}</p>
    {% if selection.book.coverImage %}
        <a href="{{ path('app_plugin_bookclub_book_show', {id: selection.book.id}) }}" style="display: inline-block; border: 1px solid #666;">
            {% include '_components/image.html.twig' with {'image': selection.book.coverImage, 'size': '200x250'} %}
        </a>
    {% endif %}
    <p class="has-text-weight-bold mt-2">
        <a href="{{ path('app_plugin_bookclub_book_show', {id: selection.book.id}) }}">
            {{ selection.book.title }}
        </a>
    </p>
    {% if selection.book.author %}
        <p class="has-text-grey is-size-7">{{ selection.book.author }}</p>
    {% endif %}
{% else %}
    {% if activePoll %}
        <p class="is-size-7 has-text-grey mb-2">{{ 'bookclub_tile.vote_label'|trans }}</p>
        <p class="has-text-weight-bold mb-1">
            <a href="{{ path('app_plugin_bookclub_poll') }}">{{ activePoll.title ?? 'bookclub_tile.current_poll_fallback'|trans }}</a>
        </p>
        <ul class="is-size-7 mb-3">
            {% for suggestion in activePoll.suggestions %}
                <li>{{ suggestion.book.title }}</li>
            {% endfor %}
        </ul>
        <a href="{{ path('app_plugin_bookclub_poll') }}" class="button is-small is-warning">
            <span class="icon"><i class="fas fa-poll"></i></span>
            <span>{{ 'bookclub_tile.button_vote_now'|trans }}</span>
        </a>
    {% else %}
        <p class="has-text-grey">{{ 'bookclub_tile.empty_no_selection'|trans }}</p>
    {% endif %}

    {% if is_granted('ROLE_ORGANIZER') %}
        <div class="buttons mt-2">
            <a href="{{ path('app_plugin_bookclub_select', {eventId: eventId}) }}" class="button is-small is-success">
                <span class="icon"><i class="fas fa-plus"></i></span>
                <span>{{ 'bookclub_tile.button_select_book'|trans }}</span>
            </a>
            {% if not activePoll %}
                <a href="{{ path('app_plugin_bookclub_poll_create', {eventId: eventId}) }}" class="button is-small is-info">
                    <span class="icon"><i class="fas fa-poll"></i></span>
                    <span>{{ 'bookclub_tile.button_create_poll'|trans }}</span>
                </a>
            {% endif %}
        </div>
    {% endif %}
{% endif %}
