{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        <form method="post" action="{{ path('app_admin_translation_save') }}">
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <th>Key</th>
                    {% for enabledLocale in enabled_locales %}
                        <th>{{ enabledLocale|upper }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for key, translation in translationMatrix %}
                    <tr>
                        <td>{{ key }}</td>
                        {% for enabledLocale in enabled_locales %}
                            {% set value = translation[enabledLocale]['value'] %}
                            {% set id = translation[enabledLocale]['id'] %}
                            {% if value is null or value is empty %}
                                {% set warning = 'is-warning has-background-warning-light' %}
                            {% else %}
                                {% set warning = '' %}
                            {% endif %}
                            <td>
                                <input class="input is-small {{ warning }}" name="{{ id }}" type="text" value="{{ value }}">
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <button class="button">{{ "button_save" | trans }}</button>
        </form>

    </div>

{% endblock %}

