{% extends 'admin/base.html.twig' %}

{% block content %}
<div class="container">
    <h1 class="title">Pending Translation Suggestions</h1>

    <div class="box">
        {% if translationSuggestions|length > 0 %}
        <table class="table is-fullwidth" id="filteredTable">
            <thead>
            <tr>
                <th>Suggested At</th>
                <th>Suggested By</th>
                <th>Change From</th>
                <th>Change Into</th>
                <th>Actions</th>
                <th>History</th>
            </tr>
            </thead>
            <tbody>
            {% for suggestion in translationSuggestions %}
                {% set translation = suggestion.translation %}
                <tr>
                    <td>{{ suggestion.createdAt|date(get_date_format()) }}</td>
                    <td>{{ suggestion.createdBy.name }}</td>
                    <td>{{ suggestion.previous }}</td>
                    <td>{{ suggestion.suggestion }}</td>
                    <td>
                        <a class="button is-small is-danger" href="{{ path('app_translation_suggestion_deny', {id: suggestion.id, returnTo: 'admin'}) }}">Deny</a>
                        <a class="button is-small is-success" href="{{ path('app_translation_suggestion_approve', {id: suggestion.id, returnTo: 'admin'}) }}">Approve</a>
                    </td>
                    <td>
                        <a class="button is-small" href="{{ path('app_translation_edit', {'id': translation.id, 'lang': translation.language}) }}">View</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p class="has-text-centered has-text-grey">No pending translation suggestions</p>
        {% endif %}
    </div>
</div>
{% endblock %}
