<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Phrases</th>
        <th>PinYin</th>
        <th>Explanation</th>
        <th>Category</th>
        {% if is_granted('ROLE_USER') %}
            <th>
                <a href="{{ path('app_plugin_glossary_new') }}">
                    <i class="fas fa-plus"></i>
                </a>
            </th>
        {% endif %}
    </tr>
    </thead>
    <tbody>

    {% if is_granted('ROLE_MANAGER') %}

        {% for item in list %}{# action items for managers #}
            {% if item.approved == false or item.suggestions is not empty %}
            <tr class="{% if editItem is defined and editItem.id == item.id %}has-background-light{% endif %}">
                <td>{{ item.phrase }}</td>
                <td>{{ item.pinyin }}</td>
                <td>{{ item.explanation }}</td>
                <td>{{ item.category.name }}</td>
                <td>
                    {% if item.approved == false %}
                    <a class="has-text-success" href="{{ path('app_plugin_glossary_approval_list', {id: item.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                    {% endif %}
                    {% if item.suggestions is not empty %}
                        <a class="has-text-warning" href="{{ path('app_plugin_glossary_suggestion_list', {id: item.id}) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                    {% endif %}
                    <a class="has-text-danger" href="{{ path('app_plugin_glossary_delete_view', {id: item.id}) }}">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}

        {% for item in list %} {# rest of list #}
            {% if item.approved == true and item.suggestions is empty %}
                <tr class="{% if editItem is defined and editItem.id == item.id %}has-background-light{% endif %}">
                    <td>{{ item.phrase }}</td>
                    <td>{{ item.pinyin }}</td>
                    <td>{{ item.explanation }}</td>
                    <td>{{ item.category.name }}</td>
                    <td>
                        <a href="{{ path('app_plugin_glossary_edit', {id: item.id}) }}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="has-text-danger" href="{{ path('app_plugin_glossary_delete_view', {id: item.id}) }}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}

    {% else %}{# normal user #}

        {% for item in list %}
            {% if item.approved == true %}
            <tr class="{% if editItem is defined and editItem.id == item.id %}has-background-light{% endif %}">
                <td>{{ item.phrase }}</td>
                <td>{{ item.pinyin }}</td>
                <td>{{ item.explanation }}</td>
                <td>{{ item.category.name }}</td>
                {% if is_granted('ROLE_USER') %}
                    <td>
                        <a href="{{ path('app_plugin_glossary_edit', {id: item.id}) }}">
                            <i class="fas fa-edit"></i>
                        </a>
                        {% if is_granted('ROLE_MANAGER') %}
                            <a class="has-text-danger" href="{{ path('app_plugin_glossary_delete_view', {id: item.id}) }}">
                                <i class="fa fa-trash"></i>
                            </a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
            {% endif %}
        {% endfor %}
    {% endif %}
    </tbody>
</table>