{% extends '@Filmclub/base_filmclub.html.twig' %}

{% block title %}{{ 'filmclub_note.page_title_list'|trans }}{% endblock %}

{% block filmclub_body %}
<h1 class="title">{{ 'filmclub_note.page_title_list'|trans }}</h1>

{% if notes is empty %}
<p class="has-text-grey">{{ 'filmclub_note.empty'|trans }}</p>
{% else %}
<table class="table is-fullwidth is-striped">
    <thead>
        <tr>
            <th>{{ 'filmclub_note.col_film'|trans }}</th>
            <th>{{ 'filmclub_note.col_revealed'|trans }}</th>
            <th>{{ 'filmclub_note.col_date'|trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for note in notes %}
        <tr>
            <td>
                <a href="{{ path('app_plugin_filmclub_film_show', {id: note.film.id}) }}">
                    {{ note.film.title }}
                </a>
            </td>
            <td>{{ note.revealToGroup ? 'filmclub_note.yes'|trans : 'filmclub_note.no'|trans }}</td>
            <td>{{ note.createdAt|date('Y-m-d') }}</td>
            <td>
                <a href="{{ path('app_plugin_filmclub_note_edit', {filmId: note.film.id}) }}">{{ 'filmclub_note.button_edit'|trans }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
