{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">
        <article class="message is-success is-hidden" id="cms-add">
            {{ form_start(form) }}
            <div class="message-header">
                <p>{{ 'admin_cms.add_page_header' | trans }}</p>
                <button class="delete toggleTrigger" data-id="cms-add" aria-label="delete"></button>
            </div>
            <div class="message-body">
                <p>
                    {{ 'admin_cms.add_page_intro' | trans }}
                </p>
                <p>
                    {{ form_row(form.slug) }}
                </p>
                <div class="has-text-right">
                    <button class="button">{{ 'global.add'|trans }}</button>
                </div>
            </div>
            {{ form_end(form, {'render_rest': false}) }}
        </article>

        {% if cms|length == 0 %}
            <p class="has-text-grey-light">{{ 'admin_cms.empty_state' | trans }}</p>
        {% endif %}

        <table id="filteredTable" class="table is-fullwidth">
            <thead>
            <tr>
                <th>{{ 'admin_cms.col_slug' | trans }}</th>
                <th>{{ 'admin_cms.col_created_by' | trans }}</th>
                <th>{{ 'admin_cms.col_created_at' | trans }}</th>
                <th>{{ 'admin_cms.col_status' | trans }}</th>
                <th></th>
                <th>{{ 'admin_cms.col_blocks' | trans }}</th>
                <th>{{ 'admin_cms.col_translations' | trans }}</th>
                <th><a class="toggleTrigger" data-id="cms-add" href="#"><span class="icon"><i class="fa fa-plus"></i></span></a></th>
            </tr>
            </thead>
            <tbody>
            {% for page in cms %}
                <tr>
                    <td>{{ page.slug }}</td>
                    <td>{{ page.createdBy.name }}</td>
                    <td>{{ page.createdAt|date('Y-m-d') }}</td>
                    <td>
                        {% if page.published %}
                            <span class="has-text-success">{{ 'admin_cms.published' | trans }}</span>
                        {% else %}
                            <span class="has-text-grey-light">{{ 'admin_cms.draft' | trans }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <span class="icon-text">
                            {% if page.slug == 'index' %}
                                <span class="icon has-text-grey-light" title="{{ 'admin_cms.icon_title_home_page' | trans }}">
                                    <i class="fa fa-home"></i>
                                </span>
                            {% endif %}
                            {% if page.locked %}
                                <span class="icon has-text-grey-light" title="{{ 'admin_cms.status_locked' | trans }}">
                                    <i class="fa fa-lock"></i>
                                </span>
                            {% endif %}
                            {% if page.id in cms_with_announcements %}
                                <span class="icon has-text-grey-light" title="{{ 'admin_cms.icon_title_has_announcement' | trans }}">
                                    <i class="fa fa-bullhorn"></i>
                                </span>
                            {% endif %}
                        </span>
                    </td>
                    <td>{{ page.blocks|length }}</td>
                    <td>{{ page.languages|length }}</td>
                    <td>
                        {% if not (page.locked and not is_admin) %}
                            <a href="{{ path('app_admin_cms_edit', {'id': page.id}) }}"><span class="icon"><i class="fa fa-edit"></i></span></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="mt-4 has-text-centered">
            <span class="icon-text">
                <span class="icon has-text-grey-light"><i class="fas fa-home"></i></span>
                <span class="has-text-grey-light">{{ 'admin_cms.icon_title_home_page' | trans }}</span>
            </span>
            <span class="icon-text ml-4">
                <span class="icon has-text-grey-light"><i class="fas fa-lock"></i></span>
                <span class="has-text-grey-light">{{ 'admin_cms.status_locked' | trans }}</span>
            </span>
            <span class="icon-text ml-4">
                <span class="icon has-text-grey-light"><i class="fas fa-bullhorn"></i></span>
                <span class="has-text-grey-light">{{ 'admin_cms.icon_title_has_announcement' | trans }}</span>
            </span>
        </div>

    </div>

{% endblock %}
