{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="box">
        {{ form_start(form) }}
        <div class="columns">
            <div class="column is-3">
                {{ form_row(form.slug) }}
            </div>
            <div class="column is-2">
                {{ form_row(form.published) }}
            </div>
            <div class="column is-3">
                <div class="buttons has-addons">
                    {% for locale in app.enabled_locales %}
                        {% set link = path('app_admin_cms_edit', {'id': cms.id, 'locale': locale}) %}
                        <a class="button {% if locale == editLocale %}is-active{% endif %}" href="{{ link }}">{{ locale }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="column is-2">
                <button class="button">{{ "button_save" | trans }}</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>



    <div class="container">
        {% for block in blocks %}
            <div class="box">
                {% include 'cms/blocks/' ~ block.type.name ~ '.html.twig' with {'block': block} only %}
            </div>
        {% endfor %}


        <a href="{{ path('app_admin_cms_edit', {'id': cms.id, 'locale': editLocale}) }}">
            <button class="button">
                <span class="icon"><i class="fa fa-plus"></i></span>
                <span>Headline</span>
            </button>
        </a>
        <a href="{{ path('app_admin_cms_edit', {'id': cms.id, 'locale': editLocale}) }}">
            <button class="button">
                <span class="icon"><i class="fa fa-plus"></i></span>
                <span>Text</span>
            </button>
        </a>
        <a href="{{ path('app_admin_cms_edit', {'id': cms.id, 'locale': editLocale}) }}">
            <button class="button">
                <span class="icon"><i class="fa fa-plus"></i></span>
                <span>Image</span>
            </button>
        </a>
    </div>

{% endblock %}
