{% extends 'base.html.twig' %}

{% block title %}{{ "page_image_title"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns is-multiline is-centered">
                {% for language in languages %}
                    <div class="column is-4 p-5">

                        <div class="card">
                            <a href="/{{ language.code }}/" class="card-image">
                                <figure class="image p-5">
                                    <img src="/images/locations/{{ language.code }}.jpg"
                                         alt="Image for {{ language.name }}"
                                         class="modal-button"
                                         onerror="this.src='/images/locations/default.jpg'">
                                </figure>
                            </a>
                            <div class="card-content has-text-centered">
                                <div class="content">
                                    <h4>{{ language.name }}</h4>
                                    <a href="/{{ language.code }}/" class="button is-link">
                                        {{ language.code|upper }}
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                {% else %}
                    <div class="column has-text-centered">
                        <p class="has-text-grey">No languages available</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>

{% endblock %}
