{#
    User display name with optional badges

    Parameters:
    - link: URL to the user's profile page (required)
    - name: display name of the user (required)
    - badges: list of UserBadge DTOs (required)
#}
<a href="{{ link }}">{{ name }}</a>
{% for badge in badges %}
    <span class="icon {{ badge.color }}" title="{{ badge.title }}">
        <i class="{{ badge.icon }}"></i>
    </span>
{% endfor %}
