{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/_components/admin_tabs.html.twig' with {'adminTabs': adminTabs} only %}
        {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

        <form method="post" action="{{ path('app_admin_email_debugging_send') }}">
            <input type="hidden" name="emailType" value="{{ currentType }}">
            <input type="hidden" name="language" value="{{ currentLanguage }}">

            <div class="field">
                <label class="label">{{ 'admin_email_debugging.field_recipient'|trans }}</label>
                <div class="control">
                    <input class="input" type="email" name="recipient" placeholder="test@example.com" required>
                </div>
            </div>

            <div class="box">
                <h3 class="subtitle">{{ 'admin_email_debugging.mock_values'|trans }}</h3>
                <div id="contextFields">
                    {% for key, value in context %}
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">{{ key }}</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" type="text" name="context[{{ key }}]" value="{{ value }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-primary">
                        <span class="icon"><i class="fa fa-paper-plane"></i></span>
                        <span>{{ 'admin_email_debugging.button_send_test'|trans }}</span>
                    </button>
                </div>
            </div>

        </form>

    </div>

{% endblock %}
