{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        <table id="filteredTable" class="table is-fullwidth">
            <thead>
            <tr>
                <th>{{ 'Code'|trans }}</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Has Tile'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
                <th>{{ 'Sort Order'|trans }}</th>
                <th>
                    <a href="{{ path('app_admin_language_add') }}">
                        <span class="icon"><i class="fa fa-add"></i></span>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for language in languages %}
                <tr>
                    <td>{{ language.code }}</td>
                    <td>{{ language.name }}</td>
                    <td>
                        {% if language.tileImage %}
                            <span class="has-text-success">{{ 'yes'|trans }}</span>
                        {% else %}
                            <span class="has-text-grey">{{ 'no'|trans }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if language.enabled %}
                            <span class="tag is-success">{{ 'Enabled'|trans }}</span>
                        {% else %}
                            <span class="tag is-warning">{{ 'Disabled'|trans }}</span>
                        {% endif %}
                    </td>
                    <td>{{ language.sortOrder }}</td>
                    <td>
                        <a href="{{ path('app_admin_language_edit', {'id': language.id}) }}">
                            <span class="icon"><i class="fa fa-edit"></i></span>
                        </a>
                        <a href="{{ path('app_admin_language_toggle', {'id': language.id}) }}"
                           class="ml-2"
                           title="{{ language.enabled ? 'Disable'|trans : 'Enable'|trans }}">
                            <span class="icon">
                                <i class="fa {{ language.enabled ? 'fa-eye-slash' : 'fa-eye' }}"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
