<nav class="navbar navbar-top is-fixed-top py-4" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ path('app_default') }}">
                <img class="signal-logo" src="/images/logo.webp" width="28" height="28" alt="Website Logo">
            </a>
            {% include 'base_navbar_burger.html.twig' %}
        </div>
        <div id="navBarTop" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/{{ app.locale }}/about">{{ "menu_about" | trans }}</a>
                <a class="navbar-item" href="{{ path('app_event') }}">{{ "menu_events" | trans }}</a>
                <a class="navbar-item" href="{{ path('app_member') }}">{{ "menu_members" | trans }}</a>
                {% for plugin in globalService.plugins %}
                    <a class="navbar-item" href="/{{ app.locale }}/{{ plugin.name }}">{{ "menu_" ~ plugin.name | trans }}</a>
                {% endfor %}
                {% if is_granted('ROLE_MANAGER') %}
                    <a class="navbar-item" href="{{ path('app_manage') }}">{{ "menu_manage" | trans }}</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="navbar-item" href="{{ path('app_admin') }}">
                        {{ "menu_admin" | trans }}
                        {% if globalService.adminAttention %}
                            <span class="icon has-text-danger ml-1">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                        {% endif %}
                    </a>
                {% endif %}
            </div>
            <div class="navbar-end">
                {% if is_granted('ROLE_USER') %}
                    {% include 'base_navbar_menu.html.twig' %}
                {% else %}
                    <a class="navbar-item" href="{{ path('app_login') }}">{{ "menu_login" | trans }}</a>
                    {% include 'base_navbar_cookie.html.twig' %}
                {% endif %}
                {% include 'base_navbar_flags.html.twig' %}
            </div>
        </div>
    </div>
</nav>
