{% if app.request.attributes.get('_route_params') is not null and globalService.getAlternativeLanguageCodes  is not empty %}
    <div class="navbar-item dropdown is-hoverable pl-0">
        <div class="dropdown-trigger is-hoverable">
            <button class="button" aria-haspopup="menu" aria-label="Select language">
                <span class="image is-32x32 mt-3">
                    <img class="is-flag" src="{{ '/images/flags/' ~ app.request.locale ~ '.png' }}" width="100" height="64"
                         alt="Current locale flag: {{ app.request.locale }}"/>
                </span>
                <span class="icon is-small"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-languages" role="menu">
            <div class="dropdown-content">
                {% for altLangCode, altLangLink in globalService.getAlternativeLanguageCodes %}
                    <link rel=”alternate” hreflang="{{ altLangCode }}" href="{{ altLangLink }}"/>
                    <nobr>
                        <a class="navbar-item" href="{{ altLangLink }}" role="menuitem">
                            <figure class="image is-32x32 mt-3">
                                <img class="is-flag" src="{{ '/images/flags/' ~ altLangCode ~ '.png' }}" width="100"
                                     height="64" alt="Locale flag: {{ altLangCode }}"/>
                            </figure>
                            <span class="ml-3">
                                {{ ('language_'~altLangCode) | trans({}, "messages", altLangCode) }}
                            </span>
                            <span class="ml-2 has-text-grey">
                                ({{ ('language_'~altLangCode) | trans }})
                            </span>
                        </a>
                    </nobr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}