<footer class="footer">
    <div class="container">
        <div class="columns is-mobile is-multiline">
            <div class="column is-two-fifths is-hidden-mobile">
                <span class="copyright">© 2014–2025 dragon-descendants.de</span><br>
                <span>powered by</span> <a target="_blank" href="https://github.com/xuedi/meetAgain">meetAgain</a>
            </div>
            <div class="column is-6-mobile">
                <p>Static</p>
                <ul>
                    {% for menu in globalService.menu('col1') %}
                        <li>
                            <a class="is-size-5-mobile" href="{{ menu.slug }}">{{ menu.name(app.locale) }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="column is-6-mobile">
                <p>Dynamic</p>
                <ul>
                    {% for menu in globalService.menu('col2') %}
                        <li>
                            <a class="is-size-5-mobile" href="{{ menu.slug }}">{{ menu.name(app.locale) }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="column is-6-mobile">
                <p>Social</p>
                <ul>
                    {% for menu in globalService.menu('col3') %}
                        <li>
                            <a class="is-size-5-mobile" href="{{ menu.slug }}">{{ menu.name(app.locale) }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="column is-6-mobile">
                <p>Legal</p>
                <ul>
                    {% for menu in globalService.menu('col4') %}
                        <li>
                            <a class="is-size-5-mobile" href="{{ menu.slug }}">{{ menu.name(app.locale) }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
