<div class="navbar-item dropdown is-hoverable {% if show_cookie_consent() %}is-active{% endif %}" role="region" aria-label="{{ "menu_cookie_consent_headline" | trans }}">
    <div class="dropdown-trigger">
        <button
            class="button cookie-button"
            aria-haspopup="dialog"
            aria-expanded="{% if show_cookie_consent() %}true{% else %}false{% endif %}"
        >
            {% if show_cookie_consent() %}
            <span>{{ "menu_cookie_consent_button" | trans }}</span>
            {% endif %}
            <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-cookie">
        <div class="dropdown-content" role="dialog" aria-labelledby="cookie-form-title" aria-describedby="cookie-form-description">
            <form action="{{ path('app_cookie') }}" method="post" aria-labelledby="cookie-form-title">
                <h2 id="cookie-form-title" class="navbar-item title is-5 mb-0">{{ "menu_cookie_consent_headline" | trans }}</h2>
                <p id="cookie-form-description" class="navbar-item is-6">
                    {{ "menu_cookie_consent_text" | trans }}
                </p>
                <h3 id="cookie-options-title" class="navbar-item title mt-5 mb-0 is-size-6">{{ "menu_cookie_consent_options" | trans }}</h3>
                <div class="navbar-item">
                    <div class="list" role="group" aria-labelledby="cookie-options-title">
                        <div class="list-item mt-0">
                            <div class="list-item-content">
                                <div class="list-item-title">
                                    <label class="checkbox" for="osm_consent_checkbox">
                                        <input
                                            type="checkbox"
                                            name="osm_consent_checkbox"
                                            {% if show_osm() %}checked{% endif %}
                                            id="osm_consent_checkbox"
                                            aria-describedby="osm-description"
                                        />
                                        <strong>{{ "menu_cookie_consent_option_osm" | trans }}</strong>
                                    </label>
                                </div>
                                <div id="osm-description" class="list-item-description has-text-grey is-size-7">
                                    {{ "menu_cookie_consent_option_osm_text" | trans }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar-item">
                    <input
                        type="submit"
                        class="button mr-2 cookieTrigger"
                        data-url="{{ path('app_ajax_cookie_accept') }}"
                        value="{{ "menu_cookie_consent_button_accept" | trans }}"
                        aria-label="{{ "menu_cookie_consent_button_accept" | trans }}"
                        role="button"
                    >
                    <input
                        type="submit"
                        class="button mr-2 cookieTrigger"
                        data-url="{{ path('app_ajax_cookie_deny') }}"
                        value="{{ "menu_cookie_consent_button_deny" | trans }}"
                        aria-label="{{ "menu_cookie_consent_button_deny" | trans }}"
                        role="button"
                    >
                    <a
                        href="{{ path('app_cookie') }}"
                        class="button"
                        aria-label="{{ "menu_cookie_consent_button_status" | trans }}"
                    >{{ "menu_cookie_consent_button_status" | trans }}</a>
                </div>
            </form>
        </div>
    </div>
</div>