<footer class="footer">
    <div class="container">
        <div class="columns is-mobile is-multiline">
            <div class="column is-two-fifths is-hidden-mobile">
                {% set pluginFooterAbout = get_plugin_footer_about() %}
                {% if pluginFooterAbout %}
                    {{ pluginFooterAbout | raw }}
                {% else %}
                    <span>{{ 'chrome.footer_powered_by'|trans }}</span> <a target="_blank" href="https://github.com/xuedi/meetAgain">meetAgain</a>
                {% endif %}
            </div>
            <div class="column is-6-mobile">
                <p>{{ get_footer_column_title('col1') ?: ('chrome.footer_col_help' | trans) }}</p>
                <ul>
                    {% for menu in get_menu('col1') %}
                        {% if menu.slug != 'index' %}
                            <li>
                                <a class="is-size-5-mobile" href="{{ menu.slug }}">{{ menu.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li>
                        <a class="is-size-5-mobile" href="{{ path('app_contact') }}">{{ 'chrome.nav_contact' | trans }}</a>
                    </li>
                    <li>
                        <a class="is-size-5-mobile" href="{{ path('app_api') }}">{{ 'chrome.nav_api' | trans }}</a>
                    </li>
                </ul>
            </div>
            <div class="column is-6-mobile">
                <p>{{ get_footer_column_title('col2') ?: ('chrome.footer_col_platform' | trans) }}</p>
                <ul>
                    {% for menu in get_menu('col2') %}
                        {% if menu.slug != 'index' %}
                            <li>
                                <a class="is-size-5-mobile" href="{{ menu.slug }}">{{ menu.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% for link in get_plugin_footer_links('col2') %}
                        <li>
                            <a class="is-size-5-mobile" href="{{ link.slug }}"{% if link.slug starts with 'http' %} target="_blank" rel="noopener noreferrer"{% endif %}>{{ link.name | trans }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="column is-6-mobile">
                <p>{{ get_footer_column_title('col3') ?: ('chrome.footer_col_social' | trans) }}</p>
                <ul>
                    {% for menu in get_menu('col3') %}
                        {% if menu.slug != 'index' %}
                            <li>
                                <a class="is-size-5-mobile" href="{{ menu.slug }}">{{ menu.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% for link in get_plugin_footer_links('col3') %}
                        <li>
                            <a class="is-size-5-mobile" href="{{ link.slug }}"{% if link.slug starts with 'http' %} target="_blank" rel="noopener noreferrer"{% endif %}>{{ link.name | trans }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="column is-6-mobile">
                <p>{{ get_footer_column_title('col4') ?: ('chrome.footer_col_legal' | trans) }}</p>
                <ul>
                    {% for menu in get_menu('col4') %}
                        {% if menu.slug != 'index' %}
                            <li>
                                <a class="is-size-5-mobile" href="{{ menu.slug }}">{{ menu.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
