<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Chinese/German Culture Exchange in Berlin">

    {% for altLangCode, altLangLink in get_alternative_languages() %}
        <link rel=”alternate” hreflang="{{ altLangCode }}" href="{{ altLangLink }}" />
    {% endfor %}

    <title>{% block title %}meetAgain{% endblock %}</title>

    <link rel="stylesheet" href="/stylesheet/bulma.min.css"/>
    <link rel="stylesheet" href="/stylesheet/fontawesome.min.css"/>
    <link rel="stylesheet" href="/stylesheet/fontawesome-solid.css"/>
    <link rel="stylesheet" href="/stylesheet/fonts.css"/>
    <link rel="stylesheet" href="/stylesheet/custom.css"/>
    <script src="/javascript/custom.js" defer></script>

    {% set colors = get_theme_colors() %}
    <style>
        :root {
            --theme-primary: {{ colors.color_primary }};
            --theme-link: {{ colors.color_link }};
            --theme-info: {{ colors.color_info }};
            --theme-success: {{ colors.color_success }};
            --theme-warning: {{ colors.color_warning }};
            --theme-danger: {{ colors.color_danger }};
            --theme-text-grey: {{ colors.color_text_grey }};
            --theme-text-grey-light: {{ colors.color_text_grey_light }};
        }
    </style>

    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body id="body" class="has-navbar-fixed-top mt-5">
{% include 'base_navbar.html.twig' %}
{% block body %}{% endblock %}
{% for message in app.flashes('success') %}
    <div class="notification is-success flashNotification">
        <button class="delete"></button>
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="notification is-danger flashNotification">
        <button class="delete"></button>
        {{ message }}
    </div>
{% endfor %}
{% include 'base_footer.html.twig' %}
</body>
</html>
