{% extends 'base.html.twig' %}

{% block title %}{{ 'security.rate_limited_title'|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-5">

                    <h1 class="title is-4">{{ 'security.rate_limited_heading'|trans }}</h1>
                    <p class="mb-4">{{ message }}</p>
                    <a class="button" href="{{ path('app_default') }}">{{ 'security.rate_limited_back_home'|trans }}</a>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
