{% extends 'base.html.twig' %}

{% block title %}{{ 'bookclub_book.page_title_add'|trans }} - {{ 'bookclub.page_title'|trans }}{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <nav class="breadcrumb">
            <ul>
                <li><a href="{{ path('app_plugin_bookclub') }}">{{ 'bookclub.page_title'|trans }}</a></li>
                <li class="is-active"><a>{{ 'bookclub_book.breadcrumb_add'|trans }}</a></li>
            </ul>
        </nav>

        <div class="columns">
            <div class="column is-6">
                <h1 class="title">{{ 'bookclub_book.heading_add'|trans }}</h1>
                <p class="subtitle">{{ 'bookclub_book.subtitle_add'|trans }}</p>

                {{ form_start(form) }}
                    <div class="field">
                        {{ form_label(form.isbn, null, {'label_attr': {'class': 'label'}}) }}
                        <div class="control">
                            {{ form_widget(form.isbn, {'attr': {'class': 'input'}}) }}
                        </div>
                        {{ form_errors(form.isbn) }}
                        <p class="help">{{ 'bookclub_book.field_isbn_help'|trans }}</p>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-primary">
                                <span class="icon"><i class="fas fa-search"></i></span>
                                <span>{{ 'bookclub_book.button_lookup'|trans }}</span>
                            </button>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>

            <div class="column is-6">
                <div class="box">
                    <h3 class="title is-5">{{ 'bookclub_book.how_it_works_heading'|trans }}</h3>
                    <div class="content">
                        <ol>
                            <li>{{ 'bookclub_book.how_it_works_step1'|trans }}</li>
                            <li>{{ 'bookclub_book.how_it_works_step2'|trans }}</li>
                            <li>{% if is_granted('ROLE_ORGANIZER') %}{{ 'bookclub_book.how_it_works_step3_manager'|trans }}{% else %}{{ 'bookclub_book.how_it_works_step3_user'|trans }}{% endif %}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
