{% extends 'base.html.twig' %}

{% block title %}{{ 'dinnerclub_lists.page_title'|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ path('app_plugin_dinnerclub') }}">{{ 'dinnerclub.breadcrumb_dishes'|trans }}</a></li>
                    <li class="is-active"><a href="#" aria-current="page">{{ 'dinnerclub_lists.breadcrumb'|trans }}</a></li>
                </ul>
            </nav>

            <div class="level">
                <div class="level-left">
                    <h1 class="title">
                        <span class="icon"><i class="fa-solid fa-list"></i></span>
                        <span>{{ 'dinnerclub_lists.heading'|trans }}</span>
                    </h1>
                </div>
                <div class="level-right">
                    <a href="{{ path('plugin_dinnerclub_lists_create') }}" class="button is-link">
                        <span class="icon"><i class="fa-solid fa-plus"></i></span>
                        <span>{{ 'dinnerclub_lists.button_create_new'|trans }}</span>
                    </a>
                </div>
            </div>

            {% if myLists is empty %}
                <div class="notification is-light">
                    <p>{{ 'dinnerclub_lists.empty'|trans }}</p>
                </div>
            {% else %}
                <div class="columns is-multiline">
                    {% for list in myLists %}
                        <div class="column is-4">
                            <div class="card">
                                <div class="card-content">
                                    <p class="title is-5">
                                        {{ list.name }}
                                        {% if list.isPublic %}
                                            <span class="tag is-success is-light ml-2">{{ 'dinnerclub_lists.tag_public'|trans }}</span>
                                        {% else %}
                                            <span class="tag is-light ml-2">{{ 'dinnerclub_lists.tag_private'|trans }}</span>
                                        {% endif %}
                                    </p>
                                    {% if list.description %}
                                        <p class="subtitle is-6 has-text-grey">{{ list.description|length > 100 ? list.description|slice(0, 100) ~ '...' : list.description }}</p>
                                    {% endif %}
                                    <p class="is-size-7 has-text-grey">
                                        <span class="icon is-small"><i class="fa-solid fa-utensils"></i></span>
                                        {{ list.dishCount }} {{ 'dinnerclub_lists.label_dish_count'|trans }}
                                    </p>
                                </div>
                                <footer class="card-footer">
                                    <a href="{{ path('plugin_dinnerclub_lists_view', {'id': list.id}) }}" class="card-footer-item">
                                        <span class="icon"><i class="fa-solid fa-eye"></i></span>
                                        <span>{{ 'dinnerclub_lists.button_view'|trans }}</span>
                                    </a>
                                    <a href="{{ path('plugin_dinnerclub_lists_edit', {'id': list.id}) }}" class="card-footer-item">
                                        <span class="icon"><i class="fa-solid fa-pen"></i></span>
                                        <span>{{ 'dinnerclub_lists.button_edit'|trans }}</span>
                                    </a>
                                    <a href="{{ path('plugin_dinnerclub_lists_delete', {'id': list.id}) }}" class="card-footer-item has-text-danger"
                                       onclick="return confirm('{{ 'dinnerclub_lists.confirm_delete'|trans|escape('js') }}')">
                                        <span class="icon"><i class="fa-solid fa-trash"></i></span>
                                        <span>{{ 'dinnerclub_lists.button_delete'|trans }}</span>
                                    </a>
                                </footer>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if publicLists is not empty %}
                <hr>
                <h2 class="title is-4">
                    <span class="icon"><i class="fa-solid fa-globe"></i></span>
                    <span>{{ 'dinnerclub_lists.heading_public'|trans }}</span>
                </h2>

                <div class="columns is-multiline">
                    {% for list in publicLists %}
                        <div class="column is-4">
                            <div class="card">
                                <div class="card-content">
                                    <p class="title is-5">{{ list.name }}</p>
                                    {% if list.description %}
                                        <p class="subtitle is-6 has-text-grey">{{ list.description|length > 100 ? list.description|slice(0, 100) ~ '...' : list.description }}</p>
                                    {% endif %}
                                    <p class="is-size-7 has-text-grey">
                                        <span class="icon is-small"><i class="fa-solid fa-user"></i></span>
                                        {{ get_user_name(list.createdBy) }}
                                        <span class="ml-2">
                                            <span class="icon is-small"><i class="fa-solid fa-utensils"></i></span>
                                            {{ list.dishCount }} {{ 'dinnerclub_lists.label_dish_count'|trans }}
                                        </span>
                                    </p>
                                </div>
                                <footer class="card-footer">
                                    <a href="{{ path('plugin_dinnerclub_lists_view', {'id': list.id}) }}" class="card-footer-item">
                                        <span class="icon"><i class="fa-solid fa-eye"></i></span>
                                        <span>{{ 'dinnerclub_lists.button_view'|trans }}</span>
                                    </a>
                                </footer>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="mt-5">
                <a href="{{ path('app_plugin_dinnerclub') }}" class="button">
                    <span class="icon"><i class="fa-solid fa-arrow-left"></i></span>
                    <span>{{ 'dinnerclub_lists.button_back'|trans }}</span>
                </a>
            </div>

        </div>
    </section>

{% endblock %}
