{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/_components/admin_tabs.html.twig' with {'adminTabs': adminTabs} only %}
        {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

        <div class="columns">
            <div class="column is-5">
                <table class="table is-fullwidth">
                    <tbody>
                        <tr>
                            <th>{{ 'admin_security.col_ip'|trans }}</th>
                            <td>{{ incident.ip }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'admin_security.col_session_id'|trans }}</th>
                            <td><code>{{ incident.sessionId }}</code></td>
                        </tr>
                        <tr>
                            <th>{{ 'admin_security.col_triggered_by'|trans }}</th>
                            <td>{{ ('admin_security.provider_label_' ~ incident.triggeredBy)|trans }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'admin_security.col_started'|trans }}</th>
                            <td>{{ incident.startedAt|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'admin_security.col_ended'|trans }}</th>
                            <td>{{ incident.endedAt|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'admin_security.col_blocked'|trans }}</th>
                            <td>
                                {{ incident.blockedUntilDescription }}
                                {% if blockedUntil %}
                                    <span class="has-text-grey">- {{ 'admin_security.release_label'|trans }}: {{ blockedUntil|time_diff }}</span>
                                {% else %}
                                    <span class="has-text-grey">- {{ 'admin_security.block_expired'|trans }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ 'admin_security.col_user_agent'|trans }}</th>
                            <td>{{ incident.userAgent ?: '-' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column is-7">
                <h3 class="title is-5">{{ 'admin_security.heading_provider_reports'|trans }}</h3>
                {% for report in incident.providerReports %}
                    <div class="box mb-3">
                        <div class="level mb-2">
                            <div class="level-left">
                                <strong>{{ ('admin_security.provider_label_' ~ report.providerKey)|trans }}</strong>
                            </div>
                            <div class="level-right">
                                <span class="tag is-medium">{{ 'admin_security.threat_level_label'|trans }}: {{ report.threatLevel }}</span>
                            </div>
                        </div>
                        <progress class="progress is-small {% if report.threatLevel >= 90 %}is-danger{% elseif report.threatLevel >= 70 %}is-warning{% elseif report.threatLevel >= 40 %}is-info{% else %}is-light{% endif %}" value="{{ report.threatLevel }}" max="100">{{ report.threatLevel }}%</progress>
                        <p>{{ report.summary }}</p>
                        {% if report.details is iterable and report.details|length > 0 %}
                            <details class="mt-2">
                                <summary class="has-text-grey">{{ 'admin_security.details_label'|trans }}</summary>
                                <pre class="mt-2">{{ report.details|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                            </details>
                        {% endif %}
                    </div>
                {% else %}
                    <p class="has-text-grey">-</p>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}
