{# Film cell rendered by the shared item-list component (core wraps it in the chosen layout). #}
{% set mode = item_view_mode('film').value %}
{% set showUrl = path('app_plugin_films_film_show', {id: film.id}) %}

{% if mode == 'list' %}
    <td style="vertical-align: middle;">
        <a href="{{ showUrl }}"><figure class="image" style="width: 48px;">{% include '_components/image.html.twig' with {'image': film.posterImage, 'size': '200x300', 'alt': film.title} %}</figure></a>
    </td>
    <td style="vertical-align: middle;"><a href="{{ showUrl }}" class="has-text-weight-medium">{{ film.title }}</a></td>
    <td style="vertical-align: middle;" class="has-text-grey">{{ film.year }}</td>
    <td style="vertical-align: middle;" class="has-text-right">
        {% if is_granted('ROLE_STEWARD') %}
            <a href="{{ path('app_plugin_films_film_edit', {'id': film.id}) }}" title="{{ 'films_film.button_edit'|trans }}">
                <span class="icon"><i class="fa fa-pen-to-square"></i></span>
            </a>
        {% endif %}
    </td>
{% elseif mode == 'grid' %}
    {% include '_components/item/styles/thumb.html.twig' with {
        href: showUrl,
        image: film.posterImage,
        imageSize: '200x300',
        alt: film.title,
        ratio: 'portrait'
    } %}
{% else %}
    {% include '_components/item/styles/portrait.html.twig' with {
        href: showUrl,
        image: film.posterImage,
        imageSize: '200x300',
        title: film.title,
        subtitle: film.year
    } %}
{% endif %}
