
<h1>Hello {{ username }}!</h1>

<p>
    We're sorry to inform you that the <b>{{ eventTitle }}</b> event<br>
    at the <b>{{ eventLocation }}</b> on the <b>{{ eventDate }}</b> has been <b>canceled</b>.
</p>
<p>
    You can still view the event details <a href="{{ host }}/{{ lang }}/event/{{ eventId }}">here</a>.
</p>
<p>
    If you don't like to receive this notification, you can<br>
    switch them off in your <a href="{{ host }}/{{ lang }}/profile/config/">settings</a>
</p>

<p>
    Cheers,<br>
    xuedi & yimu
</p>
