
<h1>Hello {{ username }}!</h1>

<p>
    <b>{{ followedUserName }}</b> plans to attend the <b>{{ eventTitle }}</b> event<br>
     at the <b>{{ eventLocation }}</b> on the <b>{{ eventDate }}</b>.
</p>
<p>
    You can have a look at the Event details <a href="{{ host }}/{{ lang }}/event/{{ eventId }}">here</a>.
</p>
<p>
    If you don't like to receive this notification, you can<br>
    switch them off in your <a href="{{ host }}/{{ lang }}/profile/config/">settings</a>
</p>

<p>
    Cheers,<br>
    xuedi & yimu
</p>
