
{% if status %}
    {% set yes = 'is-success' %}
    {% set no = '' %}
{% else %}
    {% set no = 'is-danger' %}
    {% set yes = '' %}
{% endif %}

<div class="buttons has-addons is-right triggerToggleBlock">
    <a href="{{ link }}" class="button is-small {{ yes }}" data-type="yes">{{ "toggle_yes"|trans }}</a>
    <a href="{{ link }}" class="button is-small {{ no }}" data-type="no">{{ "toggle_no"|trans }}</a>
</div>
