
{% set disabled = '' %}
{% if enabled is defined %}
    {% if not enabled %}
        {% set disabled = 'disabled' %}
        {% set link = '#' %}
    {% endif %}
{% endif %}

{% set no = '' %}
{% set yes = '' %}
{% if status %}
    {% set yes = 'is-success' %}
{% else %}
    {% set no = 'is-danger' %}
{% endif %}
<div class="buttons has-addons is-right">
    <a href="{{ link }}" class="button is-small {{ yes }}" {{ disabled }}>{{ "toggle_yes"|trans }}</a>
    <a href="{{ link }}" class="button is-small {{ no }}" {{ disabled }}>{{ "toggle_no"|trans }}</a>
</div>