{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/system/_tabs_navigation.html.twig' with {'activeSection': 'images'} %}

        <table id="filteredTable" class="table is-fullwidth">
            <thead>
            <tr>
                <th>{{ 'admin_system_images.col_created_at'|trans }}</th>
                <th>{{ 'admin_system_images.col_uploader'|trans }}</th>
                <th></th>
                <th>{{ 'admin_system_images.col_size'|trans }}</th>
                <th>{{ 'admin_system_images.col_type'|trans }}</th>
                <th>{{ 'admin_system_images.col_mime_type'|trans }}</th>
                <th>{{ 'admin_system_images.col_usages'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for image in images %}
                <tr>
                    <td>{{ image.createdAt | date('Y-m-d') }}</td>
                    <td>{{ image.uploader.email }}</td>
                    <td>
                        <div class="dropdown is-hoverable">
                            <div class="dropdown-trigger">
                                <span aria-haspopup="true" aria-controls="dropdown-image">
                                    <span class="icon is-small">
                                        <i class="fas fa-image" aria-hidden="true"></i>
                                    </span>
                                </span>
                            </div>
                            <div class="dropdown-menu" id="dropdown-image" role="menu">
                                <div class="dropdown-content">
                                    <div class="dropdown-item is-hovered">
                                        {% include '_components/image.html.twig' with {'image': image} %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{{ image.size | format_bytes }}</td>
                    <td>{{ image.type.name }}</td>
                    <td>{{ image.mimeType }}</td>
                    <td>
                        {% set cnt = usageCounts[image.id] ?? 0 %}
                        {% if cnt > 0 %}
                            <span class="tag is-light">{{ cnt }}</span>
                        {% else %}
                            <span class="has-text-grey">0</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_admin_system_images_show', {'id': image.id}) }}">
                            <span class="icon"><i class="fa fa-eye"></i></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="buttons mt-4">
            <form action="{{ path('app_admin_regenerate_thumbnails') }}" method="post">
                <button type="submit" class="button is-info" onclick="return confirm('{{ 'admin_system_images.confirm_regenerate_thumbnails'|trans|e('js') }}');">
                    <span class="icon"><i class="fa fa-sync"></i></span>
                    <span>{{ 'admin_system_images.button_regenerate_thumbnails'|trans }}</span>
                </button>
            </form>
            <form action="{{ path('app_admin_cleanup_thumbnails') }}" method="post">
                <button type="submit" class="button is-warning" onclick="return confirm('{{ 'admin_system_images.confirm_cleanup_thumbnails'|trans|e('js') }}');">
                    <span class="icon"><i class="fa fa-trash"></i></span>
                    <span>{{ 'admin_system_images.button_cleanup_thumbnails'|trans }}</span>
                </button>
            </form>
            <form action="{{ path('app_admin_sync_image_locations') }}" method="post">
                <button type="submit" class="button is-primary" onclick="return confirm('{{ 'admin_system_images.confirm_sync_locations'|trans|e('js') }}');">
                    <span class="icon"><i class="fa fa-map-pin"></i></span>
                    <span>{{ 'admin_system_images.button_sync_locations'|trans }}</span>
                </button>
            </form>
        </div>

    </div>

{% endblock %}
