{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/email/_tabs_navigation.html.twig' with {'activeSection': 'sendlog'} %}

        {% if providerAvailable %}
            <div class="mb-4">
                <form method="post" action="{{ path('app_admin_email_sendlog_sync') }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('sync') }}">
                    <button type="submit" class="button is-small is-info">
                        <span class="icon"><i class="fa fa-refresh"></i></span>
                        <span>{{ 'admin_email_sendlog.button_sync'|trans }}</span>
                    </button>
                </form>
            </div>
        {% endif %}

        <table id="filteredTable" class="table is-fullwidth">
            <thead>
            <tr>
                <th>{{ 'admin_email_sendlog.col_created'|trans }}</th>
                <th>{{ 'admin_email_sendlog.col_recipient'|trans }}</th>
                <th>{{ 'admin_email_sendlog.col_status'|trans }}</th>
                <th>{{ 'admin_email_sendlog.col_provider_status'|trans }}</th>
                <th>{{ 'admin_email_sendlog.col_template'|trans }}</th>
                <th>{{ 'admin_email_sendlog.col_dispatched'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for email in emails %}
                <tr>
                    <td>
                        {{ email.createdAt|date('Y-m-d') }}<br>
                        <small class="has-text-grey">{{ email.createdAt|date('H:i:s') }}</small>
                    </td>
                    <td>{{ email.recipient }}</td>
                    <td>
                        {% if email.status.value == 'late' or email.status.value == 'failed' %}
                            <span class="has-text-danger">{{ email.status.value }}</span>
                        {% else %}
                            {{ email.status.value }}
                        {% endif %}
                    </td>
                    <td>
                        {% set ps = email.providerStatus %}
                        {% if ps == 'delivered' %}
                            <span class="tag is-success">delivered</span>
                        {% elseif ps == 'undelivered' %}
                            <span class="tag is-danger">undelivered</span>
                        {% elseif ps == 'queued' %}
                            <span class="tag is-warning">queued</span>
                        {% elseif ps is not null %}
                            <span class="tag is-light">{{ ps }}</span>
                        {% elseif email.providerMessageId %}
                            <span class="has-text-grey">{{ 'admin_email_sendlog.status_pending_sync'|trans }}</span>
                        {% else %}
                            <span class="has-text-grey">–</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if email.template %}
                            <span class="tag is-light">{{ email.template.value }}</span>
                        {% else %}
                            <span class="has-text-grey">-</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if email.providerDispatchedAt %}
                            {{ email.providerDispatchedAt|date('Y-m-d H:i:s') }}
                        {% else %}
                            <span class="has-text-grey">-</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_admin_email_sendlog_show', {'id': email.id}) }}">
                            <span class="icon"><i class="fa fa-eye"></i></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" class="has-text-centered has-text-grey">
                        {{ 'admin_email_sendlog.empty'|trans }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
