{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/email/_tabs_navigation.html.twig' with {'activeSection': 'sendlog'} %}

        <div class="mb-4">
            <a href="{{ path('app_admin_email_sendlog') }}" class="button is-small">
                <span class="icon"><i class="fa fa-arrow-left"></i></span>
                <span>{{ 'global.button_back'|trans }}</span>
            </a>
            {% if email.status.value == 'late' or (email.maxSendBy and email.status.value == 'pending' and email.maxSendBy|date('U') < 'now'|date('U')) %}
                <form method="post" action="{{ path('app_admin_email_sendlog_clear_cap', {id: email.id}) }}" style="display:inline">
                    <input type="hidden" name="_token" value="{{ csrf_token('clear_cap_' ~ email.id) }}">
                    <button type="submit" class="button is-small is-warning">
                        <span class="icon"><i class="fa fa-redo"></i></span>
                        <span>{{ 'admin_email_sendlog.button_clear_cap_retry'|trans }}</span>
                    </button>
                </form>
            {% endif %}
        </div>

        <table class="table is-fullwidth">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ email.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin_email_sendlog.col_template'|trans }}</th>
                    <td>
                        {% if email.template %}
                            <span class="tag is-light">{{ email.template.value }}</span>
                        {% else %}
                            <span class="has-text-grey">-</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'admin_email_sendlog.col_sender'|trans }}</th>
                    <td>{{ email.sender }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin_email_sendlog.col_recipient'|trans }}</th>
                    <td>{{ email.recipient }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin_email_sendlog.col_subject'|trans }}</th>
                    <td>{{ email.subject }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin_email_sendlog.col_language'|trans }}</th>
                    <td>{{ email.lang }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin_email_sendlog.col_status'|trans }}</th>
                    <td>
                        {% if email.status.value == 'late' or email.status.value == 'failed' %}
                            <span class="has-text-danger">{{ email.status.value }}</span>
                        {% else %}
                            {{ email.status.value }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'admin_email_sendlog.col_created_at'|trans }}</th>
                    <td>{{ email.createdAt|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>{{ 'admin_email_sendlog.col_provider_dispatched_at'|trans }}</th>
                    <td>
                        {% if email.providerDispatchedAt %}
                            {{ email.providerDispatchedAt|date('Y-m-d H:i:s') }}
                        {% else %}
                            <span class="has-text-grey">-</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'admin_email_sendlog.col_queue_latency'|trans }}</th>
                    <td>
                        {% if email.providerDispatchedAt and email.createdAt %}
                            {{ (email.providerDispatchedAt|date('U') - email.createdAt|date('U'))|format_duration }}
                        {% elseif email.status.value == 'late' and email.createdAt %}
                            <span class="has-text-danger">
                                {{ ('now'|date('U') - email.createdAt|date('U'))|format_duration }}
                                {{ 'admin_email_sendlog.status_still_in_queue'|trans }}
                            </span>
                        {% else %}
                            <span class="has-text-grey">-</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'admin_email_sendlog.col_max_send_by'|trans }}</th>
                    <td>
                        {% if email.maxSendBy %}
                            {{ email.maxSendBy|date('Y-m-d H:i:s') }}
                        {% else %}
                            <span class="has-text-grey">-</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'admin_email_sendlog.col_provider_message_id'|trans }}</th>
                    <td>
                        {% if email.providerMessageId %}
                            <code>{{ email.providerMessageId }}</code>
                        {% else %}
                            <span class="has-text-grey">-</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'admin_email_sendlog.col_provider_status'|trans }}</th>
                    <td>
                        {% set ps = email.providerStatus %}
                        {% if ps == 'delivered' %}
                            <span class="tag is-success">delivered</span>
                        {% elseif ps == 'undelivered' %}
                            <span class="tag is-danger">undelivered</span>
                        {% elseif ps == 'queued' %}
                            <span class="tag is-warning">queued</span>
                        {% elseif ps is not null %}
                            <span class="tag is-light">{{ ps }}</span>
                        {% else %}
                            <span class="has-text-grey">-</span>
                        {% endif %}
                    </td>
                </tr>
                {% if email.errorMessage %}
                    <tr>
                        <th>{{ 'admin_email_sendlog.col_error'|trans }}</th>
                        <td class="has-text-danger">{{ email.errorMessage }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        <div class="columns">
            <div class="column">
                <div class="box">
                    <h3 class="subtitle">{{ 'admin_email_sendlog.context_variables'|trans }}</h3>
                    <table class="table is-narrow is-bordered is-fullwidth">
                        <tbody>
                            {% for key, value in email.context %}
                                <tr>
                                    <th>{{ key }}</th>
                                    <td>{% if value is iterable %}{{ value|json_encode }}{% else %}{{ value }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="column">
                {% if renderedBody is not null %}
                    <div class="box">
                        <h3 class="subtitle">{{ 'admin_email_sendlog.rendered_message'|trans }}</h3>
                        <p class="mb-4"><strong>{{ 'admin_email_sendlog.col_subject'|trans }}:</strong> {{ renderedSubject }}</p>
                        <hr>
                        <div class="content">
                            {{ renderedBody|raw }}
                        </div>
                    </div>
                {% elseif renderError is not null %}
                    <div class="notification is-warning">
                        {{ 'admin_email_sendlog.rendered_message_error'|trans }}: {{ renderError }}
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}
