{% extends 'base.html.twig' %}

{% block title %}{{ 'developer_apps.edit_title'|trans }}{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title is-4">{{ 'developer_apps.edit_title'|trans }}</h1>
            <p class="subtitle is-6">{{ 'developer_apps.edit_intro'|trans }}</p>
            <div class="box">
                {{ form_start(form) }}
                    <div class="field">
                        <label class="label">{{ 'developer_apps.label_name'|trans }}</label>
                        <div class="control">{{ form_widget(form.appName, {'attr': {'class': 'input', 'maxlength': 80}}) }}</div>
                        {{ form_errors(form.appName) }}
                    </div>
                    <div class="field">
                        <label class="label">{{ 'developer_apps.label_description'|trans }}</label>
                        <div class="control">{{ form_widget(form.description, {'attr': {'class': 'textarea', 'rows': 3, 'maxlength': 500}}) }}</div>
                        {{ form_errors(form.description) }}
                    </div>
                    <div class="field">
                        <label class="label">{{ 'developer_apps.label_homepage'|trans }}</label>
                        <div class="control">{{ form_widget(form.homepageUrl, {'attr': {'class': 'input'}}) }}</div>
                        {{ form_errors(form.homepageUrl) }}
                    </div>
                    <div class="field">
                        <label class="label">{{ 'developer_apps.label_logo'|trans }}</label>
                        <div class="control">{{ form_widget(form.logo) }}</div>
                        {{ form_errors(form.logo) }}
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary" type="submit">{{ 'developer_apps.button_save'|trans }}</button>
                        </div>
                        <div class="control">
                            <a class="button is-light" href="{{ path('app_profile_developer_apps_show', {'id': app.id}) }}">
                                {{ 'global.button_cancel'|trans }}
                            </a>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
