{# Color picker field with live preview #}
{# Parameters: field (form field), help_key (translation key string), text_preview (bool, default false) #}
<div class="column is-3">
    <div class="field">
        {{ form_label(field) }}
        <div class="control is-flex is-align-items-center">
            {{ form_widget(field) }}
            {% if text_preview|default(false) %}
                <span class="ml-3" style="color: {{ field.vars.data }};">{{ 'admin_system.color_picker_sample'|trans }}</span>
            {% else %}
                <span class="tag ml-3" style="background-color: {{ field.vars.data }}; color: {{ light_text|default(true) ? 'white' : 'black' }};">{{ 'admin_system.color_picker_preview'|trans }}</span>
            {% endif %}
        </div>
        <p class="help">{{ help_key|trans }}</p>
    </div>
</div>
