{% extends 'base.html.twig' %}

{% block title %}{{ 'glossary.page_title_new'|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">

                    <h1 class="title is-4">{{ 'glossary.heading_waiting_approval'|trans }}</h1>
                    <div class="box">
                        <p class="mb-5">
                            {{ config.primaryLabel ?? ('glossary.label_phrase'|trans) }}: <b>{{ editItem.phrase }}</b><br>
                            {% if config.secondaryEnabled %}{{ config.secondaryLabel ?? ('glossary.label_pinyin'|trans) }}: <b>{{ editItem.pinyin }}</b><br>{% endif %}
                            {{ config.definitionLabel ?? ('glossary.label_explanation'|trans) }}: <b>{{ editItem.explanation }}</b><br>
                            {% if config.hasCategories %}{{ 'glossary.label_category'|trans }}: <b>{{ item_category_label('glossary', editItem.id)|default('') }}</b><br>{% endif %}
                            {{ 'glossary.label_created_by'|trans }}: <b>{{ get_user_name(editItem.createdBy) }}</b><br>
                            {{ 'glossary.label_created_at'|trans }}: <b>{{ editItem.createdAt | time_diff }}</b><br>
                        </p>
                        <div class="has-text-right">
                            <a href="{{ path('app_plugin_glossary_approval_approve', {id: editItem.id}) }}"
                               class="button is-success"
                               data-post
                               data-csrf-token="{{ csrf_token('app_plugin_glossary_approval_approve' ~ editItem.id) }}">
                                <i class="fas fa-check"></i>
                            </a>
                            <a href="{{ path('app_plugin_glossary_approval_deny', {id: editItem.id}) }}"
                               class="button is-danger"
                               data-post
                               data-csrf-token="{{ csrf_token('admin_glossary_approval_deny' ~ editItem.id) }}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>

                    <a href="{{ path('app_plugin_glossary') }}" class="is-size-7">{{ 'glossary.link_back_to_list'|trans }}</a>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
