{% extends 'base.html.twig' %}

{% block title %}{{ "page_plugin_glossary_delete_title"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-9">
                    {% include '@Glossary/blocks/list.html.twig' %}
                </div>
                <div class="column is-3">
                    {% if is_granted('ROLE_MANAGER') %}
                        <h2 class="title is-5">Delete this phrase?</h2>
                        <div class="box has-background-danger-light">

                            <p class="mb-5">
                                Phrase: <b>{{ editItem.phrase }}</b><br>
                                Pinyin: <b>{{ editItem.pinyin }}</b><br>
                                Explanation: <b>{{ editItem.explanation }}</b><br>
                                Category: <b>{{ editItem.category.name }}</b><br>
                                CreatedBy: <b>{{ editItem.createdBy }}</b><br>
                                CreatedAt: <b>{{ editItem.createdAt | time_diff }}</b><br>
                            </p>
                            <div class="has-text-right">
                                <a class="button is-danger" href="{{ path('app_plugin_glossary_delete', {id: editItem.id}) }}">
                                    <span class="icon">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span>Yes</span>
                                </a>
                            </div>

                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </section>

{% endblock %}

