{% extends 'base.html.twig' %}

{% block title %}{{ 'glossary.page_title_delete'|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-9">
                    {% include '@Glossary/blocks/list.html.twig' %}
                </div>
                <div class="column is-3">
                    {% if is_granted('ROLE_ORGANIZER') %}
                        <h2 class="title is-5">{{ 'glossary.heading_delete_confirm'|trans }}</h2>
                        <div class="box has-background-danger-light">

                            <p class="mb-5">
                                {{ 'glossary.label_phrase'|trans }}: <b>{{ editItem.phrase }}</b><br>
                                {{ 'glossary.label_pinyin'|trans }}: <b>{{ editItem.pinyin }}</b><br>
                                {{ 'glossary.label_explanation'|trans }}: <b>{{ editItem.explanation }}</b><br>
                                {{ 'glossary.label_category'|trans }}: <b>{{ editItem.category.name }}</b><br>
                                {{ 'glossary.label_created_by'|trans }}: <b>{{ editItem.createdBy }}</b><br>
                                {{ 'glossary.label_created_at'|trans }}: <b>{{ editItem.createdAt | time_diff }}</b><br>
                            </p>
                            <div class="has-text-right">
                                <a class="button is-danger" href="{{ path('app_plugin_glossary_delete', {id: editItem.id}) }}">
                                    <span class="icon">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span>{{ 'glossary.button_delete_yes'|trans }}</span>
                                </a>
                            </div>

                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </section>

{% endblock %}
