{% extends 'base.html.twig' %}

{% block title %}{{ 'glossary.page_title_new'|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">

                    <h1 class="title is-4">{{ 'glossary.heading_suggest_change'|trans }}</h1>
                    <div class="box">

                        {{ form_start(form) }}
                        {{ form_row(form.phrase) }}
                        {% if form.pinyin is defined %}{{ form_row(form.pinyin) }}{% endif %}
                        {{ form_row(form.explanation) }}
                        {% if form.category is defined %}{{ form_row(form.category) }}{% endif %}
                        <div class="has-text-right mt-6">
                            <a href="{{ path('app_plugin_glossary') }}" class="button">{{ 'global.button_cancel'|trans }}</a>
                            {% if is_granted('ROLE_ORGANIZER') %}
                                <button type="submit" class="button is-link">{{ 'global.button_save'|trans }}</button>
                            {% else %}
                                <button type="submit" class="button is-link">{{ 'glossary.button_suggest_change'|trans }}</button>
                            {% endif %}
                        </div>
                        {{ form_end(form) }}

                    </div>

                    {% if pendingProposals is not empty %}
                        <h2 class="title is-5">{{ 'glossary.heading_waiting_approval'|trans }}</h2>
                        {% for entry in pendingProposals %}
                            <div class="box has-background-info-light">
                                <p class="mb-2">
                                    <b>{{ entry.proposal.proposedBy.name }}</b>
                                    <span class="has-text-grey">{{ entry.proposal.createdAt|time_diff }}</span>
                                </p>
                                <ul>
                                    {% for row in entry.rows %}
                                        <li>
                                            <b>{{ row.label }}</b>:
                                            <span class="has-text-grey">{{ row.before|default('-') }}</span>
                                            <i class="fas fa-arrow-right is-size-7"></i>
                                            {{ row.after|default('-') }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <a href="{{ path('app_plugin_glossary') }}" class="is-size-7">{{ 'glossary.link_back_to_list'|trans }}</a>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
