{% extends 'base.html.twig' %}

{% block title %}{{ "page_plugin_glossary_title"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-9">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Phrases</th>
                            <th>PinYin</th>
                            <th>Explanation</th>
                            <th>Category</th>
                            <th>Tags</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in glossary %}
                            <tr>
                                <td>{{ item.phrase }}</td>
                                <td>{{ item.pinyin }}</td>
                                <td></td>
                                <td>{{ item.category.name }}</td>
                                <td></td>
                                <td>edit</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="column is-3">
                    <div class="box">

                        {{ form_start(form) }}

                        {{ form_row(form.phrase) }}
                        {{ form_row(form.pinyin) }}
                        {{ form_row(form.category) }}
                        <div class="has-text-right">
                            {{ form_row(form.button) }}
                        </div>

                        {{ form_end(form) }}

                    </div>
                </div>
            </div>



        </div>
    </section>

{% endblock %}

