{% extends 'base.html.twig' %}

{% block title %}{{ 'glossary.page_title_new'|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-9">
                    {% include '@Glossary/blocks/list.html.twig' %}
                </div>
                <div class="column is-3">
                    {% if is_granted('ROLE_USER') %}
                        <h2 class="title is-5">{{ 'glossary.heading_suggest_new'|trans }}</h2>
                        <div class="box">

                            {{ form_start(form) }}
                            {{ form_row(form.phrase) }}
                            {{ form_row(form.pinyin) }}
                            {{ form_row(form.explanation) }}
                            {{ form_row(form.category) }}
                            <div class="has-text-right mt-6">
                                <a href="{{ path('app_plugin_glossary') }}" class="button">{{ 'global.button_cancel'|trans }}</a>
                                <button type="submit" class="button is-link">{{ 'glossary.button_suggest_new'|trans }}</button>
                            </div>
                            {{ form_end(form) }}

                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </section>

{% endblock %}
