{% extends 'base.html.twig' %}

{% block title %}{{ 'glossary.page_title_new'|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-9">
                    {% include '@Glossary/blocks/list.html.twig' %}
                </div>
                <div class="column is-3">
                    {% if is_granted('ROLE_USER') %}

                        <h2 class="title is-5">{{ 'glossary.heading_changes_approval'|trans }}</h2>
                        {% for suggestion in editItem.suggestions %}
                            {% set value = suggestion.value %}
                            {% if suggestion.field.value == categoryFieldValue %}
                                {% set value = categoryNames[suggestion.value]|trans %}
                            {% endif %}
                        <div class="box">
                            <p>
                                <b>{{ get_user_name(suggestion.createdBy) }}</b> suggested {{ suggestion.createdAt | time_diff }} to change the
                                <b>{{ suggestion.field.value }}</b> to '<b>{{ value }}</b>'
                            </p>
                            <div class="has-text-right mt-4">
                                <form method="post" action="{{ path('app_plugin_glossary_suggestion_apply', {id: editItem.id, hash: suggestion.hash}) }}" class="is-inline">
                                    <input type="hidden" name="_token" value="{{ csrf_token('glossary_suggestion_apply' ~ editItem.id ~ suggestion.hash) }}">
                                    <button type="submit" class="button is-success is-small">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </form>
                                <form method="post" action="{{ path('app_plugin_glossary_suggestion_delete', {id: editItem.id, hash: suggestion.hash}) }}" class="is-inline">
                                    <input type="hidden" name="_token" value="{{ csrf_token('glossary_suggestion_delete' ~ editItem.id ~ suggestion.hash) }}">
                                    <button type="submit" class="button is-danger is-small">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>

        </div>
    </section>

{% endblock %}
