{% if actionItems.reportedImages > 0 or actionItems.pendingTranslations > 0 or actionItems.staleEmails > 0 or unverifiedCount > 0 %}
<div class="box has-background-warning-light">
    <h2 class="title is-6">
        <span class="icon"><i class="fa fa-exclamation-triangle"></i></span>
        Action Required
    </h2>
    <div class="tags">
        {% if actionItems.reportedImages > 0 %}
            <a href="{{ path('app_admin_image') }}" class="tag is-danger is-medium">
                <span class="icon"><i class="fa fa-flag"></i></span>
                <span>{{ actionItems.reportedImages }} Reported Image{{ actionItems.reportedImages > 1 ? 's' : '' }}</span>
            </a>
        {% endif %}
        {% if actionItems.pendingTranslations > 0 %}
            <a href="{{ path('app_admin_translation_suggestion') }}" class="tag is-warning is-medium">
                <span class="icon"><i class="fa fa-language"></i></span>
                <span>{{ actionItems.pendingTranslations }} Pending Translation{{ actionItems.pendingTranslations > 1 ? 's' : '' }}</span>
            </a>
        {% endif %}
        {% if actionItems.staleEmails > 0 %}
            <span class="tag is-danger is-medium">
                <span class="icon"><i class="fa fa-envelope"></i></span>
                <span>{{ actionItems.staleEmails }} Stale Email{{ actionItems.staleEmails > 1 ? 's' : '' }} (>1h)</span>
            </span>
        {% endif %}
        {% if unverifiedCount > 0 %}
            <a href="{{ path('app_admin_user') }}" class="tag is-info is-medium">
                <span class="icon"><i class="fa fa-user-clock"></i></span>
                <span>{{ unverifiedCount }} Unverified Account{{ unverifiedCount > 1 ? 's' : '' }}</span>
            </a>
        {% endif %}
    </div>
</div>
{% endif %}
