<div class="box">
    <h2 class="title is-6">Recent Activity - {{ contextLabel }}</h2>
    <table class="table is-narrow is-fullwidth">
        <tbody>
            <tr>
                <td><span class="icon"><i class="fa fa-calendar-check"></i></span> RSVP Yes</td>
                <td class="has-text-right">{{ rsvpStats.yes }}</td>
            </tr>
            <tr>
                <td><span class="icon"><i class="fa fa-calendar-times"></i></span> RSVP No</td>
                <td class="has-text-right">{{ rsvpStats.no }}</td>
            </tr>
            <tr>
                <td><span class="icon"><i class="fa fa-users"></i></span> Social Connections</td>
                <td class="has-text-right">{{ socialStats.total ?? 0 }}</td>
            </tr>
            <tr>
                <td><span class="icon"><i class="fa fa-comments"></i></span> Messages</td>
                <td class="has-text-right">{{ messageStats.total }}</td>
            </tr>
        </tbody>
    </table>
</div>
