{% extends 'base.html.twig' %}

{% block title %}{{ "Book Club"|trans }}{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">Book Club</h1>

        <div class="is-flex is-justify-content-space-between is-align-items-flex-start mb-4">
            <div class="buttons">
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('app_plugin_bookclub_book_add') }}" class="button is-primary">
                        <span class="icon"><i class="fas fa-plus"></i></span>
                        <span>Add Book</span>
                    </a>
                    <a href="{{ path('app_plugin_bookclub_suggestions') }}" class="button is-info">
                        <span class="icon"><i class="fas fa-lightbulb"></i></span>
                        <span>Suggestions</span>
                    </a>
                    <a href="{{ path('app_plugin_bookclub_notes') }}" class="button is-info">
                        <span class="icon"><i class="fas fa-sticky-note"></i></span>
                        <span>My Notes</span>
                    </a>
                {% endif %}
            </div>

            <div class="buttons has-addons">
                <a class="button{% if viewType == 'tiles' %} has-background-link has-text-light{% endif %}" href="{{ path('app_plugin_bookclub_set_view', {type: 'tiles'}) }}">
                    <span class="icon"><i class="fa-solid fa-grip"></i></span>
                </a>
                <a class="button{% if viewType == 'list' %} has-background-link has-text-light{% endif %}" href="{{ path('app_plugin_bookclub_set_view', {type: 'list'}) }}">
                    <span class="icon"><i class="fa-solid fa-list"></i></span>
                </a>
            </div>
        </div>

        {% if books|length > 0 %}
            {% include '@Bookclub/views/' ~ viewType ~ '.html.twig' %}
        {% else %}
            <p class="has-text-grey">No books in the catalog yet.</p>
        {% endif %}

    </div>
</section>
{% endblock %}
