{% extends 'admin/base.html.twig' %}

{% block content %}
<div class="container">

    {% include 'admin/_components/admin_tabs.html.twig' with {'adminTabs': adminTabs} only %}

    <div class="columns">
        <div class="column is-8">

            <h1 class="title is-5">{{ 'admin_secretbox.heading_configuration'|trans }}</h1>

            <table class="table is-narrow is-fullwidth">
                <tbody>
                    <tr>
                        <td>{{ 'admin_secretbox.label_key_present'|trans }}</td>
                        <td>{{ keyPresent ? 'admin_secretbox.status_yes'|trans : 'admin_secretbox.status_no'|trans }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'admin_secretbox.label_key_valid'|trans }}</td>
                        <td>{{ keyValid ? 'admin_secretbox.status_yes'|trans : 'admin_secretbox.status_no'|trans }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'admin_secretbox.label_sodium_loaded'|trans }}</td>
                        <td>{{ sodiumLoaded ? 'admin_secretbox.status_yes'|trans : 'admin_secretbox.status_no'|trans }}</td>
                    </tr>
                </tbody>
            </table>

            <h2 class="title is-5 mt-5">{{ 'admin_secretbox.heading_consumers'|trans }}</h2>

            {% if consumers is empty %}
            <p class="has-text-grey">{{ 'admin_secretbox.no_consumers'|trans }}</p>
            {% else %}
            <table class="table is-narrow is-fullwidth">
                <thead>
                    <tr>
                        <th>{{ 'admin_secretbox.col_subsystem'|trans }}</th>
                        <th>{{ 'admin_secretbox.col_count'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consumer in consumers %}
                    <tr>
                        <td>{{ consumer.label }}</td>
                        <td>{{ consumer.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
