{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_manage"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <h1 class="title">Management</h1>

            <div class="box">
                <h2 class="subtitle has-text-centered">Requested changes to the general translations</h2>
                {% if translationSuggestions|length > 0 %}

                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th>SuggestedAt</th>
                        <th>SuggestedBy</th>
                        <th>Change from</th>
                        <th>Change into</th>
                        <th>Decision</th>
                        <th>History</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for suggestion in translationSuggestions %}
                        {% set translation = suggestion.translation %}
                        <tr>
                            <td>{{ suggestion.createdAt|date(get_date_format()) }}</td>
                            <td>{{ suggestion.createdBy.name }}</td>
                            <td>{{ suggestion.previous }}</td>
                            <td>{{ suggestion.suggestion }}</td>
                            <td>
                                <a class="button is-small is-danger" href="{{ path('app_translation_suggestion_deny', {id: suggestion.id}) }}">Deny</a>
                                <a class="button is-small is-success" href="{{ path('app_translation_suggestion_approve', {id: suggestion.id}) }}">Approve</a>
                            </td>
                            <td>
                                <a class="button is-small" href="{{ path('app_translation_edit', {'id': translation.id, 'lang': translation.language}) }}">show</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p class="has-text-centered">nothing to approve at the moment</p>
                {% endif %}
            </div>

        </div>
    </section>

{% endblock %}
