{% extends 'base.html.twig' %}

{% block title %}{{ "event"|trans }} - {{ event.title(globalService.currentLocale) }} - {{ event.start|date('Y-m-d H:i') }}{% endblock %}

{% block stylesheets %}
    {% if event.hasMap and globalService.showOsm %}
        <link rel="stylesheet" href="{{ '/stylesheet/leaflet.css' }}"/>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if event.hasMap and globalService.showOsm%}
        <script src="{{ '/javascript/leaflet.js' }}" ></script>
    {% endif %}
{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <h1 class="title">{{ event.title(globalService.currentLocale) }}</h1>
            <div class="columns">
                <div class="column is-9">
                    {{ event.description(globalService.currentLocale)|nl2br }}
                    {% if is_granted('ROLE_USER') %}
                        <div class="mt-5 box">
                            {% include 'events/details_rsvp.html.twig'%}
                        </div>
                        <div class="mt-5 box">
                            {% include 'events/details_images.html.twig'%}
                        </div>
                        <div class="mt-5 box">
                            {% include 'events/details_comments.html.twig'%}
                        </div>
                    {% else %}
                        <div class="mt-5">
                            <p>Please <a href="{{ path('app_login') }}">login</a> to post images or write comments</p>
                        </div>
                    {% endif %}
                </div>
                <div class="column is-3">
                    {% include 'events/details_sidepanel.html.twig'%}
                </div>
            </div>


        </div>
    </section>

    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function() {
            let replyInput = document.getElementById('replyInput');
            let replyButton = document.getElementsByClassName('replyButton');
            for (let i = 0; i < replyButton.length; i++) {
                replyButton[i].addEventListener('click', e => {
                    e.preventDefault();
                    replyInput.value = '> ' + e.currentTarget.getAttribute('data-comment') + '\n';
                });
            }
        });

        {% if event.hasMap and globalService.showOsm %}
            {% include 'events/detailsOpenStreetMap.js.twig' %}
        {% endif %}
    </script>


{% endblock %}
