{% extends 'base.html.twig' %}

{% block title %}{{ "event"|trans }} - {{ event.title(app.locale) }} - {{ event.start|date(get_date_format()) }}{% endblock %}
{% block meta_description %}{{ event.description(app.locale)|striptags|slice(0, 160) ?: (event.title(app.locale) ~ ' - ' ~ event.start|date(get_date_format())) }}{% endblock %}
{% block og_type %}event{% endblock %}
{% block og_image %}{% if event.previewImage %}<meta property="og:image" content="{{ json_ld.image[0]|default('') }}"/><meta property="og:image:alt" content="{{ event.title(app.locale) }}"/>{% endif %}{% endblock %}
{% block twitter_image %}{% if event.previewImage %}<meta name="twitter:image" content="{{ json_ld.image[0]|default('') }}"/>{% endif %}{% endblock %}
{% block json_ld %}<script type="application/ld+json">{{ json_ld|json_encode(constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_PRETTY_PRINT'))|raw }}</script>{% endblock %}


{% block javascripts %}
    {% if event.hasMap and show_osm() %}
        <script src="{{ asset('js/vendor/leaflet.js') }}" ></script>
    {% endif %}
    {% if is_granted('ROLE_USER') and event.images|length > 0 %}
        <script src="{{ asset('js/vendor/fancybox.umd.js') }}" ></script>
    {% endif %}
    <script src="{{ asset('js/event-details.js') }}" defer></script>
{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <h1 class="title">
                {{ event.title(app.locale) }}
                {% if event.canceled %}
                    <span class="tag is-danger is-medium ml-2">{{ "Canceled"|trans }}</span>
                {% endif %}
            </h1>
            {% if event.canceled %}
                <div class="notification is-danger is-light mb-5">
                    <strong>{{ "This event has been canceled."|trans }}</strong>
                </div>
            {% endif %}
            <div class="columns">
                <div class="column is-9">
                    <div class="content">
                        {{ event.description(app.locale)|nl2br }}
                    </div>
                    {% if is_granted('ROLE_USER') %}
                        <div class="mt-5 box">
                            {% include 'events/details/rsvp.html.twig'%}
                        </div>
                        <div class="mt-5 box">
                            {% include 'events/details/images.html.twig'%}
                        </div>
                        <div class="mt-5 box">
                            {% include 'events/details/comments.html.twig'%}
                        </div>
                    {% else %}
                        <div class="mt-5">
                            <div class="tags">
                                <span class="tag has-background-grey has-text-light">RSVP</span>
                                {% for user in event.rsvp %}
                                    <span class="tag">{{ user.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="notification has-text-centered mt-6 is-warning">
                            <p>
                                Please <a class="is-bold" href="{{ path('app_login') }}">login</a> to see and post, comments and pictures.
                            </p>
                            <p class="mt-2">
                                If you have not registered yet, please <a href="{{ path('app_register') }}">register</a>.
                            </p>
                        </div>
                    {% endif %}
                </div>
                <div class="column is-3">
                    {% include 'events/details/sidepanel.html.twig'%}
                </div>
            </div>


        </div>
    </section>


{% endblock %}
