{% extends 'base.html.twig' %}

{% block title %}{{ "event"|trans }} - {{ event.title(globalService.currentLocale) }} - {{ event.start|date('Y-m-d H:i') }}{% endblock %}

{% block stylesheets %}
    {% if event.hasMap and globalService.showOsm %}
        <link rel="stylesheet" href="{{ asset('css/leaflet.css') }}"/>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if event.hasMap and globalService.showOsm%}
        <script src="{{ asset('leaflet.js') }}" ></script>
    {% endif %}
{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <h1 class="title">{{ event.title(globalService.currentLocale) }}</h1>
            <div class="columns">
                <div class="column is-9">
                    {{ event.description(globalService.currentLocale)|nl2br }}
                    <div class="mt-5">
                        <h2 class="title is-4">RSVP
                            {% if is_granted('ROLE_USER') %}
                                {% set link = path('app_event_toggle_rsvp', {'event': event.id}) %}
                                {% if event.rsvp.contains(app.user) %}
                                    <a href="{{ link }}" class="button is-danger is-small ml-4">
                                        <span class="icon"><i class="fa fa-minus"></i></span><span>Remove me</span>
                                    </a>
                                {% else %}
                                    <a href="{{ link }}" class="button is-success is-small ml-4">
                                        <span class="icon"><i class="fa fa-plus"></i></span><span>Add me</span>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </h2>
                        <div class="columns is-multiline mt-2">
                            {% for rsvp in event.rsvp %}
                                <div class="column is-2">
                                    {% include '_block/usercard.html.twig' with {'user': rsvp} %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="mt-5">
                        <h2 class="title is-4">{{ "Images"|trans }}</h2>
                        ...
                    </div>
                    <div class="mt-5">
                        <h2 class="title is-4">{{ "Comments"|trans }}</h2>
                        <div class="columns">
                            <div class="column is-four-fifths">
                                {% for comment in comments %}
                                    {% include '_block/comment.html.twig' with {'comment': comment, 'user': user, 'event': event} %}
                                {% endfor %}
                                {% if is_granted('ROLE_USER') %}
                                    {{ form_start(commentForm) }}
                                    {{ form_row(commentForm.comment, { 'id': 'replyInput' }) }}
                                    <button class="button is-link">{{ "button_add" | trans }}</button>
                                    {{ form_end(commentForm) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-3">
                    {% include '_block/image.html.twig' with {'image': event.previewImage, 'size': '600x400'} %}
                    <div class="box mt-5">
                        <strong>{{ event.start|date('d. F Y') }}</strong>
                        <p>
                            {{ event.start|date('H:i') }} to {{ event.start|date('H:i') }}<br>
                            {% if event.recurringRule is defined and event.recurringRule.name is defined %}
                                Recurring: {{ event.recurringRule.name }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="box mt-5">
                        <h2 class="title is-4">Hosts</h2>
                        <div class="columns is-multiline">
                            {% for host in event.host %}
                                <div class="tag is-large m-1">{{ host.user.name }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="box mt-5">
                        <h2 class="title is-4">Location</h2>
                        <strong>{{ event.location.name }}</strong>
                        <p>
                            {{ event.location.street }}<br>
                            {{ event.location.postcode }} {{ event.location.city }}
                        </p>
                        {% if event.hasMap and globalService.showOsm %}
                            <div class="mt-3" id="osm-map"></div>
                        {% endif %}
                    </div>
                </div>
            </div>


        </div>
    </section>

    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function() {
            let replyInput = document.getElementById('replyInput');
            let replyButton = document.getElementsByClassName('replyButton');
            for (let i = 0; i < replyButton.length; i++) {
                replyButton[i].addEventListener('click', e => {
                    e.preventDefault();
                    replyInput.value = '> ' + e.currentTarget.getAttribute('data-comment') + '\n';
                });
            }
        });

        {% if event.hasMap and globalService.showOsm %}
            {% include 'events/detailsOpenStreetMap.js.twig' %}
        {% endif %}
    </script>


{% endblock %}
