{% extends 'base.html.twig' %}

{% block title %}{{ "events.page_title_featured"|trans }}{% endblock %}
{% block meta_description %}{{ "events.meta_description_featured"|trans }}{% endblock %}

{% block body %}


    <section class="section">
        <div class="container">

            <h1 class="title">{{ 'events.featured_heading'|trans }}</h1>
            <p>
                {{ 'events.featured_intro'|trans }}{% if featured is empty %} {{ 'events.featured_empty'|trans }}{% endif %}
            </p>

            <div class="columns is-multiline mt-5">
                {% for event in featured %}
                    <a class="column is-one-third" href="{{ path('app_event_details', {'id': event.id}) }}">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    {% include '_components/image.html.twig' with {'image': event.previewImage} %}
                                </figure>
                            </div>
                            <div class="card-content">
                                <h2 class="title is-5">{{ event.title(app.locale) }}</h2>
                                <p class="subtitle is-6">{{ event.location.name }} - {{ event.start | time_diff }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>

            <h1 class="title mt-5">{{ 'events.featured_recent_heading'|trans }}</h1>
            <p>
                {{ 'events.featured_recent_intro'|trans({'%events_link%': '<a href="' ~ path('app_event') ~ '">' ~ ('events.featured_recent_link_label'|trans) ~ '</a>'})|raw }}
            </p>
            <div class="columns is-multiline mt-5">
                {% for event in last %}
                    <a class="column is-one-third" href="{{ path('app_event_details', {'id': event.id}) }}">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    {% include '_components/image.html.twig' with {'image': event.previewImage} %}
                                </figure>
                            </div>
                            <div class="card-content">
                                <h2 class="title is-5">{{ event.title(app.locale) }}</h2>
                                <p class="subtitle is-6">{{ event.location.name }} - {{ event.start | time_diff }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>

        </div>
    </section>


{% endblock %}
