{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_event"|trans }}{% endblock %}

{% block body %}

    <section class="section mt-1 is-hidden-desktop has-text-centered">
        <a class="button has-background-info-light" href="{{ path('app_event_featured') }}">
                        <span class="icon has-text-warning">
                            <i class="fa-regular fa-star"></i>
                        </span>
            <span>{{ "events_featured_button" | trans }}</span>
        </a>
    </section>

    <section class="section mt-1 is-hidden-mobile">
        <div class="container">

            <nav class="level">
                <!-- Left side -->
                <div class="level-left">
                    <div class="level-item">
                        {{ form_start(filter, {'attr': {'id': 'eventFilter'}}) }}

                        {{ form_row(filter.time) }}
                        {{ form_row(filter.sort) }}
                        {{ form_row(filter.type) }}
                        {{ form_row(filter.rsvp) }}

                        <button class="button is-link">{{ "button_filter" | trans }}</button>
                        {{ form_end(filter) }}
                    </div>
                </div>

                <!-- Right side -->
                <div class="level-right">
                    <a class="button has-background-info-light" href="{{ path('app_event_featured') }}">
                        <span class="icon has-text-warning">
                            <i class="fa-regular fa-star"></i>
                        </span>
                        <span>{{ "events_featured_button" | trans }}</span>
                    </a>
                </div>
            </nav>

        </div>
    </section>



    {% for item in structuredList %}
        <section class="section py-3 is-hidden-mobile">
            <div class="container">

                <div class="columns">
                    <div class="column is-2">
                        <div class="mt-1">
                            <div class=" is-size-5">{{ item.month }} {{ item.year }}</div>
                        </div>
                    </div>
                    <div class="column is-10">
                        <hr>
                    </div>
                </div>

            </div>
        </section>

        {% for event in item.events %}
            <section class="section py-3">
                <div class="container">
                    <div class="columns">
                        <div class="column is-2 is-hidden-mobile">
                            <div class="mt-1">
                                <p class="has-text-centered is-size-6">{{ event.start|date('D')|upper }}</p>
                                <p class="has-text-centered is-size-3 has-text-weight-bold">{{ event.start|date('d') }}</p>
                            </div>
                        </div>
                        <div class="column is-7">
                            <p class="subtitle is-7 mb-3">{{ event.start|date('d. F Y @ H:i') }}</p>
                            <a class="title is-4 mt-1" href="{{ path('app_event_details', { 'id': event.id }) }}">{{ event.title(globalService.currentLocale) }}</a>
                            <p class="mt-3">
                                {% if event.teaser(globalService.currentLocale) is not null and event.teaser(globalService.currentLocale) is not empty %}
                                    {{ event.teaser(globalService.currentLocale) }}
                                {% else %}
                                    {{ event.description(globalService.currentLocale)|slice(0, 240) }} ...
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_admin_event_edit', {'id': event.id}) }}">
                                    <span class="icon"><i class="fa fa-edit"></i></span>
                                </a>
                                {% endif %}
                            </p>
                            <p class="mt-3">
                                <span class="tag is-warning">RSVP</span>
                                {% for user in event.rsvp %}
                                    <span class="tag">{{ user.name }}</span>
                                {% endfor %}
                            </p>
                        </div>
                        <div class="column is-3">
                            <figure class="image is-3by2">
                                <a href="{{ path('app_event_details', { 'id': event.id }) }}">
                                    {% include '_block/image.html.twig' with {'image': event.previewImage, 'size': '600x400'} %}
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section py-3 is-hidden-tablet">
                <div class="container">
                    <div class="column is-10">
                        <hr>
                    </div>
                </div>
            </section>

        {% endfor %}

    {% endfor %}

{% endblock %}
