{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">
        <div class="columns">
            {% for locationId, locationName in menu_locations %}
                <div class="column">
                    <h2 class="title is-5">{{ locationName }}</h2>
                    <ul>
                        {% for item in items %}
                            {% if locationId == item.location.value %}
                                <li>
                                    {% include 'admin/menu/menu_card.html.twig' with {'item': item} %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container box mt-6">
        <div class="has-text-centered mb-4">
            {% if edit is null %}
                <h1 class="title is-4">{{ "admin_menu_add" | trans }}</h1>
            {% else %}
                <h1 class="title is-4">{{ "admin_menu_edit" | trans }}</h1>
            {% endif %}
        </div>
        {{ form_start(form) }}
        <div class="columns">
            <div class="column">
                <div class="box">
                    <h1 class="title is-5">Settings</h1>
                    {{ form_row(form.type) }}
                    {{ form_row(form.visibility) }}
                    {{ form_row(form.location) }}
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <h1 class="title is-5">Type options</h1>
                    {{ form_row(form.slug) }}
                    {{ form_row(form.cms) }}
                    {{ form_row(form.event) }}
                    {{ form_row(form.route) }}
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <h1 class="title is-5">Titles translations</h1>
                    {% for locale in globalService.languageCodes %}
                        {{ form_row(form.("name-"~locale)) }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div class="has-text-centered">
                {% if edit is null %}
                    <button class="button is-link">{{ "button_add" | trans }}</button>
                {% else %}
                    <button class="button is-link">{{ "button_save" | trans }}</button>
                {% endif %}
                {% if edit is not null %}
                    <a class="button is-danger" href="{{ path('app_admin_menu_delete', {'id': edit}) }}" title="Delete">
                        <span class="icon"><i class="fa fa-trash"></i></span>
                    </a>
                {% endif %}
            </div>
        </div>
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>


    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('menu_type').addEventListener('change', event => {
                event.preventDefault();

                if (event.currentTarget.value === '0') {
                    document.getElementById('menu_slug').removeAttribute('disabled');
                } else {
                    document.getElementById('menu_slug').setAttribute('disabled', 'disabled');
                }

                if (event.currentTarget.value === '1') {
                    document.getElementById('menu_cms').removeAttribute('disabled');
                } else {
                    document.getElementById('menu_cms').setAttribute('disabled', 'disabled');
                }

                if (event.currentTarget.value === '2') {
                    document.getElementById('menu_event').removeAttribute('disabled');
                } else {
                    document.getElementById('menu_event').setAttribute('disabled', 'disabled');
                }

                if (event.currentTarget.value === '3') {
                    document.getElementById('menu_route').removeAttribute('disabled');
                } else {
                    document.getElementById('menu_route').setAttribute('disabled', 'disabled');
                }

            });
        });

    </script>


{% endblock %}
