{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">
        <div class="columns">
            {% for locationId, locationName in menu_locations %}
                <div class="column">
                    <h2 class="title is-5">{{ locationName }}</h2>
                    <ul>
                        {% for item in items %}
                            {% if locationId == item.location.value %}
                                <li>
                                    {% include 'admin/menu/menu_card.html.twig' with {'item': item} %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="box mt-6">
        {{ form_start(form) }}
        {{ form_row(form.slug) }}
        / cms / event / app_routelist (stored as an enum?)
        <br>
        <br>
        <div class="columns">
            <div class="column is-7">
                {{ form_widget(form) }}
                {% if edit is null %}
                    <button class="button is-link">{{ "button_add" | trans }}</button>
                {% else %}
                    <button class="button is-link">{{ "button_save" | trans }}</button>
                {% endif %}

            </div>
            <div class="column is-5">
                <label class="label required">Titles</label>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
