<div class="card mb-2">
    <div class="card-content p-3">
        <div class="content">
            <div class="is-pulled-right has-text-right">
                {% set link = path('app_admin_menu_up', {'id': item.id}) %}
                <a href="{{ link }}">
                    <span class="icon"><i class="fa fa-angle-up"></i></span>
                </a>
                <br>
                {% set link = path('app_admin_menu_down', {'id': item.id}) %}
                <a href="{{ link }}">
                    <span class="icon"><i class="fa fa-angle-down"></i></span>
                </a>
            </div>
            <p class="title is-6 mb-5">
                {{ item.translatedName(app.locale) }}
            </p>
            <p class="subtitle is-6">
                {% set link = path('app_admin_menu', {'edit': item.id}) %}
                <a href="{{ link }}" class="is-small is-link is-light">
                    <span class="icon"><i class="fas fa-edit has-text-grey"></i></span>
                </a>
                <a href="{{ item.slug }}" target="_blank">
                    <span class="icon"><i class="fas fa-arrow-up-right-from-square has-text-grey"></i></span>
                </a>
            </p>
        </div>
    </div>
</div>